<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<input type="hidden" name="{VAR:NAME}" value="{VAR:VALUE}" />
<img id="{VAR:SELECTORNAME}btnLeft" style="width:7%;max-width:20px;" OnClick="document.getElementsByName('{VAR:NAME}')[0].value--;
                                     document.getElementById('{VAR:SELECTORNAME}skinpreview').src='{VAR:HOST}system/skins/' + {VAR:SELECTORNAME}skins[document.getElementsByName('{VAR:NAME}')[0].value-1]['name'] + '/screenshot.jpg';
									 document.getElementById('{VAR:SELECTORNAME}skinpreview').title = {VAR:SELECTORNAME}skins[document.getElementsByName('{VAR:NAME}')[0].value-1]['name'];
                                     document.getElementById('{VAR:SELECTORNAME}btnRight').style.visibility='visible';
                                     if(1 == document.getElementsByName('{VAR:NAME}')[0].value){
                                         document.getElementById('{VAR:SELECTORNAME}btnLeft').style.visibility='hidden'
                                     };"
                             src="{VAR:HOST}system/images/btnLeft.gif" />
<img id="{VAR:SELECTORNAME}skinpreview" style="border:1px solid #aaa;width:50%;max-width:195px;max-height:95px" title="{VAR:CURRENTSKINNAME}" src="{VAR:HOST}system/skins/{VAR:CURRENTSKINNAME}/screenshot.jpg" />
<img id="{VAR:SELECTORNAME}btnRight" style="width:7%;max-width:20px;" OnClick="document.getElementsByName('{VAR:NAME}')[0].value++;
                                      document.getElementById('{VAR:SELECTORNAME}skinpreview').src='{VAR:HOST}system/skins/' + {VAR:SELECTORNAME}skins[document.getElementsByName('{VAR:NAME}')[0].value-1]['name'] + '/screenshot.jpg';
									  document.getElementById('{VAR:SELECTORNAME}skinpreview').title = {VAR:SELECTORNAME}skins[document.getElementsByName('{VAR:NAME}')[0].value-1]['name'];
                                      if({VAR:SELECTORNAME}skins.length == document.getElementsByName('{VAR:NAME}')[0].value){
                                          document.getElementById('{VAR:SELECTORNAME}btnRight').style.visibility='hidden';
                                      }
                                      document.getElementById('{VAR:SELECTORNAME}btnLeft').style.visibility='visible';" 
                             src="{VAR:HOST}system/images/btnRight.gif" />
<script language="JavaScript">
  var {VAR:SELECTORNAME}skins = new Array();
  {LOOP:SKINS}
    {VAR:SELECTORNAME}skins[{VAR:INDEX}] = new Object();
    {VAR:SELECTORNAME}skins[{VAR:INDEX}]["id"] = "{VAR:SKINID}";
    {VAR:SELECTORNAME}skins[{VAR:INDEX}]["name"] = "{VAR:SKINNAME}";
  {/LOOP:SKINS}
  if({VAR:SELECTORNAME}skins.length == document.getElementsByName("{VAR:NAME}")[0].value){
    document.getElementById('{VAR:SELECTORNAME}btnRight').style.visibility='hidden';
  }
  if(1 == document.getElementsByName('{VAR:NAME}')[0].value){
    document.getElementById('{VAR:SELECTORNAME}btnLeft').style.visibility='hidden';
  }
</script>
