<!--
   errorlist.html
   
   Copyright 2016 Samuel Rüegger <rueegger@posteo.de>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:DELTRUE}
<p><strong>Das Error Log wurde gelöscht!</strong></p>
{/IF:DELTRUE}

<p style="text-align:center">
	<textarea rows="50" cols="57" name="errorlog" id="errorlog">{VAR:ERRORLOG}</textarea>
</p>
<p><a href="./home.html?dellog=true">Error Log löschen</a>!</p>
