<!--
   listform.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<a name="comments">&nbsp;</a>
<section class="comment">
	<h3 class="heading3">{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENTS}</h3>
	<ul class="maincomment">
		{LOOP:COMMENTS}
		<li>
			<img width="60px" style="max-width: 60px;" src="{VAR:AUTHORIMG}" alt="{VAR:SHOWAUTHORNAME}" />
			<div class="entry-meta">
				<span class="published">{VAR:SHOWAUTHOR}</span>
				<br />
				<span class="published">{VAR:DATETIME}</span> 
				<span><a href="/melden.html?source=blogcomment">{LANG:PLUGIN_MELDEN_MELDBLOGCOMMENT}</a></span>
			</div>
			<div class="commentdetail">
				{VAR:AUTHORCOMMENT}
			</div>
		</li>
		<hr />
		{/LOOP:COMMENTS}
	</ul>
</section>
{IF:FORM}
<section class="leavecomment">
	<h3 class="heading3">{LANG:PLUGIN_BLOGLANGUAGEPACKS_NEWCOMMENT}</h3>
	<form class="smform clearfix" method="post" onsubmit="plugin_blogcomments_check()">
		<ul class="clearfix">
			<li>
				<label for="plugin_blogcomments_authorcomment">{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENT} <span class="required">*</span></label>
				<span class="editbar">
					<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
					<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
					<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
					<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
					<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
					<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
					<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
				</span>
			</li>
			<li>
				<label>&nbsp;</label>
				<textarea required="required" class="required" rows="12" cols="65" id="plugin_blogcomments_authorcomment" name="plugin_blogcomments_authorcomment"></textarea>
				<script type="text/javascript">
					initEditor("plugin_blogcomments_authorcomment", false);
				</script>
			</li>
			<li>
				<br />
				<input type="hidden" name="plugin_blogcomments_pageid" value="{VAR:PAGEID}" />
				<input name="plugin_blogcomments_newcommentsave" type="submit" value="{LANG:SAVE}">
			</li>
		</ul>
	</form>
</section>
{/IF:FORM}
{IF:NOFORM}
<p>
	{LANG:PLUGIN_BLOGLANGUAGEPACKS_MUSTLOGIN}
	<ul class="listoption1">
		<li><a href="/login.html">{LANG:PLUGIN_REGISTER2_GOLOGIN}</a>
		<li><a href="/registrieren.html">{LANG:PLUGIN_REGISTER2_GOREGISTER}</a>
	</ul>
</p>
{/IF:NOFORM}
