<!--
   listform.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<!-- comments section wrapper starts -->
<div class="commentsSectionWrapper">
	<h4 class="commentsTitle">{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENTS}</h4>
	<!-- comments wrapper starts -->
	<div class="commentsWrapper">
		{LOOP:COMMENTS}
		<!-- comment wrapper starts -->
		<div class="commentWrapper">
			<a href="" class="commentAvatar"><img src="{VAR:AUTHORIMG}" /></a>
			<p class="commentInfoWrapper">{LANG:PLUGIN_EVENTS_BY} 
			{VAR:SHOWAUTHOR}
			{LANG:PLUGIN_EVENTS_AM} 
			{VAR:DATETIME}</p>
			<div class="clear"></div>
			<div class="comment">
				<p>{VAR:AUTHORCOMMENT}</p>
			</div>
		</div>
		<!-- comment wrapper ends --> 
	{/LOOP:COMMENTS}
	<!-- comment wrapper ends --> 
</div>
<!-- coments wrapper ends --> 
<!-- comments form wrapper starts -->
<div class="commentsFormWrapper">
	{IF:FORM}
	<h4 class="commentsTitle commentsFormTitle">{LANG:PLUGIN_BLOGLANGUAGEPACKS_NEWCOMMENT}</h4>
		<form action="#" method="post" class="commentsForm" id="commentsForm" onsubmit="plugin_blogcomments_check()">
			<fieldset> 
			<div class="formTextareaWrapper">
				<label for="plugin_blogcomments_authorcomment">{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENT}</label>
				<textarea name="plugin_blogcomments_authorcomment" class="commentTextarea commentCommentTextarea" id="plugin_blogcomments_authorcomment"></textarea>
			</div>
			<input type="hidden" name="plugin_blogcomments_pageid" value="{VAR:PAGEID}" />
			<input type="submit" name="plugin_blogcomments_newcommentsave" class="buttonWrapper commentSubmitButton" id="commentSubmitButton" value="{LANG:SAVE}" />
		</fieldset>
	</form>
	{/IF:FORM}
	{IF:NOFORM}
	<p>
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_MUSTLOGIN}
		<a href="/login.html">{LANG:PLUGIN_REGISTER2_GOLOGIN}</a><br />
		<a href="/registrieren.html">{LANG:PLUGIN_REGISTER2_GOREGISTER}</a>
	</p>
	{/IF:NOFORM}
</div>
<!-- coments form wrapper ends --> 
</div>
<!-- comments section wrapper ends -->
