<!--
   settings.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<form method="post" name="plugin_blogcomments_settingsform">
	<p>
		<strong>{LANG:PLUGIN_BLOGLANGUAGEPACKS_GRAVATAR}:</strong>
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_GRAVATARDESCRIPTION}
		<select name="plugin_blogcomments_gravatar">
			<option value="1"{VAR:SELECTEDYES}>Ja</option>
			<option value="0"{VAR:SELECTEDNO}>Nein</option>
		</select>
	</p>
	<p><input type="submit" value="{LANG:CHANGE}" name="plugin_blogcomments_save"></p>
</form>

<h2>{LANG:PLUGIN_BLOGLANGUAGEPACKS_TITLE_MANAGECOMMENTS}</h2>
<p>{LANG:PLUGIN_BLOGLANGUAGEPACKS_EDITCOMMENTS}</p>
<ul>
	{LOOP:ENTRIES}
	<li><a href="{VAR:ENTRYURL}">{VAR:ENTRYTITLE}</a></li>
	{/LOOP:ENTRIES}
</ul>

{IF:EDITCOMMENTS}
	<p>{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENTS}:</p>
	<ul>
		{LOOP:COMMENTS}
		<li><strong>{VAR:COMMENTAUTHOR}</strong><br />{VAR:COMMENTCONTENT}
			<a href="{VAR:COMMENTEDITURL}"><img src="{ICON:PAGE_EDIT}" /></a>
			<a href="{VAR:COMMENTDELETEURL}"><img src="{ICON:CROSS}" /></a>
		</li>
		{/LOOP:COMMENTS}
	</ul>
{/IF:EDITCOMMENTS}

{IF:EDITCOMMENT}
<form name="plugin_blogcomments_editcomment" method="post">
	<p>
		{LANG:NAME}
		<br />
		<input type="text" name="editauthorname" value="{VAR:EDITCOMMENTAUTHOR}" />
	</p>
	<p>
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_COMMENT}
		<br />
		<textarea name="editauthorcomment" rows="20" cols="50">{VAR:EDITCOMMENTCONTENT}</textarea>
	</p>
	<p>
		<input type="submit" name="editcommentsave" value="{LANG:CHANGE}" />
	</p>
</form>
{/IF:EDITCOMMENT}
