<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<form style="float:left;width:100%" action="{VAR:URL}" method="post">
  {LANG:ROLE}: {VAR:Roles}
  <hr />
    <table style="width:100%">
      {LOOP:SETTINGS}
        <tr>
          <td>
            <label for="{VAR:PROPERTY}">
              {VAR:DESCRIPTION}
            </label>
          </td>
          <td>
            {VAR:CONTROL}
          </td>
        </tr>
      {/LOOP:SETTINGS}
    </table>
    <br />
    <input type="submit" name="save" value="{LANG:SAVE}" />
</form>
