/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */

body{
  background-color: #0c0c0c;
  background-image: url('images/bg.png');
  background-repeat:repeat-x;
  font-family:Verdana,non-serif; 
  margin:0;
  padding:0;
  font-size:12px;
}
#globalmenu{
  background-color:#2a2a2a;
  height:167px;
  margin:0;
  color:#fff;
}
#globalmenu ul{
  list-style-type:none;
  padding:0;
  width:240px;
}
#container{
  text-align:left;
}
#content{
  padding:14px;
  min-height:300px;
}
#localmenu{
  float:left;
}
img{
  border:0;
}
#container{
  width:619px;
  margin: 0 auto;
  background-color:#fff;
}
#pagetitle{
  font-size:24px;
  padding-top:21px;
  padding-bottom:21px;
  padding-left:14px;
  margin:0;
  font-weight: 700;
  color: #a60000;
}
h2{
  font-size:14px;
}
h1,h2,h3,h4,h5,h6 {
  color: #a60000;
}
#footer{
  background-color:#2a2a2a;
  color:#fff;
  text-align:right;
  padding:8px;
}
#globalmenu img{
  height:167px;
}
#menu{
  float:right;
}
#menu a{
  color:#fff;
  text-decoration:none;
  font-size:12px;
}
#content{
  width:360px;
}
#footer a{
  color:#fff;
}
#breadcrumb{
  clear:left;
}
label{
  width:120px;
  display:block;
  float:left;
  clear:left;
}
input{
  margin-bottom:4px;
}
.formsubmit{
  margin-left:119px;
}
