<!--
   overvieweditable.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<h2>{LANG:PLUGIN_BLOGLANGUAGEPACKS_EDITABLETITLE}</h2>
<p>
	{LANG:PLUGIN_BLOGLANGUAGEPACKS_EXCERPT}
	<small>{LANG:PLUGIN_BLOGLANGUAGEPACKS_ZERO}</small>
	<input type="text" size="5" name="plugin_blogoverview_excerpt" value="{VAR:PLUGIN_BLOGOVERVIEW_EXCERPT}" />
</p>
<p>
	{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRIESPERPAGE}
	<input type="text" size="5" name="plugin_blogoverview_entriesperpage" value="{VAR:PLUGIN_BLOGOVERVIEW_ENTRIESPERPAGE}" />
</p>
<p><input name="save" type="submit" value="{LANG:SAVE}" onclick="form.action='{VAR:PLUGIN_BLOGOVERVIEW_SAVEURL}' ; target='_self' ; return true" /></p>
