@charset "utf-8";
/* CSS Document */

body, #middleline .roungloog  {  color:#666;  background:url(../images/mainbg.jpg) repeat 0 0;}
.devidehr { background:url(../images/borderbottom.jpg) repeat-x 0 bottom;  }
input:focus, select:focus, textarea:focus {background-color:#fff}


/*background color*/

.flexslider ul, .flexsliderservices ul, .es-carousel ul li img:hover,  ul.team li img:hover, #recipecontainer ul a:hover.fancyboxpopup, #recipecontainer ul li a:hover img, .bloggallery:hover, .blogslider:hover, ul.popular li img, .leftpart .comment img, ul.featured li img:hover  { }

#topnav ul > li.active, #topnav ul > li:hover, #topnav ul ul,  #flexsliderservices, ul.featured li img, .es-carousel ul li img,  ul.team li img, .imgbrdboth, #recipecontainer ul a.fancyboxpopup,  #contactmap,  {background: #fff}

 #footer  { border-top:5px solid #fff }
#topnav ul li.active a, #topnav ul > li:hover > a,    #topnav ul li ul li, #topnav ul li.active a,  #topnav ul li ul > li:hover > a, #topnav li.submenu,  .paging li.current, .headerstrip  {background: #508706 url("../images/crossline.png") repeat 0 0;  }
.footerbg {background:url(../images/footerbg.png) repeat 0 0;}
#topnav ul li ul li:hover, #topnav ul li ul > li:hover > a{background: #3b6403 }
#topnav ul li ul li {border-bottom:1px solid #5e901a}
.sidecontainer h4.heading4 {background: #508706 url("../images/crossline.png") repeat 0 0; color:#fff; }



/*text color*/
#topnav ul li a, .es-carousel ul li h3, .leftline, ul.team li a span, ul.sitemap li a, .pagination a:hover, .accrodian-trigger, .togglehandle, .tabs li a, #flexslider .flex-caption, ul.featured li a h3  { color:#555; }
a, .es-carousel ul li:hover h3, .es-carousel ul li span.deatils b, h2.titles span, ul.featured li a span, .heading1 span, ul.sitemap > li > a, .accrodian-trigger.active,.togglehandle.active, #flexslider .flex-caption b, ul.featured li:hover h3, h2.titles span, .tabs li.active a,  .heading2, .heading3, .heading4, .heading5,  a.entrytitle, ul.team li:hover h3.membername, .topcontent  span, ul.archieve li a:hover { color:#508706 }
ul.footersection li ul li a,  #middleline,  #footer, .ei-title h2, #middleline, ul.tags li a, li.links  { color:#999;}
#topnav ul li ul li a,  .midlinebg h1.textpadding,  a:hover.linkbutton, a:hover.linkbuttonsmall, a:hover.linkbuttonmiddum, a:hover.linkbuttonlarge, a:hover.linkbuttonbig, input[type=submit]:hover, input[type=reset]:hover, #topnav ul li.active a   {color:#fff}
 .heading1, h2.titles {color:#3b6403}
 #topnav ul > li:hover > a, #topnav ul li ul > li:hover > a, ul.footersection li ul li a:hover, #twitter a, #filters a.selected, .publisheddate .date, .paging li.current, .pagination a:hover, ul.footersection li.testimonial span, #topnav ul li ul > li:hover > a, #topnav ul li ul li:hover a, .ei-slider-loading {color:#fff;}
a:hover, a.entrytitle:hover, .paging a, .accrodian-trigger:hover, .togglehandle:hover  { color: #000; }



/*Default color*/
input, select, textarea {  background-color:  #fff;    border: 1px solid #f5f5f5; color:#555  }
input[type=submit], input[type=reset], .midlinebg, #filters a.selected, a.linkbutton, a.linkbuttonsmall, a.linkbuttonmiddum, a.linkbuttonbig, a.linkbuttonlarg, a.linkbuttonlarge, ul.tags li a {background: #508706 url("../images/crossline.png") repeat 0 0;   color:#fff;  }
a:hover.linkbutton, a:hover.linkbuttonsmall, a:hover.linkbuttonmiddum, a:hover.linkbuttonlarge, a:hover.linkbuttonbig, input[type=submit]:hover, input[type=reset]:hover, ul.tags li a:hover {background-color:#3b6403;}
.highlight {color:#3b6403}


/*Extra*/

/*h2.titles, .heading1  { background:url(../images/titlebg.jpg) no-repeat 0 0; }*/
.togglehandle.active { background:#f4f4f2 url("../images/accrodianicon.png") no-repeat right 5px; }

.tabs li.active { background:#fff; border-bottom:1px solid #fff }
.tabs li {  border:1px solid #D6D4CB;  border-bottom:none }


.accrodian-trigger {  border:1px solid #D6D4CB; background: url("../images/accrodianicon.png") no-repeat right 5px;  }

.accrodian-trigger.active { background:#f4f4f2 url("../images/accrodianicon.png") no-repeat right -35px; }
.togglehandle { border:1px solid #D6D4CB; background: url("../images/accrodianicon.png") no-repeat right -35px;  }
.togglehandle.active { background:#f4f4f2 url("../images/accrodianicon.png") no-repeat right 5px; }









