<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->
{IF:PASSWORD_WRONG}
<div class="errormsg alert">
<a class="clostalert">close</a>
{LANG:PLUGIN_CHANGEPASSWORD_WRONG-CONFIRM-PASSWORD}
</div>
{/IF:PASSWORD_WRONG}
{IF:OLD_PASSWORD_WRONG}
<div class="errormsg alert">
<a class="clostalert">close</a>
{LANG:PLUGIN_CHANGEPASSWORD_OLD-PASSWORD-WRONG}
</div>
{/IF:OLD_PASSWORD_WRONG}
{IF:SUCCESSFUL}
<div class="successmsg alert">
<a class="clostalert">close</a>
{LANG:PLUGIN_CHANGEPASSWORD_SUCCESSFUL}
</div>
{/IF:SUCCESSFUL}
<form class="smform clearfix" action="{VAR:ACTION}" method="post" name="changepw" onsubmit="return chkFormular()">
	<ul class="clearfix">
		<li>
			<label for="old_password">{LANG:PLUGIN_CHANGEPASSWORD_CURRENT-PASSWORD} <span class="required">*</span></label>
			<input required="required" class="required password" type="password" id="old_password" name="old_password" />
		</li>
		<li>
			<label for="new_password">{LANG:PLUGIN_CHANGEPASSWORD_NEW-PASSWORD} <span class="required">*</span></label>
			<input required="required" class="required password" type="password" id="new_password" name="new_password" /> 
			<a infotext="{LANG:PLUGIN_REGISTER2_IPASSWORT}" 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="confirm_password">{LANG:PLUGIN_CHANGEPASSWORD_CONFIRM-PASSWORD} <span class="required">*</span></label>
			<input required="required" class="required password" type="password" id="confirm_password" name="confirm_password" /> 
			<a infotext="{LANG:PLUGIN_REGISTER2_ICPASSWORT}" 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="submit"><input name="Absenden" id="submit" type="submit" value="{LANG:CHANGE}" /></label>
			&nbsp;
		</li>
	</ul>
</form>
