<!--
   editblogcats.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<form name="editcats" method="post">
	{LOOP:CATS}
	<input type="text" name="name_{VAR:ID}" value="{VAR:NAME}" /> <input type="submit" value="{LANG:SAVE}" name="save_{VAR:ID}" /> (<a target="_blank" href="https://socialmeal.ch/Blog/uebersicht.html?cat={VAR:ID}">{VAR:COUNTENTRIES} Blogbeiträge</a>) {VAR:DELLINK}<br />
	{/LOOP:CATS}
	<h3>Neue Kategorie</h3>
	<input type="text" name="newcat" placeholder="Name der Kategorie" /> <input type="submit" name="savenewcat" value="{LANG:ADD}" />
</form>
