<!--
   entry.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<article id ="bloglistimg" class="mb20 clearfix">
	{IF:SHOWTITLE}
	<h2 class="heading2 blogtitle"><a href="{VAR:ENTRYURL}">{VAR:ENTRYTITLE}</a></h2>
	{/IF:SHOWTITLE}
	<div class="entry-meta"> {LANG:PLUGIN_BLOGLANGUAGEPACKS_VON} 
	{VAR:SHOWAUTHOR},
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_LASTCHANGE}: 
		<span class="published">{VAR:DATETIME}</span>
		<br />
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_CATEGORY}:
		 <a href="/Blog/uebersicht.html?cat={VAR:CATID}">{VAR:CATNAME}</a>, <a href="{VAR:ENTRYURL}#comments">{VAR:COMMENTS}</a>, 
		 {LANG:PLUGIN_BLOGLANGUAGEPACKS_AUFRUFE}: 
		 {VAR:AUFRUFE}
	</div>
	{IF:BLOGIMAGE}
	<div class="clearfix blogslider">
		<a><img src="{VAR:IMGPATH}" title="{VAR:ENTRYTITLE}" /></a>
		{IF:IMGDESC}
		<blockquote>{VAR:IMGDESC}</blockquote>
		{/IF:IMGDESC}
	</div>
	{/IF:BLOGIMAGE}
	<p>
		{VAR:ENTRYCONTENT}
	</p>
	{IF:AUTHORINFO}
	<div class="blogother">
		<img src="{VAR:AUTHORIMG}" alt="{VAR:AUTHOR}" />
		<h5 class="author">{VAR:AUTHOR}</h5>
		<p>{VAR:AUTHORINFO}</p><hr /><p><ul class="listoption4"><li><a href="/Blog/uebersicht.html?author={VAR:AUTHORNAMEURL}">
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY1} 
		{VAR:AUTHOR} 
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY2}</a></li>
		<li><a href="/mein-profil.html?profile={VAR:AUTHORNAMEURL}">
		{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY3} 
		{VAR:AUTHOR}</a></li></ul></p>
	</div>
	{/IF:AUTHORINFO}
	{IF:READMORE}
	</blockquote><p><a href="{VAR:ENTRYURL}" class="linkbutton fr">
	{LANG:PLUGIN_EVENTS_READMORE} >></a></p>
	{/IF:READMORE}
</article>
