<!--
   entry.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWTITLE}
<div class="singlePostContentWrapper">
{/IF:SHOWTITLE}
<div class="pageSpacer"></div>
{IF:SHOWTITLE}
<h4><a href="{VAR:ENTRYURL}">{VAR:ENTRYTITLE}</a></h4>
{/IF:SHOWTITLE}
{IF:BLOGIMAGE}
<img src="{VAR:IMGPATH}" class="largeImage" alt="{VAR:ENTRYTITLE}"/>
{/IF:BLOGIMAGE}
<p>{VAR:ENTRYCONTENT}</p>
<div class="textBreak"></div>
</div>
<div class="singlePostInfoWrapper"><span class="singleIconWrapper singleIconText iconCalendarDark postInfo postDate">{VAR:DATETIME}</span>
{VAR:SHOWAUTHOR}
<a href="/mein-profil.html?profile={VAR:AUTHORNAMEURL}" class="singleIconWrapper singleIconText iconEditDark postInfo postAuthor postInfoNoMargin">{VAR:AUTHOR}</a> 
<a href="/Blog/uebersicht.html?cat={VAR:CATID}" class="singleIconWrapper singleIconText iconTagDark postInfo postCat">{VAR:CATNAME}</a></div>
