<!--
   wysiwyg.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<script type="text/javascript">
	$(function() {
		$("textarea").htmlarea(); 
	});
</script>
        <textarea id="textarea_content" name="content" style="width:70%;height:600px;">{VAR:CONTENT}</textarea>
        </div>
        <div>
        	<p>{LANG:PLUGIN_BLOGLANGUAGEPACKS_CATEGORY}: <select name="category">
	        	{LOOP:CATEGORY}
	        	<option value="{VAR:CATID}" {VAR:SELECTED}>{VAR:CATNAME}</option>
	        	{/LOOP:CATEGORY}
        	</select></p>
        	<p>User: <select name="user">
	        	{LOOP:USERS}
	        	<option {VAR:SELECTED} value="{VAR:USERNAME}">{VAR:USERNAME}</option>
	        	{/LOOP:USERS}
        	</select></p>
        	<p>{LANG:IMAGE}: <select name="blogimage">
	        		<option value="">Kein Bild</option>
	        	{LOOP:BLOGIMAGES}
	        		<option value="{VAR:IMGPATH}" {VAR:SELECTED}>{VAR:IMGNAME}</option>
	        	{/LOOP:BLOGIMAGES}
        	</select></p>
        </div>
        <div style="clear:both;">
        <input name="vorschau" type="submit" value="{LANG:PREVIEW}" onclick="form.action='{VAR:PREVIEWURL}' ; target='_blank' ; return true" />
        <input name="save" type="submit" value="{LANG:SAVE}" onclick="form.action='{VAR:URL}' ; target='_self' ; return true" />
