<!--
   edit.html

   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
{IF:SHOWEDIT}
<form action="" method="post">
	{IF:SAVEOK}
	<p>Die Datei wurde erfolgreich gespeichert. Damit die Änderungen wirksam werden, muss das ensprechende Plugin deaktiviert und danach wieder aktiviert werden.</p>
	{/IF:SAVEOK}
	<p>Zurzeit wird folgende Datei bearbeitet: /system/plugins/{VAR:PLUGINNAME}/languages/{VAR:LNG}.php</p>
	<p><strong>Hinweise:</strong> Achtung: bitte unbedingt auf korrektn Syntax achten.</p>
	<p>
		<textarea id="code" name="lngfile" rows="35" cols="140">{VAR:LNGCONTENT}</textarea>
	</p>
	<p>
		<input type="submit" name="savelngfile" value="{LANG:SAVE}" />
	</p>
</form>
{/IF:SHOWEDIT}
{IF:NOFILE}
<p>Sprachdatei wurde nicht gefunden.</p>
{/IF:NOFILE}
