/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */
#columns ul{list-style:none; border:none;}
#columns h3{margin:0; padding:0;font-size:90%}

/* Columns section */
#columns .column {
    float: left;
    width: 32.5%;
    min-height: 400px;
    height: auto !important; 
    height: 400px;
	padding:5px;
}

/* Column dividers (background-images) : */
#columns .widget {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom:5px;
    border: 1px solid #6c4327;
}
#columns .widget .widget-head {
    color: #d19340;
    overflow: hidden;
    width: 100%;
    height: 20px;
    padding-top:2px;
    border-bottom: 1px solid #6c4327;
    background-color: #6c4327;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}
#columns .widget .widget-content {
    background-color:#eee;
    padding: 0 5px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#column0{
  padding-left:0;
  margin-left:0;
}

.widget-head a.remove  {
    float: right;
    display: inline;
    background: url(img/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 3px 4px 8px 0;
    text-indent: -9999em;
    outline: none;
}

.widget-head a.collapse  {
    float: left;
    display: inline;
    background: url(img/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 3px 0 8px 4px;
    outline: none;
}

.widget-placeholder { border: 2px dashed #999;}
