/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */
body{
  margin:0;
  padding:0;
  font-family:Tahoma, sans-serif;;
}
label{
  display:block;
}
#adminmenue{
  list-style-type : none;
  margin:0;
  margin-bottom:40px;
  padding:0;
  background-color:#333;
  width:100%;
  height:20px;
}
#adminmenue a{
  color:#fff;
}
#adminmenue li{
  display:inline;
}
thead{
  background-color:#ddd;
  color:#333;
}
fieldset{
  width:50%;
}
fieldset input{
  width:95%;
}
.dbtable{
  font-size:14px;
}
.dbtable thead{
  background-color:#333;
  color:#fff;
}
.dbtable tbody tr:hover{
  background-color:#ddd;
}
img{
  border:0;
}
#content{
  padding:20px;
  padding-top: 5px;
}
