<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

{IF:FAILED}
<div class="errormsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_LOGIN_LOGINFAIL}
	{IF:HARDFAILED}
	<br /><a href="/passwort-vergessen.html">{LANG:PLUGIN_LOGIN_HERE}</a> 
	{LANG:PLUGIN_LOGIN_LOGINHARDFAIL}
	{/IF:HARDFAILED}
</div>
{/IF:FAILED}
<form action="/login.html" class="smform clearfix" method="POST">
	<ul class="clearfix">
		<li>
			<label for "name">{LANG:PLUGIN_LOGIN_USERNAME} <span class="required">*</span></label>
			<input name="name" type="text" autofocus="autofocus" id="name" placeholder="{LANG:PLUGIN_LOGIN_USERNAME}" class="required" required="required" />
			<a infotext="{LANG:PLUGIN_LOGIN_IUSERNAME}" 
				class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for "password">{LANG:PLUGIN_LOGIN_PASSWORD} <span class="required">*</span></label>
			<input name="password" type="password" id="password" placeholder="{LANG:PLUGIN_LOGIN_PASSWORD}" class="required password" required="required" />
			<a infotext="{LANG:PLUGIN_LOGIN_IPASSWORD}" 
				class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="loginsave">{LANG:PLUGIN_LOGIN_LOGINSAVE}</label>
			<input id="loginsave" type="checkbox" name="loginsave" value="1" /> <a infotext="{LANG:PLUGIN_LOGIN_ILOGINSAVE}" 
				class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label></label>
			{LANG:PLUGIN_REGISTER2_GOREGISTER2}
			<a href="/registrieren.html">{LANG:PLUGIN_REGISTER2_GOREGISTER3}</a>
		</li>
		<li>
			<label></label>
			<a href="/passwort-vergessen.html">{LANG:PLUGIN_PROFILE_FORGOTPW}?</a>
		</li>
		<li>
			<input type="hidden" name="referer" value="{VAR:REFERER}" />
			<input type="submit" value="{LANG:PLUGIN_LOGIN_LOGIN}" />
		</li>
	</ul>
</form>
