<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

{IF:FAILED}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">
		{LANG:PLUGIN_LOGIN_LOGINFAIL}
		{IF:HARDFAILED}
		<br /><a href="/passwort-vergessen.html">{LANG:PLUGIN_LOGIN_HERE}</a> 
		{LANG:PLUGIN_LOGIN_LOGINHARDFAIL}
		{/IF:HARDFAILED}
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FAILED}
<form action="/login.html" class="smform clearfix" method="post">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="name">{LANG:PLUGIN_LOGIN_USERNAME}</label>
					<input name="name" type="text" autofocus="autofocus" id="name" placeholder="{LANG:PLUGIN_LOGIN_USERNAME}" required="required" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="password">{LANG:PLUGIN_LOGIN_PASSWORD}</label>
					<input name="password" type="password" id="password" placeholder="{LANG:PLUGIN_LOGIN_PASSWORD}" required="required" />
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="loginsave">{LANG:PLUGIN_LOGIN_LOGINSAVE}</label>
					<input id="loginsave" type="checkbox" name="loginsave" value="1" />
				</div>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<input type="hidden" name="referer" value="{VAR:REFERER}" />
			<input type="submit" value="{LANG:PLUGIN_LOGIN_LOGIN}" />
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<p>{LANG:PLUGIN_REGISTER2_GOREGISTER2}
			<a href="/registrieren.html">{LANG:PLUGIN_REGISTER2_GOREGISTER3}</a></p>
			<p><a href="/passwort-vergessen.html">{LANG:PLUGIN_PROFILE_FORGOTPW}?</a></p>
		</div>
	</div>
</form>
