<!--
   adminedit.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<script type="text/javascript">
	function confirm_alert(node) {
		return confirm("Möchtest du das Meal wirklich löschen?");
	}
</script>
<h3>Meal auswählen</h3>
<form name="selectmeal" method="post">
	<p>Meal-ID: <input type="number" name="mealid" value="{VAR:EVENTID}" /> <input type="submit" name="selectmeal" value="Bearbeiten" /></p>
</form>
{IF:SAVEOK}
<hr />
<p><strong>Änderungen wurden erfolgreich gespeichert!</strong></p>
{/IF:SAVEOK}
{IF:DELOK}
<hr />
<p><strong>Das Bild wurde erfolgreich gelöscht.</strong></p>
{/IF:DELOK}
{IF:MEALDELOK}
<hr />
<p><strong>Das Meal wurde erfolgreich gelöscht.</strong></p>
{/IF:MEALDELOK}
{IF:EDIT}
<hr />
<h3>Meal bearbeiten</h3>
<form name="editmeal" action="./meal-bearbeiten.html" enctype="multipart/form-data" method="post">
	<p>ID:<br /><input type="text" name="mealid" readonly="readonly" value="{VAR:EVENTID}" /></p>
	<p>Meal komplett ausgefüllt?<br /><input type="text" readonly="readonly" value="{VAR:ACTIVE}" />
	<p>Eventtype:<br /><input size="50" type="text" readonly="readonly" value="{VAR:EVENTTYPE}" /></p>
	<p>Handelt es sich um ein Promo-Meal?<br /><input type="text" readonly="readonly" value="{VAR:PROMO}" /></p>
	<p>Wurden Freunde per Mail informiert?<br /><input type="text" readonly="readonly" value="{VAR:FRIENDMAIL}" /></p>
	<p>Mail nach Ablauf der Anmeldefrist gesendet?<br /><input type="text" readonly="readonly" value="{VAR:AFTERASMAIL}" /></p>
	<p>Abschlussmail gesendet?<br /><input type="text" readonly="readonly" value="{VAR:AFTEREVENTMAIL}" /></p>
	<p>Gastgeber:<br /><input type="text" readonly="readonly" value="{VAR:USER}" /></p>
	<p>Organisation:<br /><input type="text" readonly="readonly" value="{VAR:ORGNAME}" /></p>
	<p>Titel:<br /><input name="eventname" type="text"value="{VAR:EVENTNAME}" /></p>
	<p>Beschreibung (BBCodes erlaubt)<br /><textarea rows="20" cols="35" name="beschreibung">{VAR:BESCHREIBUNG}</textarea>
	<p>Datum (Format einhalten):<br /><input name="evdate" type="text" value="{VAR:EVENTDATE}" /></p>
	<p>Anmeldeschluss (Format einhalten):<br /><input name="asdate" type="text"value="{VAR:ANMELDESCHLUSS}" /></p>
	<p>Rauchen:<br />
		<select name="rauchen">
			<option {VAR:SMOKE0} value="0">{LANG:PLUGIN_EVENTS_SMOKENO}</option>
			<option {VAR:SMOKE1} value="1">{LANG:PLUGIN_EVENTS_SMOKEYES}</option>
			<option {VAR:SMOKE2} value="2">{LANG:PLUGIN_EVENTS_SMOKEBALK}</option>
		</select>
	</p>
	<p>Getränke:<br />
		<select name="drinks">
			<option value="0" {VAR:DRINK0}>{LANG:PLUGIN_EVENTS_DRINK0}</option>
			<option value="1" {VAR:DRINK1}>{LANG:PLUGIN_EVENTS_DRINK1}</option>
			<option value="2" {VAR:DRINK2}>{LANG:PLUGIN_EVENTS_DRINK2}</option>
		</select>
	</p>
	<p>Anzahl Gänge:<br /><input type="number" value="{VAR:GAENGE}" name="gange" /></p>
	<p>Max. Gäste:<br /><input type="number" value="{VAR:MAXGUEST}" name="maxguest" /></p>
	<p>ÖV:<br />
		<select name="ov">
			<option {VAR:OV1} value="1">{LANG:PLUGIN_EVENTS_OVYES}</option>
			<option {VAR:OV0} value="0">{LANG:PLUGIN_EVENTS_OVNO}</option>
			<option {VAR:OV2} value="2">{LANG:PLUGIN_EVENTS_OVMAYBE}</option>
		</select>
	</p>
	<p>Parkplätze:<br />
		<select name="parking">
			<option {VAR:PARKING0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
			<option {VAR:PARKING1} value="1">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:PARKING2} value="2">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:PARKING3} value="3">{LANG:PLUGIN_EVENTS_PARKING5MIN}</option>
		</select>
	</p>
	<p>Rollstuhl:<br />
		<select name="rollchair">
			<option {VAR:ROLLCHAIR0} value="0">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:ROLLCHAIR1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
		</select>
	</p>
	<p>Dauer:<br />
		<select name="dauer">
			<option {VAR:DAUER1} value="1">1 {LANG:PLUGIN_EVENTS_HOUR}</option>
			<option {VAR:DAUER2} value="2">2 {LANG:PLUGIN_EVENTS_HOURS}</option>
			<option {VAR:DAUER3} value="3">3 {LANG:PLUGIN_EVENTS_HOURS}</option>
			<option {VAR:DAUER4} value="4">4 {LANG:PLUGIN_EVENTS_ANDMOREHOURS}</option>
		</select>
	</p>
	<p>Preis:<br /><input name="preis" type="text" value="{VAR:PREIS}" /></p>
	<p>BNB:<br /><input name="bnb" type="text" value="{VAR:BNB}" /></p>
	<p>Spezialpreis:<br />
		<select name="specialprice">
			<option {VAR:SPECIALPREIS0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
			<option {VAR:SPECIALPREIS1} value="1">{LANG:PLUGIN_EVENTS_PRICE1}</option>
			<option {VAR:SPECIALPREIS2} value="2">{LANG:PLUGIN_EVENTS_PRICE2}</option>
			<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option> 
			<option {VAR:SPECIALPREIS3} value="3">{LANG:PLUGIN_EVENTS_PRICE3}...</option>
			<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option>
			<option {VAR:SPECIALPREIS5} value="5">{LANG:PLUGIN_EVENTS_PRICE5}</option>
			<option {VAR:SPECIALPREIS6} value="6">{LANG:PLUGIN_EVENTS_PRICE6}</option>
		</select>
	</p>
	<p>BNB - Spezialpreis:<br />
		<select name="bnbprice">
			<option {VAR:SPECIALBNB0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
			<option {VAR:SPECIALBNB1} value="1">{LANG:PLUGIN_EVENTS_BNBPRICE1}</option>
		</select>
	</p>
	<p>Name vom Restaurant / Veranstaltungsort:<br /><input name="rest" type="text" value="{VAR:REST}" /></p>
	<p>Webseite:<br /><input name="weblink" type="text" value="{VAR:WEBLINK}" /></p>
	<p>Strasse und Nr.:<br /><input name="strasse" type="text" value="{VAR:STRASSE}" /> <input name="strnr" type="text" value="{VAR:STRNR}" /></p>
	<p>PLZ, Ort und Kanton:<br /><input name="plz" type="text" value="{VAR:PLZ}" /> <input name="ort" type="text" value="{VAR:ORT}" /> <input name="kanton" type="text" value="{VAR:KANTON}" /></p>
	<p>Adresse öffentlich?<br />
		<select name="openaddress">
			<option {VAR:OPENADDRESS0} value="0">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:OPENADDRESS1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
		</select>
	</p>
	<p>Mitnehmen:<br /><input name="mitnehmen" type="text" value="{VAR:MITNEHMEN}" /></p>
	<p>Aufrufe:<br /><input name="counter" type="text" value="{VAR:COUNTER}" /></p>
	<p>Anmeldeoption 1:<br /><input name="option1" type="text" value="{VAR:OPTION1}" /></p>
	<p>Anmeldeoption 2:<br /><input name="option2" type="text" value="{VAR:OPTION2}" /></p>
	<p>Anmeldeoption 3:<br /><input name="option3" type="text" value="{VAR:OPTION3}" /></p>
	<p>Fleisch:<br />
		<select name="fleisch">
			<option {VAR:FLEISCH1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:FLEISCH2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:FLEISCH0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Fisch:<br />
		<select name="fisch">
			<option {VAR:FISCH1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:FISCH2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:FISCH0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Meeresfrüchte:<br />
		<select name="seafood">
			<option {VAR:SEAFOOD1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:SEAFOOD2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:SEAFOOD0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Vegetarisch:<br />
		<select name="vegetarisch">
			<option {VAR:VEGETARISCH1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:VEGETARISCH2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:VEGETARISCH0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Vegan:<br />
		<select name="vegan">
			<option {VAR:VEGAN1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:VEGAN2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:VEGAN0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Saisonal:<br />
		<select name="saisonal">
			<option {VAR:SAISONAL1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:SAISONAL2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:SAISONAL0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>BIO:<br />
		<select name="bio">
			<option {VAR:BIO1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:BIO2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:BIO0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Laktose:<br />
		<select name="lactose">
			<option {VAR:LACTOSE1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:LACTOSE2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:LACTOSE0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Nüsse:<br />
		<select name="nusse">
			<option {VAR:NUSSE1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:NUSSE2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:NUSSE0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Glutenfrei:<br />
		<select name="glutenfrei">
			<option {VAR:GLUTENFREI1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:GLUTENFREI2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:GLUTENFREI0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Regional:<br />
		<select name="regional">
			<option {VAR:REGIONAL1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:REGIONAL2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:REGIONAL0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Alkohol:<br />
		<select name="alkohol">
			<option {VAR:ALKOHOL1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:ALKOHOL2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:ALKOHOL0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Scharf:<br />
		<select name="scharf">
			<option {VAR:SCHARF1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:SCHARF2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:SCHARF0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Hefe:<br />
		<select name="hefe">
			<option {VAR:HEFE1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:HEFE2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:HEFE0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Koscher:<br />
		<select name="koscher">
			<option {VAR:KOSCHER1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:KOSCHER2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:KOSCHER0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Halal:<br />
		<select name="halal">
			<option {VAR:HALAL1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:HALAL2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:HALAL0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>Nachträglicher Kommentar (BBCodes erlaubt)<br /><textarea rows="20" cols="35" name="comment">{VAR:COMMENT}</textarea>
	<p>Datum vom nachträglichen Kommentar (Format einhalten):<br /><input name="commentdate" type="text" value="{VAR:COMMENTDATE}" /></p>
	<p><label for="symbolimg">Symbolbild?</label><br /><input type="checkbox" name="symbolimg" value="1" {VAR:SYMBOLIMG} />
	{IF:IMAGEFORM}
	<p>Bild hochladen:<br /><input type="file" multiple="multiple" accept="image/*" name="files[]" /> </p>
	{/IF:IMAGEFORM}
	{IF:IMAGES}
	<ul>
		{LOOP:IMAGES}
		<li><img src="{VAR:IMGURL}" /> <a href="./meal-bearbeiten.html?mealid={VAR:EVENTID}&delimg={VAR:IMGID}"><img src="{ICON:CROSS}" /> Bild löschen</li>
		{/LOOP:IMAGES}
	</ul>
	{/IF:IMAGES}
	<p><strong><a onclick="return confirm_alert(this);" href="./meal-bearbeiten.html?mealid={VAR:EVENTID}&delmeal=true">Dieses Meal löschen!</a></strong></p>
	<p><input type="submit" name="editsave" value="{LANG:SAVE}" /></p>
</form>
{/IF:EDIT}
{IF:NOEVENT}
<p>Kein Meal unter der ID gefunden!</p>
{/IF:NOEVENT}
