<!--
   adminpromo.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<script type="text/javascript">
	function confirm_alert(node) {
		return confirm("Bist du sicher?");
	}
</script>
{IF:EDIT}
<h2>Promo-Parner bearbeiten</h2>
{IF:SAVEOK}
<p><strong>Daten wurden erfolgreich aktualisiert.</strong></p>
{/IF:SAVEOK}
<form name="editpromo" method="post" action="">
	<p>Restaurant-Name:<br /><input type="text" name="name" required="required" value="{VAR:RESTNAME}" /></p>
	<p>Promotion:<br /><input type="text" name="promotion" required="required" value="{VAR:PROMOTION}" /></p>
	<p>Meal-Titel:<br /><input type="text" name="mealtitle" required="required" value="{VAR:MEALTITLE}" /></p>
	<p>Restaurant-Beschreibung (HTML erlaubt):<br /><textarea name="desc" rows="20" cols="35">{VAR:DESC}</textarea></p>
	<p>Strasse:<br /><input type="text" name="street" required="required" value="{VAR:STREET}" /></p>
	<p>Strassennummer:<br /><input type="text" name="strnr" required="required" value="{VAR:STRNR}" /></p>
	<p>PLZ:<br /><input type="text" name="plz" required="required" value="{VAR:PLZ}" /></p>
	<p>Ort:<br /><input type="text" name="ort" required="required" value="{VAR:ORT}" /></p>
	<p>Kanton:<br /><input type="text" name="kanton" required="required" value="{VAR:KANTON}" /></p>
	<p>Weblink:<br /><input type="text" name="weblink" required="required" value="{VAR:WEBLINK}" /></p>
	<p>E-Mail (für Abschlussmail):<br /><input type="text" name="restmail" required="required" value="{VAR:RESTMAIL}" /></p>
	<p>Meal-Bild:<br /><input type="text" name="img" required="required" value="{VAR:IMG}" /></p>
	<p>Speisekarte:<br /><input type="text" name="speisekarte" required="required" value="{VAR:SPEISEKARTE}" /></p>
	<p>
		ÖV:
		<br />
		<select name="ov">
			<option {VAR:OV1} value="1">{LANG:PLUGIN_EVENTS_OVYES}</option>
			<option {VAR:OV0} value="0">{LANG:PLUGIN_EVENTS_OVNO}</option>
			<option {VAR:OV2} value="2">{LANG:PLUGIN_EVENTS_OVMAYBE}</option>
		</select>
	</p>
	<p>
		Parkplatz:
		<br />
		<select name="parking">
			<option {VAR:PARKING0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
			<option {VAR:PARKING1} value="1">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:PARKING2} value="2">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:PARKING3} value="3">{LANG:PLUGIN_EVENTS_PARKING5MIN}</option>
		</select>
	</p>
	<p>
		Fleisch:
		<br />
		<select name="fleisch">
			<option {VAR:FLEISCH1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:FLEISCH2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:FLEISCH0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>
		Vegetarisch:
		<br />
		<select name="vegetarisch">
			<option {VAR:VEGETARISCH1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:VEGETARISCH2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:VEGETARISCH0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>
		Vegan:
		<br />
		<select name="vegan">
			<option {VAR:VEGAN1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:VEGAN2} value="2">{LANG:PLUGIN_EVENTS_NO}</option>
			<option {VAR:VEGAN0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
		</select>
	</p>
	<p>
		Rollstuhl:
		<br />
		<select name="rollchair">
			<option {VAR:ROLLCHAIR1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
			<option {VAR:ROLLCHAIR0} value="0">{LANG:PLUGIN_EVENTS_NO}</option>
		</select>
	</p>
	<p>Notitz für den Ersteller (HTML erlaubt):<br /><textarea name="createnotice" rows="20" cols="35">{VAR:CREATENOTICE}</textarea></p>
	<p><input type="submit" name="editpromo" value="Speichern" /></p>
</form>
<hr />
{/IF:EDIT}
<h2>Promo-Partner</h2>
<ul>
	{LOOP:PROMO}
	<li>
		<a href="">{VAR:NAME}</a> 
		<a href="./promo-partner.html?edit={VAR:ID}"><img src="{ICON:PAGE_EDIT}" /></a> 
		<a onclick="return confirm_alert(this);" href="./promo-partner.html?del={VAR:ID}"><img src="{ICON:CROSS}" /></a>
	</li>
	{/LOOP:PROMO}
</ul>
<hr />
<h2>Promo-Partner hinzufügen</h2>
<form name="newpromo" method="post" action="">
	<p>Restaurant-Name:<br /><input type="text" name="name" required="required" /></p>
	<p>
		<input type="submit" name="newpromo" value="Hinzufügen" />
	</p>
</form>
