<!--
   delete.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NORIGHT}
<p>{LANG:PLUGIN_EVENTS_CANTDELETE}</p>
{/IF:NORIGHT}
{IF:SHOWDELETE}
<form name="delevent" class="smform clearfix" action="" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<p>{LANG:PLUGIN_EVENTS_DEL1} 
			"{VAR:EVENTNAME}" 
			{LANG:PLUGIN_EVENTS_DEL2}</p>
		<ul class="clearfix">
			<li>
				<label for="grund">{LANG:PLUGIN_EVENTS_GRUND}: <span class="required">*</span></label>
				<textarea name="grund" required="required" class="required" rows="10" cols="75"></textarea>
			</li>
		</ul>
		<p><input type="submit" name="sendgrund" value="{LANG:PLUGIN_EVENTS_SUREDELETE}" />
			&nbsp;&nbsp;&nbsp;<a href="/event-details.html?event={VAR:EVENTID}">
				{LANG:PLUGIN_EVENTS_ABORTDELETE}</a></p>
	</div>
</form>
{/IF:SHOWDELETE}
{IF:DELETEOK}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_DELETEOKAY}</p>
</div>
{/IF:DELETEOK}
{IF:ASDATE}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_DELETEAS}</p>
</div>
{/IF:ASDATE}
