<!--
   detailpage.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWSUBSCRIBE}
<a href="/teilnehmen.html?event={VAR:EVENTID}" class="buttonWrapper buttonDefault buttonStar">
{LANG:PLUGIN_EVENTS_SUBSCRIBEMEAL}</a>
{/IF:SHOWSUBSCRIBE}
{IF:SHOWEDIT}
<a href="/event-bearbeiten.html?event={VAR:EVENTID}" class="buttonWrapper buttonDefault buttonEdit">
{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a>
{/IF:SHOWEDIT}
{IF:SHOWORGEDIT}
<a href="/teilnehmen.html?event={VAR:EVENTID}" class="buttonWrapper buttonDefault buttonStar">
{LANG:PLUGIN_EVENTS_DONOWSUBSCRIBE}</a>
<a href="/event-bearbeiten.html?event={VAR:EVENTID}" class="buttonWrapper buttonDefault buttonEdit">
{LANG:PLUGIN_EVENTS_EDIT}</a>
{/IF:SHOWORGEDIT}
{IF:SHOWLOGIN}
<a href="/login.html" class="buttonWrapper buttonDefault buttonBolt">
{LANG:PLUGIN_EVENTS_LOGIN}</a>
{/IF:SHOWLOGIN}
{IF:SHOWQUESTMSG}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_QUESTIONOKAY}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWQUESTMSG}
{IF:SHOWLOGIN}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_DETAIL1} 
	<a href="/login.html">{LANG:PLUGIN_EVENTS_DETAIL2}</a> 
	{LANG:PLUGIN_EVENTS_DETAIL3}
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWLOGIN}
{IF:SHOWANSMSG}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_ANSWEROKAY}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWANSMSG}
{IF:COMMENTSAVE}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_COMMENTSAVE}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:COMMENTSAVE}
{IF:FULL}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_DETAIL7} 
	<a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
	{LANG:PLUGIN_EVENTS_DETAIL6}
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FULL}
{IF:SHOWMSG}
<div class="alertBox alertBoxStop">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_DETAIL4} 
	<a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
	{LANG:PLUGIN_EVENTS_DETAIL6}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWMSG}
{IF:OPENOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_OPENOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:OPENOK}
{IF:CLOSEOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_OPENOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:CLOSEOK}
<p>{VAR:BESCHREIBUNG}</p>
</div>
</div>
{IF:SHOWCOMMENT}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEWCOMMENTFROM}</h3>
		<blockquote>
			<p>{VAR:COMMENT}</p>
			<cite>
				- 
				{IF:PERSONAL}
				{VAR:SHOWAUTHOR}
				{/IF:PERSONAL}
				{IF:ORG}
				<a href="/organisationsprofil.html?profile={VAR:ORGID}" class="author">{VAR:ORGNAME}</a> 
				<a target="_blank" href="/uber-organisationsprofile.html" infotext="{LANG:PLUGIN_EVENTS_IORGPROFILE}" 
					class="infotooltip_event"><span title=""><img width="16px" src="{ICON:INFOBUTTON}" /></span></a>
				{/IF:ORG}
				 ({VAR:COMMENTDATE})
			</cite>
		</blockquote>
	</div>
</div>
{/IF:SHOWCOMMENT}
{IF:COMMENTFORM}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEWCOMMENT}</h3>
		<form name="updatecomment" method="post">
			<fieldset>
				<div class="formTextareaWrapper">
					<textarea id="upcomment" name="upcomment" rows="13" cols="60">{VAR:COMMENTOF}</textarea>
				</div>
				<input name="savecomment" type="submit" value="{LANG:SAVE}" id="submit_id" />
			</fieldset>
		</form>
	</div>
</div>
{/IF:COMMENTFORM}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_DETAILS}</h3>
		<p>
			<ul>
				<li>{LANG:PLUGIN_EVENTS_ON}: {VAR:EVENTDATE}</li>
				<li>{LANG:PLUGIN_EVENTS_FINISH}: {VAR:FINISH}</li>
				{IF:DAUER}
				<li>{LANG:PLUGIN_EVENTS_DAUER}: {VAR:DAUER}</li>
				{/IF:DAUER}
				<li>{LANG:PLUGIN_EVENTS_PREIS}: {VAR:PREIS}</li>
				{IF:NORESTAURANT}
				{IF:BNB}
				<li>Alternativer {LANG:PLUGIN_EVENTS_PREIS}: {VAR:BNB}</li>
				{/IF:BNB}
				{IF:BNBSPECIAL}
				<li>{LANG:PLUGIN_EVENTS_BNB}: 
				{VAR:BNBSPECIAL}</li>
				{/IF:BNBSPECIAL}
				{IF:GANGGUEST}
				<li>{LANG:PLUGIN_EVENTS_GANGE}: {VAR:GANGE}</li>
				{/IF:NORESTAURANT}
				{/IF:GANGGUEST}
				<li>
					{LANG:PLUGIN_EVENTS_MAXGUEST}: {VAR:GUEST}
					{IF:SHOWOPENCLOSE}
					<br />
					<a href="/event-details.html?event={VAR:EVENTID}&{VAR:OPENCLOSELINK}=true&orgid={VAR:ORGID}">{VAR:OPENCLOSELINKNAME}</a>
					{/IF:SHOWOPENCLOSE}
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_VOTEYES}: {VAR:SUBSCRIBERS}
					{IF:SHOWTEILNEHMER}
					<ul>
					{LOOP:TEILNEHMER}
						<li>{VAR:TEILSHOWNAME} {VAR:OPTION}</li>
					{/LOOP:TEILNEHMER}
					</ul>
					{/IF:SHOWTEILNEHMER}
				</li>
				<li>{LANG:PLUGIN_EVENTS_FREEPLACE}: 
				{VAR:FREEPLACE}</li>
				{IF:MITNEHMEN}
				<li>{LANG:PLUGIN_EVENTS_MITNEHMEN}: 
				{VAR:MITNEHMEN}</li>
				{/IF:MITNEHMEN}
				<li>{LANG:PLUGIN_BLOGLANGUAGEPACKS_AUFRUFE}: 
				{VAR:AUFRUFE}</li>
			</ul>
		</p>
	</div>
</div>
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_OVER}</h3>
		<p>
			<ul class="listoption3">
				{IF:ORG}
				<a href="/organisationsprofil.html?profile={VAR:ORGID}" class="author"><li>{LANG:PLUGIN_EVENTS_ORG}: 
				{VAR:ORGNAME}</li></a>
				{/IF:ORG}
				{IF:NOORG}
				<a href="/mein-profil.html?profile={VAR:USERNAMELINK}" class="author"><li>{LANG:PLUGIN_EVENTS_RATE1}: 
				{VAR:USERNAME}</li></a>
				{/IF:NOORG}
				<li>{LANG:PLUGIN_EVENTS_ORT}: 
				{IF:REST}
				{VAR:REST}<br /> 
				{/IF:REST}
				{IF:RESTAURANT}
				{VAR:STRASSE} {VAR:STRNR}<br />
				{/IF:RESTAURANT}
				{IF:OPENADDRESS}
				{VAR:STRASSE} {VAR:STRNR}
				{/IF:OPENADDRESS}
				{VAR:PLZ} {VAR:ORT}
				{IF:OV}<br />{VAR:OV}{/IF:OV}<br />
				{LANG:PLUGIN_EVENTS_PARKING}: 
				{VAR:PARKING}</li>
				{IF:WEBLINK}
				<a href="{VAR:WEBLINK}" target="_blank"><li>{VAR:WEBLINKNAME}</li></a>
				{/IF:WEBLINK}
				<a href="https://www.google.ch/maps/place/{VAR:MAP}" target="_blank"><li>{LANG:PLUGIN_EVENTS_MAP}: 
				<span class="singleIconWrapper iconLocationDark"></span></li></a>
				{IF:NORESTAURANT}
				{IF:COMPLETEADDRESS}
				<li>{LANG:PLUGIN_EVENTS_IFULLADR}</li>
				{/IF:COMPLETEADDRESS}
				{IF:SMOKE}
				<li>{LANG:PLUGIN_EVENTS_SMOKE}: {VAR:SMOKE}</li>
				{/IF:SMOKE}
				{IF:DRINKS}
				<li>{LANG:PLUGIN_EVENTS_DRINKS}: {VAR:DRINKS}</li>
				{/IF:DRINKS}
				{/IF:NORESTAURANT}
				{IF:ROLLCHAIR}
				<li>{LANG:PLUGIN_EVENTS_ROLLCHAIR}: {VAR:ROLLCHAIR}</li>
				{/IF:ROLLCHAIR}
			</ul>
		</p>
	</div>
</div>
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_MOREINFOS}</h3>
		<ul class="listoption3">
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_FLEISCH}</span>
				<span class="singleIconWrapper icon{VAR:FLEISCH}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_FISCH}</span>
				<span class="singleIconWrapper icon{VAR:FISCH}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_SEAFOOD}</span>
				<span class="singleIconWrapper icon{VAR:SEAFOOD}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_IST}
				<span class="bold">{LANG:PLUGIN_EVENTS_VEGETARISCHSMALL}</span>
				<span class="singleIconWrapper icon{VAR:VEGI}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_IST}
				<span class="bold">{LANG:PLUGIN_EVENTS_VEGANSMALL}</span>
				<span class="singleIconWrapper icon{VAR:VEGAN}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_IST}
				<span class="bold">{LANG:PLUGIN_EVENTS_SCHARF}</span>
				<span class="singleIconWrapper icon{VAR:SCHARF}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_IST}
				<span class="bold">{LANG:PLUGIN_EVENTS_KOSCHER}</span>
				<span class="singleIconWrapper icon{VAR:KOSCHER}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_IST}
				<span class="bold">{LANG:PLUGIN_EVENTS_HALAL}</span>
				<span class="singleIconWrapper icon{VAR:HALAL}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_ALKOHOL}</span>
				<span class="singleIconWrapper icon{VAR:ALKOHOL}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_BIO}</span>
				<span class="singleIconWrapper icon{VAR:BIO}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_SAISONALSMALL}</span>
				<span class="singleIconWrapper icon{VAR:SAISONAL}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_REGIONALSMALL}</span>
				<span class="singleIconWrapper icon{VAR:REGIONAL}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_LACTOSE}</span>
				<span class="singleIconWrapper icon{VAR:LACTOSE}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_GLUTENFREI}</span>
				<span class="singleIconWrapper icon{VAR:GLUTEN}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_NUSSE}</span>
				<span class="singleIconWrapper icon{VAR:NUSSE}Dark"></span>
			</li>
			<li>
				{LANG:PLUGIN_EVENTS_ENTHALT}
				<span class="bold">{LANG:PLUGIN_EVENTS_HEFE}</span>
				<span class="singleIconWrapper icon{VAR:HEFE}Dark"></span>
			</li>
			<li style="padding-bottom: 0;">
				<span class="singleIconWrapper iconCheckmarkDark"></span> {LANG:PLUGIN_EVENTS_YES}; 
				<span class="singleIconWrapper iconNoDark"></span> {LANG:PLUGIN_EVENTS_NO}; 
				<span class="singleIconWrapper iconGearDark"></span> {LANG:PLUGIN_EVENTS_KA}
			</li>
		</ul>
	</div>
</div>
{IF:OPTIONS}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_SUBSCRIBEOPTIONS}</h3>
		<p>{LANG:PLUGIN_EVENTS_IOPTIONS}</p>
		<ul>
			<li>{VAR:OPTION1}</li>
			<li>{VAR:OPTION2}</li>
			{IF:OPTION3}
			<li>{VAR:OPTION3}</li>
			{/IF:OPTION3}
		</ul>
	</div>
</div>
{/IF:OPTIONS}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_SHAREIT}</h3>
		<p>
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			{IF:MOBILE}
			<a class="a2a_button_whatsapp"></a>
			{/IF:MOBILE}
			<a class="a2a_button_email"></a>
			<a class="a2a_button_google_plus"></a>
			<a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
			</div>
			<script type="text/javascript">
				var a2a_config = a2a_config || {};
				a2a_config.locale = "de";
				a2a_config.show_title = 1; 
			</script>
			<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
		</p>
	</div>
</div>
{IF:SHOWQUESTIONS}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_FRAGEN}</h3>
		<div class="commentsSectionWrapper">
			{LOOP:QUESTIONS}
			<div class="commentWrapper"> 
				<a href="" class="commentAvatar"><img src="{VAR:QUESTPROFILIMG}" alt="{VAR:QUESTUSERNAME}" /></a>
				<p class="commentInfoWrapper">{LANG:PLUGIN_EVENTS_BY} 
					<a href="/mein-profil.html?profile={VAR:QUESTUSERNAMELINK}" class="">{VAR:QUESTUSERNAME}</a> {VAR:QUESTTITEL} - ({VAR:QUESTDATUM})
				</p>
				<div class="clear"></div>
				<div class="comment">
					<p>{VAR:QUESTION}</p>
				</div>
			</div>
			{VAR:ANSWER}
			{/LOOP:QUESTIONS}
		</div>
	</div>
</div>
{/IF:SHOWQUESTIONS}
{IF:SHOWNEWQUESTION}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEWQUESTION}</h3>
		<form name="newquestion" class="commentform" method="post" onsubmit="return chkFormular()">
			<fieldset>
				<div class="formFieldWrapper">
					<label for="titel">{LANG:PLUGIN_EVENTS_SUBJECT}</label>
					<input type="text" name="titel" id="titel" class="required" required="required" />
				</div>
				<div class="formTextareaWrapper">
					<label for="question">{LANG:PLUGIN_EVENTS_YOURQUESTION}</label>
					<textarea required="required" class="required" rows="6" cols="30" id="question" name="question"></textarea>
				</div>
				<input onclick="return chkFormular()" type="submit" value="{LANG:PLUGIN_EVENTS_SETQUESTION}" />
			</fieldset>
		</form>
	</div>
</div>
{/IF:SHOWNEWQUESTION}
{IF:SHOWLOGIN}
<div class="pageWrapper standardPageWrapper">
	<div class="pageContentWrapper">
		<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEWQUESTION}</h3>
		<p><a href="/login.html">{LANG:PLUGIN_EVENTS_CANTQUEST}</a>.</p>
	</div>
</div>
{/IF:SHOWLOGIN}
