<!--
   detailpage.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWSUBSCRIBE}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="/teilnehmen.html?event={VAR:EVENTID}">
			<strong>{LANG:PLUGIN_EVENTS_SUBSCRIBEMEAL}</strong></a></li>
	</ul>
</section>
{/IF:SHOWSUBSCRIBE}
{IF:SHOWEDIT}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="/event-bearbeiten.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a></li>
	</ul>
</section>
{/IF:SHOWEDIT}
{IF:SHOWORGEDIT}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li>
			<a href="/event-bearbeiten.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_EDIT}</a> 
			<a href="/teilnehmen.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_DONOWSUBSCRIBE}</a>
		</li>
	</ul>
</section>
{/IF:SHOWORGEDIT}
{IF:SHOWLOGIN}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="/login.html">{LANG:PLUGIN_EVENTS_LOGIN}</a></li>
	</ul>
</section>
{/IF:SHOWLOGIN}
<section class="mb20 leftpart">
	<article id="bloglistslider" class="mb20 clearfix">
		{IF:SHOWQUESTMSG}
		<div class="infomsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_QUESTIONOKAY}
		</div>
		{/IF:SHOWQUESTMSG}
		{IF:SHOWANSMSG}
		<div class="successmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_ANSWEROKAY}
		</div>
		{/IF:SHOWANSMSG}
		{IF:COMMENTSAVE}
		<div class="successmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_COMMENTSAVE}
		</div>
		{/IF:COMMENTSAVE}
		{IF:SHOWLOGIN}
		<div class="infomsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_DETAIL1} 
			<a href="/login.html">{LANG:PLUGIN_EVENTS_DETAIL2}</a> 
			{LANG:PLUGIN_EVENTS_DETAIL3}
		</div>
		{/IF:SHOWLOGIN}
		{IF:SHOWMSG}
		<div class="alertmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_DETAIL4} 
			<a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
			{LANG:PLUGIN_EVENTS_DETAIL6}
		</div>
		{/IF:SHOWMSG}
		{IF:FULL}
		<div class="alertmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_DETAIL7} 
			<a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
			{LANG:PLUGIN_EVENTS_DETAIL6}
		</div>
		{/IF:FULL}
		{IF:OPENOK}
		<div class="successmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_OPENOK}
		</div>
		{/IF:OPENOK}
		{IF:CLOSEOK}
		<div class="successmsg alert">
			<a class="clostalert">close</a>
			{LANG:PLUGIN_EVENTS_CLOSEOK}
		</div>
		{/IF:CLOSEOK}
		<h2 class="heading2 blogtitle">{VAR:TITLE}</h2>
		<div class="entry-meta">{VAR:EVENTTYPE} {LANG:PLUGIN_EVENTS_BY} 
			{IF:PERSONAL}
			{VAR:SHOWAUTHOR}
			{/IF:PERSONAL}
			{IF:ORG}
			<a href="/organisationsprofil.html?profile={VAR:ORGID}" class="author">{VAR:ORGNAME}</a> 
			<a target="_blank" href="/uber-organisationsprofile.html" infotext="{LANG:PLUGIN_EVENTS_IORGPROFILE}"
				 class="infotooltip_event"><span title=""><img width="16px" src="{ICON:INFOBUTTON}" /></span></a>
			{/IF:ORG}
			{LANG:PLUGIN_EVENTS_ON}: <span class="published"><strong>{VAR:EVENTDATE}</strong></span> <span><a href="/melden.html?source=meal">
			{LANG:PLUGIN_MELDEN_MELDMEAL}</a></span><span class="comment-count">
			<a href="#questions">{VAR:COUNTQUESTIONS}</a></span>
		</div>
		{IF:SHOWIMAGES}
		<div  class="clearfix blogslider">
			<div class="blogflexalider">
				<ul class="slides">
					{LOOP:IMAGES}
					<li style="text-align: center;"><img rel=”image_src” src="{VAR:IMGURL}" style="max-height: 500px; max-width: 700px;" max-width="700px" max-height="500px" /></li>
					{/LOOP:IMAGES}
				</ul>
				{IF:SYMBOLIMG}
				<p>{LANG:PLUGIN_EVENTS_SYMBOLIMG}</p>
				{/IF:SYMBOLIMG}
			</div>
		</div>
		{/IF:SHOWIMAGES}
		{IF:PROMO}
		<h4 class="heading4">{LANG:PLUGIN_EVENTS_RESTDESC}</h4>
		<blockquote>
			{VAR:RESTDESC}
			<hr />
			<a href="{VAR:SPEISEKARTE}">
				{LANG:PLUGIN_EVENTS_LINKTOSPEISE}
			</a>
		</blockquote>
		{/IF:PROMO}
		<p>{VAR:BESCHREIBUNG}</p>
		{IF:SHOWCOMMENT}
		<hr />
		<p>
			{LANG:PLUGIN_EVENTS_NEWCOMMENTFROM} 
			{IF:PERSONAL}
			{VAR:SHOWAUTHOR}
			{/IF:PERSONAL}
			{IF:ORG}
			<a href="/organisationsprofil.html?profile={VAR:ORGID}" class="author">{VAR:ORGNAME}</a> 
			<a target="_blank" href="/uber-organisationsprofile.html" infotext="{LANG:PLUGIN_EVENTS_IORGPROFILE}" 
				class="infotooltip_event"><span title=""><img width="16px" src="{ICON:INFOBUTTON}" /></span></a>
			{/IF:ORG}
			vom {VAR:COMMENTDATE}:<br />
			<blockquote>
				{VAR:COMMENT}
			</blockquote>
		</p>
		{/IF:SHOWCOMMENT}
		{IF:COMMENTFORM}
		<hr />
		<h4 class="heading4">{LANG:PLUGIN_EVENTS_NEWCOMMENT}</h4>
		<form name="updatecomment" method="post">
			<p>
				<span class="editbar">
					<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
					<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
					<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
					<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
					<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
					<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
					<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
				</span>
				<br />
				<textarea id="upcomment" name="upcomment" rows="13" cols="60">{VAR:COMMENTOF}</textarea>
				<script type="text/javascript">
					initEditor("upcomment", false);
				</script>
			</p>
			<p><input name="savecomment" type="submit" value="{LANG:SAVE}" id="submit_id" /></p>
		</form>
		<br /><br /><br />
		{/IF:COMMENTFORM}
		<h4 class="heading4 recipedetailtitle">{LANG:PLUGIN_EVENTS_SHAREIT}</h3>
		<p>
			<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
			<a class="a2a_button_facebook"></a>
			<a class="a2a_button_twitter"></a>
			{IF:MOBILE}
			<a class="a2a_button_whatsapp"></a>
			{/IF:MOBILE}
			<a class="a2a_button_email"></a>
			<a class="a2a_button_google_plus"></a>
			<a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
			</div>
			<script type="text/javascript">
				var a2a_config = a2a_config || {};
				a2a_config.locale = "de";
				a2a_config.show_title = 1; 
			</script>
			<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
		</p>
		{IF:SHOWSUBSCRIBE}
		<p>
			<a class="linkbuttonmiddum" href="/teilnehmen.html?event={VAR:EVENTID}">
				<strong>{LANG:PLUGIN_EVENTS_SUBSCRIBEMEAL}</strong></a>
		</p>
		{/IF:SHOWSUBSCRIBE}
		{IF:SHOWLOGIN}
		<p>
			<a class="linkbuttonmiddum" href="/login.html"><strong>{LANG:PLUGIN_EVENTS_GOTOLOGIN}</strong></a>
		</p>
		{/IF:SHOWLOGIN}
		{IF:SHOWEDIT}
		<p>
			<a class="linkbuttonmiddum" href="/event-bearbeiten.html?event={VAR:EVENTID}">
				{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a>
		</p>
		{/IF:SHOWEDIT}
		<div class="clearfix"></div>
		<div class="widthcolumn3">
			<h3 class="heading3 recipedetailtitle">{LANG:PLUGIN_EVENTS_DETAILS}</h3>
			<ul class="listoption2">
				<li>{LANG:PLUGIN_PROFILE_DATUM}: {VAR:EVENTDATE}</li>
				<li>{LANG:PLUGIN_EVENTS_FINISH}: {VAR:FINISH}</li>
				{IF:DAUER}
				<li>{LANG:PLUGIN_EVENTS_DAUER}: {VAR:DAUER}</li>
				{/IF:DAUER}
				<li>{LANG:PLUGIN_EVENTS_PREIS}: {VAR:PREIS}</li>
				{IF:NORESTAURANT}
				{IF:BNB}
				<li>Alternativer {LANG:PLUGIN_EVENTS_PREIS}: {VAR:BNB} 
				<a infotext="{LANG:PLUGIN_EVENTS_IBNB}" 
					class="infotooltip_event" href="/Partner/bnb-bonnetzbon.html" target="_blank">
						{LANG:PLUGIN_EVENTS_BNB}
						</a></li>
				{/IF:BNB}
				{IF:BNBSPECIAL}
				<li>{LANG:PLUGIN_EVENTS_BNB}: 
				{VAR:BNBSPECIAL}</li>
				{/IF:BNBSPECIAL}
				{IF:GANGGUEST}
				<li>{LANG:PLUGIN_EVENTS_GANGE}: {VAR:GANGE}</li>
				{/IF:NORESTAURANT}
				{/IF:GANGGUEST}
				<li>
					{LANG:PLUGIN_EVENTS_MAXGUEST}: {VAR:GUEST}
					{IF:SHOWOPENCLOSE}
					<br />
					<a href="/event-details.html?event={VAR:EVENTID}&{VAR:OPENCLOSELINK}=true&orgid={VAR:ORGID}">{VAR:OPENCLOSELINKNAME}</a>
					{/IF:SHOWOPENCLOSE}
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_VOTEYES}: {VAR:SUBSCRIBERS}
					{IF:SHOWTEILNEHMER}
					<ul class="listoption5">
					{LOOP:TEILNEHMER}
						<li>{VAR:TEILSHOWNAME} {VAR:OPTION}</li>
					{/LOOP:TEILNEHMER}
					</ul>
					{/IF:SHOWTEILNEHMER}
				</li>
				<li>{LANG:PLUGIN_EVENTS_FREEPLACE}: 
				{VAR:FREEPLACE}</li>
				{IF:MITNEHMEN}
				<li>{LANG:PLUGIN_EVENTS_MITNEHMEN}: 
				{VAR:MITNEHMEN}</li>
				{/IF:MITNEHMEN}
				<li>{LANG:PLUGIN_BLOGLANGUAGEPACKS_AUFRUFE}: 
				{VAR:AUFRUFE}</li>
			</ul>
			<h3 class="heading3 recipedetailtitle">{LANG:PLUGIN_EVENTS_OVER}</h3>
			<ul class="listoption3">
				{IF:ORG}
				<li>{LANG:PLUGIN_EVENTS_ORG}: 
				<a href="/organisationsprofil.html?profile={VAR:ORGID}" class="author">{VAR:ORGNAME}</a></li>
				{/IF:ORG}
				{IF:NOORG}
				<li>{LANG:PLUGIN_EVENTS_RATE1}: 
				<a href="/mein-profil.html?profile={VAR:USERNAMELINK}" class="author">{VAR:USERNAME}</a></li>
				{/IF:NOORG}
				<li>{LANG:PLUGIN_EVENTS_ORT}: 
				{IF:REST}
				{VAR:REST}<br /> 
				{/IF:REST}
				{IF:RESTAURANT}
				{VAR:STRASSE} {VAR:STRNR}<br />
				{/IF:RESTAURANT}
				{IF:OPENADDRESS}
				{VAR:STRASSE} {VAR:STRNR}
				{/IF:OPENADDRESS}
				{VAR:PLZ} {VAR:ORT}
				{IF:OV}<br />{VAR:OV}{/IF:OV}<br />
				{LANG:PLUGIN_EVENTS_PARKING}: 
				{VAR:PARKING}</li>
				{IF:WEBLINK}
				<li><a href="{VAR:WEBLINK}" target="_blank">{VAR:WEBLINKNAME}</a></li>
				{/IF:WEBLINK}
				<li>{LANG:PLUGIN_EVENTS_MAP}: 
				<a href="https://www.google.ch/maps/place/{VAR:MAP}" target="_blank"><img src="{ICON:MAP}"></a></li>
				{IF:NORESTAURANT}
				{IF:COMPLETEADDRESS}
				<li>{LANG:PLUGIN_EVENTS_IFULLADR}</li>
				{/IF:COMPLETEADDRESS}
				{IF:SMOKE}
				<li>{LANG:PLUGIN_EVENTS_SMOKE}: {VAR:SMOKE}</li>
				{/IF:SMOKE}
				{IF:DRINKS}
				<li>{LANG:PLUGIN_EVENTS_DRINKS}: {VAR:DRINKS}</li>
				{/IF:DRINKS}
				{/IF:NORESTAURANT}
				{IF:ROLLCHAIR}
				<li>{LANG:PLUGIN_EVENTS_ROLLCHAIR}: {VAR:ROLLCHAIR}</li>
				{/IF:ROLLCHAIR}
			</ul>
			{IF:OPTIONS}
			<h3 class="heading3 recipedetailtitle">{LANG:PLUGIN_EVENTS_SUBSCRIBEOPTIONS}</h3>
			<p>{LANG:PLUGIN_EVENTS_IOPTIONS}</p>
			<ul class="listoption4">
				<li>{VAR:OPTION1}</li>
				<li>{VAR:OPTION2}</li>
				{IF:OPTION3}
				<li>{VAR:OPTION3}</li>
				{/IF:OPTION3}
			</ul>
			{/IF:OPTIONS}
			<br />
			{IF:MELDEN}
			<p style="text-align: left;"><a hreF="/melden.html?source=eventdetail&g={VAR:EVENTID}">
				{LANG:PLUGIN_EVENTS_MELDEN}</a></p>
			<br />
			{/IF:MELDEN}
			{IF:SHOWSUBSCRIBE}
			<p>
				<a class="linkbuttonmiddum" href="/teilnehmen.html?event={VAR:EVENTID}">
					<strong>{LANG:PLUGIN_EVENTS_SUBSCRIBEMEAL}</strong></a>
			</p>
			{/IF:SHOWSUBSCRIBE}
			{IF:SHOWLOGIN}
			<p>
				<a class="linkbuttonmiddum" href="/login.html"><strong>{LANG:PLUGIN_EVENTS_GOTOLOGIN}</strong></a>
			</p>
			{/IF:SHOWLOGIN}
			{IF:SHOWEDIT}
			<p>
				<a class="linkbuttonmiddum" href="/event-bearbeiten.html?event={VAR:EVENTID}">
					{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a>
			</p>
			{/IF:SHOWEDIT}
		</div>
		{IF:SIDEINFO}
		{IF:NORESTAURANT}
		<div class="receipedtailsnote">
			<h5 class="heading5 recipedetailtitle">{LANG:PLUGIN_EVENTS_MOREINFOS}</h5>
			<ul class="listoption3">
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_FLEISCH}</span>
					<img src="{VAR:FLEISCH}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_FISCH}</span>
					<img src="{VAR:FISCH}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_SEAFOOD}</span>
					<img src="{VAR:SEAFOOD}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_VEGETARISCHSMALL}</span>
					<img src="{VAR:VEGI}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_VEGANSMALL}</span>
					<img src="{VAR:VEGAN}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_SCHARF}</span>
					<img src="{VAR:SCHARF}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_KOSCHER}</span>
					<img src="{VAR:KOSCHER}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_HALAL}</span>
					<img src="{VAR:HALAL}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_ALKOHOL}</span>
					<img src="{VAR:ALKOHOL}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_BIO}</span>
					<img src="{VAR:BIO}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_SAISONALSMALL}</span>
					<img src="{VAR:SAISONAL}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_REGIONALSMALL}</span>
					<img src="{VAR:REGIONAL}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_LACTOSE}</span>
					<img src="{VAR:LACTOSE}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_GLUTENFREI}</span>
					<img src="{VAR:GLUTEN}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_NUSSE}</span>
					<img src="{VAR:NUSSE}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_HEFE}</span>
					<img src="{VAR:HEFE}" />
				</li>
				<li style="padding-bottom: 0;">
					<img src="{ICON:ACCEPT}" /> {LANG:PLUGIN_EVENTS_YES};
					<img src="{ICON:CROSS}" /> {LANG:PLUGIN_EVENTS_NO};
					<img src="{ICON:FRAGE}" /> {LANG:PLUGIN_EVENTS_KA}
				</li>
			</ul>
		</div>
		{/IF:NORESTAURANT}
		{/IF:SIDEINFO}
		{IF:MINIMALINFO}
		<div class="receipedtailsnote">
			<h5 class="heading5 recipedetailtitle">{LANG:PLUGIN_EVENTS_MOREINFOS}</h5>
			<ul class="listoption3">
				<li>
					{LANG:PLUGIN_EVENTS_ENTHALT}
					<span class="bold">{LANG:PLUGIN_EVENTS_FLEISCH}</span>
					<img src="{VAR:FLEISCH}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_VEGETARISCHSMALL}</span>
					<img src="{VAR:VEGI}" />
				</li>
				<li>
					{LANG:PLUGIN_EVENTS_IST}
					<span class="bold">{LANG:PLUGIN_EVENTS_VEGANSMALL}</span>
					<img src="{VAR:VEGAN}" />
				</li>
				<li style="padding-bottom: 0;">
					<img src="{ICON:ACCEPT}" /> {LANG:PLUGIN_EVENTS_YES};
					<img src="{ICON:CROSS}" /> {LANG:PLUGIN_EVENTS_NO};
					<img src="{ICON:FRAGE}" /> {LANG:PLUGIN_EVENTS_KA}
				</li>
			</ul>
		</div>
		{/IF:MINIMALINFO}
		<div class="clear"></div>
		<p><a name="questions"></a></p>
		<!--Blog author-->
		{IF:SHOWQUESTIONS}
		<section class="comment">
			<h3 class="heading3 ">{LANG:PLUGIN_EVENTS_FRAGEN}</h3>
			{LOOP:QUESTIONS}
			<ul class="maincomment">
				<li>
					<img class="authorimg" src="{VAR:QUESTPROFILIMG}" alt="{VAR:QUESTUSERNAME}" />
					<h5 class="user">{VAR:QUESTTITEL}</h5>
					<div class="entry-meta">
						{LANG:PLUGIN_EVENTS_BY}
						{VAR:QUESTSHOWAUTHOR}
						 <span class="published">{VAR:QUESTDATUM}</span> 
						<span><a href="/melden.html?source=question">{LANG:PLUGIN_MELDEN_MELDQUEST}</a></span>
					</div>
					<div class="commentdetail">
						{VAR:QUESTION}
					</div>
				</li>
			</ul>
			{VAR:ANSWER}
			{/LOOP:QUESTIONS}
		</section>
		{/IF:SHOWQUESTIONS}
		{IF:SHOWNEWQUESTION}
		<section class="leavecomment">
			<h3 class="heading3">{LANG:PLUGIN_EVENTS_NEWQUESTION}</h3>
			<form class="smform clearfix" name="newquestion" class="commentform" method="post" onsubmit="return chkFormular()">
				<ul class="clearfix">
					<li>
						<label for="titel">{LANG:PLUGIN_EVENTS_SUBJECT} <span class="required">*</span></label>
						<input type="text" name="titel" id="titel" class="required" required="required" />
					</li>
					<li>
						<label for="question">{LANG:PLUGIN_EVENTS_YOURQUESTION} <span class="required">*</span></label>
						<textarea required="required" class="required" rows="6" cols="30" id="question" name="question"></textarea>
					</li>
					<li>
						<input onclick="return chkFormular()" type="submit" value="{LANG:PLUGIN_EVENTS_SETQUESTION}" />
					</li>
				</ul>
			</form>
		</section>
		{/IF:SHOWNEWQUESTION}
		{IF:SHOWLOGIN}
		<section class="leavecomment">
			<h3 class="heading3">{LANG:PLUGIN_EVENTS_NEWQUESTION}</h3>
			<p><a href="/login.html">{LANG:PLUGIN_EVENTS_CANTQUEST}</a>.</p>
		</section>
		{/IF:SHOWLOGIN}
	</article>
</section>
