{IF:SHOWMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_EVENTS_EDIT1} 
	<a href="/event-details.html?event={VAR:EVENTID}">
		{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
		{LANG:PLUGIN_EVENTS_EDIT2} 
		<a href="/FAQ/das-solltest-du-als-gastgeber-beachten.html">
			{LANG:PLUGIN_EVENTS_EDIT3}</a>.
</div>
{/IF:SHOWMSG}
{IF:IMGMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_EVENTS_EDIT4}
</div>
{/IF:IMGMSG}
{IF:RESTAURANT}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-restaurant-events.html">{LANG:PLUGIN_EVENTS_EDIT6}</a>.</p>
{/IF:RESTAURANT}
{IF:KOCHEN}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-privat-events-kochen-mit-anderen.html">{LANG:PLUGIN_EVENTS_EDIT7}</a>.</p>
{/IF:KOCHEN}
{IF:EVENTTYPE0}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-privat-events-kochen-fur-andere.html">{LANG:PLUGIN_EVENTS_EDIT8}</a>.</p>
{/IF:EVENTTYPE0}
<form name="editevent" enctype="multipart/form-data" class="smform clearfix" action="/event-bearbeiten.html?event={VAR:EVENTID}" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<a class="accrodian-trigger" onclick="location.href='#top'"  href="#">{LANG:PLUGIN_EVENTS_EVENTDATAS}</a>
		<div class="accrodian-data">
			<ul class="clearfix">
				<li>
					<label for="eventname">{LANG:PLUGIN_EVENTS_NAME} <span class="required">*</span></label>
					<input value="{VAR:EVENTNAME}" required="required" class="required" type="text" id="eventname" name="eventname" />
				</li>
				{IF:RESTAURANT}
				<li>
					<label for="rest">{LANG:PLUGIN_EVENTS_REST} <span class="required">*</span></label>
					<input required="required" class="required" type="text" id="rest" value="{VAR:REST}" name="rest" />
				</li>
				{/IF:RESTAURANT}
				{IF:SHOWADRESSE}
				<li>
					<label for="street">{LANG:PLUGIN_PROFILE_STREET} <span class="required">*</span></label>
					<input required="required" class="required" type="text" id="street" value="{VAR:STREET}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
					<input required="required" class="required" type="text" id="strnr" value="{VAR:STRNR}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" />
				</li>
				<li>
					<label for="plz">{LANG:PLUGIN_PROFILE_PLZ},
					{LANG:PLUGIN_PROFILE_ORT} <span class="required">*</span></label>
					<input required="required" class="required" type="text" id="plz" value="{VAR:PLZ}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
					<input required="required" class="required" size="3" type="text" id="ort" value="{VAR:ORT}" 
					placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" />
				</li>
				<li>
					<label for="kanton">{LANG:PLUGIN_PROFILE_KANTON} <span class="required">*</span></label>
					<select class="required" name="kanton">
						<optgroup label="{LANG:PLUGIN_PROFILE_REGION}">
							<option {VAR:SELECTEDBS} value="BS">
							{LANG:PLUGIN_PROFILE_BS}</option>
							<option {VAR:SELECTEDBL} value="BL">
							{LANG:PLUGIN_PROFILE_BL}</option>
							<option {VAR:SELECTEDAG} value="AG">
							{LANG:PLUGIN_PROFILE_AG}</option>
							<option {VAR:SELECTEDSO} value="SO">
							{LANG:PLUGIN_PROFILE_SO}</option>
							<option {VAR:SELECTEDJU} value="JU">
							{LANG:PLUGIN_PROFILE_JU}</option>
						</optgroup>
						<optgroup label="{LANG:PLUGIN_PROFILE_OTHER}">
							<option {VAR:SELECTEDAR} value="AR">
							{LANG:PLUGIN_PROFILE_AR}</option>
							<option {VAR:SELECTEDAI} value="AI">
							{LANG:PLUGIN_PROFILE_AI}</option>
							<option {VAR:SELECTEDBE} value="BE">
							{LANG:PLUGIN_PROFILE_BE}</option>
							<option {VAR:SELECTEDFR} value="FR">
							{LANG:PLUGIN_PROFILE_FR}</option>
							<option {VAR:SELECTEDGE} value="GE">
							{LANG:PLUGIN_PROFILE_GE}</option>
							<option {VAR:SELECTEDGL} value="GL">
							{LANG:PLUGIN_PROFILE_GL}</option>
							<option {VAR:SELECTEDGR} value="GR">
							{LANG:PLUGIN_PROFILE_GR}</option>
							<option {VAR:SELECTEDLU} value="LU">
							{LANG:PLUGIN_PROFILE_LU}</option>
							<option {VAR:SELECTEDNE} value="NE">
							{LANG:PLUGIN_PROFILE_NE}</option>
							<option {VAR:SELECTEDNW} value="NW">
							{LANG:PLUGIN_PROFILE_NW}</option>
							<option {VAR:SELECTEDOW} value="OW">
							{LANG:PLUGIN_PROFILE_OW}</option>
							<option {VAR:SELECTEDSH} value="SH">
							{LANG:PLUGIN_PROFILE_SH}</option>
							<option {VAR:SELECTEDSZ} value="SZ">
							{LANG:PLUGIN_PROFILE_SZ}</option>
							<option {VAR:SELECTEDSG} value="SG">
							{LANG:PLUGIN_PROFILE_SG}</option>
							<option {VAR:SELECTEDTI} value="TI">
							{LANG:PLUGIN_PROFILE_TI}</option>
							<option {VAR:SELECTEDTG} value="TG">
							{LANG:PLUGIN_PROFILE_TG}</option>
							<option {VAR:SELECTEDUR} value="UR">
							{LANG:PLUGIN_PROFILE_UR}</option>
							<option {VAR:SELECTEDVD} value="VD">
							{LANG:PLUGIN_PROFILE_VD}</option>
							<option {VAR:SELECTEDVS} value="VS">
							{LANG:PLUGIN_PROFILE_VS}</option>
							<option {VAR:SELECTEDZG} value="ZG">
							{LANG:PLUGIN_PROFILE_ZG}</option>
							<option {VAR:SELECTEDZH} value="ZH">
							{LANG:PLUGIN_PROFILE_ZH}</option>
						</optgroup>
					</select>
				</li>
				<li>
					<label for="weblink">{LANG:PLUGIN_EVENTS_WEBLINK1}</label>
					<input type="text" name="weblink" id="weblink" placeholder="http://" value="{VAR:WEBLINK}" />
				</li>
				{/IF:SHOWADRESSE}
				<li>
					<label for="ov">{LANG:PLUGIN_EVENTS_OV}</label>
					<select name="ov">
						<option {VAR:OV1} value="1">{LANG:PLUGIN_EVENTS_OVYES}</option>
						<option {VAR:OV0} value="0">{LANG:PLUGIN_EVENTS_OVNO}</option>
						<option {VAR:OV2} value="2">{LANG:PLUGIN_EVENTS_OVMAYBE}</option>
					</select>
				</li>
				<li>
					<label for="parking">{LANG:PLUGIN_EVENTS_PARKING}</label>
					<select name="parking">
						<option {VAR:PARKING0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:PARKING1} value="1">{LANG:PLUGIN_EVENTS_NO}</option>
						<option {VAR:PARKING2} value="2">{LANG:PLUGIN_EVENTS_YES}</option>
						<option {VAR:PARKING3} value="3">{LANG:PLUGIN_EVENTS_PARKING5MIN}</option>
					</select>
				</li>
				<li>
					<label for="evdate">{LANG:PLUGIN_EVENTS_ON} <span class="required">*</span></label>
					<input value="{VAR:EVENTDATE}" required="required" class="required" type="text" id="evdate" name="evdate" />
				</li>
				<li>
					<label for="asdate">{LANG:PLUGIN_EVENTS_FINISH} <span class="required">*</span></label>
					<input readonly="readonly" value="{VAR:ASDATE}" required="required" class="required" type="text" id="asdate" name="asdate" />
					<input type="hidden" name="datehour" value="{VAR:DATEHOUR}" /> <a infotext="{LANG:PLUGIN_EVENTS_EDIT9}" 
						class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{IF:RESTAURANT}
				<li>
					<label for="specialpreis">{LANG:PLUGIN_EVENTS_PREIS}</label>
					<select name="specialpreis">
						<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option>
						<option {VAR:SPECIALPREIS5} value="5">{LANG:PLUGIN_EVENTS_PRICE5}</option>
						<option {VAR:SPECIALPREIS6} value="6">{LANG:PLUGIN_EVENTS_PRICE6}</option>
					</select> 
				</li>
				{/IF:RESTAURANT}
				{IF:NORESTAURANT}
				<li>
					<label for="preis">{LANG:PLUGIN_EVENTS_PREIS} <span class="required">*</span></label>
					<input value="{VAR:EVENTPREIS}" required="required" class="required" type="number" id="preis" name="preis" /> {LANG:PLUGIN_EVENTS_CHF} 
					<a infotext="{LANG:PLUGIN_EVENTS_EDIT10}" 
						class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				<li>
					<label for="bnb">{LANG:PLUGIN_EVENTS_ALTBNB}</label>
					<input value="{VAR:BNB}" type="number" id="bnb" name="bnb" /> <a target="_blank" href="/Partner/bnb-bonnetzbon.html" infotext="{LANG:PLUGIN_EVENTS_EDIT11}"
						 class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				<li>
					<label for="gange">{LANG:PLUGIN_EVENTS_GANGE} <span class="required">*</span></label>
					<input value="{VAR:EVENTGANGE}" required="required" class="required" type="number" id="gange" name="gange" />
				</li>
				{/IF:NORESTAURANT}
				<li>
					<label for="maxguest">{LANG:PLUGIN_EVENTS_MAXGUEST} <span class="required">*</span></label>
					<input value="{VAR:MAXGUEST}" required="required" class="required" type="number" id="maxguest" name="maxguest" />
				</li>
				{IF:NORESTAURANT}
				<li>
					<label for="drinks">{LANG:PLUGIN_EVENTS_DRINKS}</label>
					<select name="drinks">
						<option value="0" {VAR:DRINK0}>{LANG:PLUGIN_EVENTS_DRINK0}</option>
						<option value="1" {VAR:DRINK1}>{LANG:PLUGIN_EVENTS_DRINK1}</option>
						<option value="2" {VAR:DRINK2}>{LANG:PLUGIN_EVENTS_DRINK2}</option>
					</select> <a infotext="{LANG:PLUGIN_EVENTS_EDIT12}"
						 class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{/IF:NORESTAURANT}
				<li>
					<label for="dauer">{LANG:PLUGIN_EVENTS_DAUER}</label>
					<select name="dauer">
						<option {VAR:DAUER1} value="1">1 {LANG:PLUGIN_EVENTS_HOUR}</option>
						<option {VAR:DAUER2} value="2">2 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER3} value="3">3 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER4} value="4">4 {LANG:PLUGIN_EVENTS_ANDMOREHOURS}</option>
					</select>
				</li>
				{IF:NORESTAURANT}
				<li>
					<label for="rauchen">{LANG:PLUGIN_EVENTS_SMOKE}</label>
					<select name="rauchen">
						<option {VAR:SMOKE0} value="0">{LANG:PLUGIN_EVENTS_SMOKENO}</option>
						<option {VAR:SMOKE1} value="1">{LANG:PLUGIN_EVENTS_SMOKEYES}</option>
						<option {VAR:SMOKE2} value="2">{LANG:PLUGIN_EVENTS_SMOKEBALK}</option>
					</select>
				</li>
				{/IF:NORESTAURANT}
				<li>
					<label for="rollchair">{LANG:PLUGIN_EVENTS_ROLLCHAIR}</label>
					<select name="rollchair">
						<option {VAR:ROLLCHAIR0} value="0">{LANG:PLUGIN_EVENTS_NO}</option>
						<option {VAR:ROLLCHAIR1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
					</select>
				</li>
			</ul>
		</div>
		<a class="accrodian-trigger" onclick="location.href='#top'" href="#">{LANG:PLUGIN_EVENTS_EATINFO}</a>
		<div class="accrodian-data">
			<ul class="clearfix">
				<li>
					<label for="abouteat">{LANG:PLUGIN_EVENTS_ABOUTEAT} <span class="required">*</span></label>
					<span class="editbar">
						<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
						<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
						<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
						<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
						<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
						<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
						<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
					</span>
				</li>
				<li>
					<label>&nbsp;</label>
					<textarea id="abouteat" name="abouteat" rows="10" cols="55">{VAR:ABOUTEAT}</textarea>
					<script type="text/javascript">
						initEditor("abouteat", false);
					</script>
				</li>
				{IF:MITNEHMEN}
				<li>
					<label for="mitnehmen">{LANG:PLUGIN_EVENTS_EDIT13}</label>
					<input type="text" name="mitnehmen" id="mitnehmen" placeholder="{LANG:PLUGIN_EVENTS_EDIT14}"
					 value="{VAR:MITNEHMEN}" />
				</li>
				{/IF:MITNEHMEN}
			</ul>
			{IF:NORESTAURANT}
			<br /><br />
			<div class="infomsg alert">
				<a class="clostalert">close</a>
				{LANG:PLUGIN_EVENTS_EDIT15}
			</div>
			<table class="tableclass mt20">
				<tr>
					<th colspan="3">{LANG:PLUGIN_EVENTS_KA} /
						 {LANG:PLUGIN_EVENTS_YES} / 
						 {LANG:PLUGIN_EVENTS_NO}</th>
					<th>{LANG:PLUGIN_EVENTS_EDIT16}</th>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH0} type="radio" name="fleisch" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH1} type="radio" name="fleisch" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH2} type="radio" name="fleisch" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_FLEISCH}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:FISCH0} type="radio" name="fisch" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FISCH1} type="radio" name="fisch" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FISCH2} type="radio" name="fisch" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_FISCH}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:SEAFOOD0} type="radio" name="seafood" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SEAFOOD1} type="radio" name="seafood" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SEAFOOD2} type="radio" name="seafood" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_SEAFOOD}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI0} type="radio" name="vegi" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI1} type="radio" name="vegi" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI2} type="radio" name="vegi" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_VEGETARISCHSMALL}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN0} type="radio" name="vegan" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN1} type="radio" name="vegan" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN2} type="radio" name="vegan" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_VEGANSMALL}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:SCHARF0} type="radio" name="scharf" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SCHARF1} type="radio" name="scharf" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SCHARF2} type="radio" name="scharf" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_SCHARF2}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:KOSCHER0} type="radio" name="koscher" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:KOSCHER1} type="radio" name="koscher" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:KOSCHER2} type="radio" name="koscher" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_KOSCHER}? 
						<a infotext="{LANG:PLUGIN_EVENTS_EDIT17}" 
							target="_blank" href="https://de.wikipedia.org/wiki/Jüdische_Speisegesetze" class="infotooltip_event"><span title=""><img title="" width="18px" src="{ICON:INFOBUTTON}" /></span></a>
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:HALAL0} type="radio" name="halal" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:HALAL1} type="radio" name="halal" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:HALAL2} type="radio" name="halal" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_HALAL}? 
						<a infotext="{LANG:PLUGIN_EVENTS_EDIT18}" 
							target="_blank" href="https://de.wikipedia.org/wiki/Halāl" class="infotooltip_event"><span title=""><img title="" width="18px" src="{ICON:INFOBUTTON}" /></span></a>
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:ALKOHOL0} type="radio" name="alkohol" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:ALKOHOL1} type="radio" name="alkohol" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:ALKOHOL2} type="radio" name="alkohol" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_ALKOHOL}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:BIO0} type="radio" name="bio" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:BIO1} type="radio" name="bio" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:BIO2} type="radio" name="bio" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_BIO}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:SAISONAL0} type="radio" name="saisonal" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SAISONAL1} type="radio" name="saisonal" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:SAISONAL2} type="radio" name="saisonal" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_SAISONAL}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:REGIONAL0} type="radio" name="regional" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:REGIONAL1} type="radio" name="regional" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:REGIONAL2} type="radio" name="regional" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_REGIONAL}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:LACTOSE0} type="radio" name="lactose" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:LACTOSE1} type="radio" name="lactose" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:LACTOSE2} type="radio" name="lactose" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_LACTOSE}? 
						<a infotext="{LANG:PLUGIN_PROFILE_LACTOSE2}" 
							target="_blank" href="https://de.wikipedia.org/wiki/Laktoseintoleranz" class="infotooltip"><span title=""><img title="" width="18px" src="{ICON:INFOBUTTON}" /></span></a>
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:GLUTEN0} type="radio" name="gluten" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:GLUTEN1} type="radio" name="gluten" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:GLUTEN2} type="radio" name="gluten" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_GLUTENFREI}? 
						<a infotext="{LANG:PLUGIN_PROFILE_GLUTEN2}" 
							target="_blank" href="https://de.wikipedia.org/wiki/Zöliakie" class="infotooltip_event"><span title=""><img title="" width="18px" src="{ICON:INFOBUTTON}" /></span></a>
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:NUSSE0} type="radio" name="nusse" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:NUSSE1} type="radio" name="nusse" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:NUSSE2} type="radio" name="nusse" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_NUSSE}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:HEFE0} type="radio" name="hefe" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:HEFE1} type="radio" name="hefe" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:HEFE2} type="radio" name="hefe" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_HEFE}?
					</td>
				</tr>
			</table>
			{/IF:NORESTAURANT}
			{IF:RESTAURANT}
			<br /><br />
			<div class="infomsg alert">
				<a class="clostalert">close</a>
				{LANG:PLUGIN_EVENTS_EDIT19}
			</div>
			<table class="tableclass mt20">
				<tr>
					<th colspan="3">{LANG:PLUGIN_EVENTS_KA} /
						 {LANG:PLUGIN_EVENTS_YES} / 
						 {LANG:PLUGIN_EVENTS_NO}</th>
					<th>{LANG:PLUGIN_EVENTS_EDIT16}</th>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH0} type="radio" name="fleisch" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH1} type="radio" name="fleisch" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:FLEISCH2} type="radio" name="fleisch" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
						{LANG:PLUGIN_EVENTS_FLEISCH}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI0} type="radio" name="vegi" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI1} type="radio" name="vegi" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGI2} type="radio" name="vegi" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_VEGETARISCH}?
					</td>
				</tr>
				<tr>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN0} type="radio" name="vegan" value="0" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN1} type="radio" name="vegan" value="1" /></td>
					<td width="5%" style="text-align: center;"><input {VAR:VEGAN2} type="radio" name="vegan" value="2" /></td>
					<td>
						{LANG:PLUGIN_EVENTS_ISTESSEN} 
						{LANG:PLUGIN_EVENTS_VEGAN}?
					</td>
				</tr>
			</table>
			{/IF:RESTAURANT}
		</div>
		<a class="accrodian-trigger" onclick="location.href='#top'" href="#">{LANG:PLUGIN_EVENTS_IMAGES}</a>
		<div class="accrodian-data">
			<ul class="clearfix">
				{IF:IMAGEFORM}
				<li>
					<label for="img">{LANG:ADD_IMAGE}</label>
					<input type="file" multiple="multiple" accept="image/*" name="files[]" /> 
					<a infotext="{LANG:PLUGIN_EVENTS_EDIT20}" 
						class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				<li>
					<label for="symbolimg">{LANG:PLUGIN_EVENTS_SYMBOLIMG2}?</label>
					<input type="checkbox" {VAR:SYMBOLIMG} name="symbolimg" id="symbolimg" value="1" /> <a infotext="{LANG:PLUGIN_EVENTS_EDIT21}" 
						class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{/IF:IMAGEFORM}
				{IF:SHOWIMAGES}
				{LOOP:IMAGES}
				<ul class="clearfix">
					<li><img width="200px" maxwidth="200px" style="max-width:200px;" src="{VAR:IMGURL}" /> <a href="/event-bearbeiten.html?event={VAR:EVENTID}&delimg={VAR:IMGID}"><img src="{ICON:CROSS}" /> 
						{LANG:PLUGIN_EVENTS_EDIT22}</a></li>
				</ul>
				{/LOOP:IMAGES}
				{/IF:SHOWIMAGES}
			</ul>
		</div>
		{IF:OPTIONS}
		<a class="accrodian-trigger" onclick="location.href='#top'" href="#">{LANG:PLUGIN_EVENTS_SUBSCRIBEOPTIONS} 
			({LANG:PLUGIN_EVENTS_EDIT23})</a>
		<div class="accrodian-data">
			<ul class="clearfix">
				<li>
					<label for="option1">{LANG:PLUGIN_EVENTS_OPTION} 1</label>
					<input value="{VAR:OPTION1}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT25}" type="text" id="option1" name="option1" /> 
					<a infotext="{LANG:PLUGIN_EVENTS_EDIT24}" 
						class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				<li>
					<label for="option2">{LANG:PLUGIN_EVENTS_OPTION} 2</label>
					<input value="{VAR:OPTION2}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT26}" type="text" id="option2" name="option2" />
				</li>
				<li>
					<label for="option3">{LANG:PLUGIN_EVENTS_OPTION} 3</label>
					<input value="{VAR:OPTION3}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT27}" type="text" id="option3" name="option3" />
				</li>
			</ul>
		</div>
		{/IF:OPTIONS}
	</div>
<p><input name="plugin_editevent_submit" type="submit" value="{LANG:SAVE}" id="submit_id" /></p>
</form>
