<!--
   editpagepromo.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWMSG}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{VAR:PROMOMSG}
</div>
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_EVENTS_EDIT1} 
	<a href="./event-details.html?event={VAR:EVENTID}">
		{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
		{LANG:PLUGIN_EVENTS_EDIT2} 
		<a href="/FAQ/das-solltest-du-als-gastgeber-beachten.html">
			{LANG:PLUGIN_EVENTS_EDIT3}</a>.
</div>
{/IF:SHOWMSG}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-restaurant-events.html">{LANG:PLUGIN_EVENTS_EDIT6}</a>.
</p>
<form name="editevent" enctype="multipart/form-data" class="smform clearfix" action="/event-bearbeiten.html?event={VAR:EVENTID}" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<h2 class="heading2">{LANG:PLUGIN_EVENTS_EVENTDATAS}</h2>
		<ul class="clearfix">
			<li>
				<label for="eventname">{LANG:PLUGIN_EVENTS_NAME}</label>
				{VAR:EVENTNAME}
			</li>
			<li>
				<label for="rest">{LANG:PLUGIN_EVENTS_REST}</label>
				{VAR:REST}
			</li>
			<li>
				<label for="street">{LANG:PLUGIN_PROFILE_STREET}</label>
				{VAR:STREET} {VAR:STRNR}
			</li>
			<li>
				<label for="plz">{LANG:PLUGIN_PROFILE_PLZ},
				{LANG:PLUGIN_PROFILE_ORT}</label>
				{VAR:PLZ} {VAR:ORT} ({VAR:KANTON})
			</li>
			<li>
				<label for="evdate">{LANG:PLUGIN_EVENTS_ON} <span class="required">*</span></label>
				<input value="{VAR:EVENTDATE}" required="required" class="required" type="text" id="evdate" name="evdate" />
			</li>
			<li>
				<label for="asdate">{LANG:PLUGIN_EVENTS_FINISH} <span class="required">*</span></label>
				<input readonly="readonly" value="{VAR:ASDATE}" required="required" class="required" type="text" id="asdate" name="asdate" />
				<input type="hidden" name="datehour" value="{VAR:DATEHOUR}" /> <a infotext="{LANG:PLUGIN_EVENTS_EDIT9}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label for="specialpreis">{LANG:PLUGIN_EVENTS_PREIS}</label>
				<select name="specialpreis">
					<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option>
					<option {VAR:SPECIALPREIS5} value="5">{LANG:PLUGIN_EVENTS_PRICE5}</option>
					<option {VAR:SPECIALPREIS6} value="6">{LANG:PLUGIN_EVENTS_PRICE6}</option>
				</select> 
			</li>
			<li>
				<label for="maxguest">{LANG:PLUGIN_EVENTS_MAXGUEST} <span class="required">*</span></label>
				<input value="{VAR:MAXGUEST}" required="required" class="required" type="number" id="maxguest" name="maxguest" />
			</li>
			<li>
				<label for="dauer">{LANG:PLUGIN_EVENTS_DAUER}</label>
				<select name="dauer">
					<option {VAR:DAUER1} value="1">1 {LANG:PLUGIN_EVENTS_HOUR}</option>
					<option {VAR:DAUER2} value="2">2 {LANG:PLUGIN_EVENTS_HOURS}</option>
					<option {VAR:DAUER3} value="3">3 {LANG:PLUGIN_EVENTS_HOURS}</option>
					<option {VAR:DAUER4} value="4">4 {LANG:PLUGIN_EVENTS_ANDMOREHOURS}</option>
				</select>
			</li>
			<li>
				<label for="abouteat">{LANG:PLUGIN_EVENTS_ABOUTEAT} <span class="required">*</span></label>
				<span class="editbar">
					<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
					<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
					<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
					<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
					<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
					<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
					<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
				</span>
			</li>
			<li>
				<label>&nbsp;</label>
				<textarea id="abouteat" required="required" name="abouteat" rows="10" cols="55">{VAR:ABOUTEAT}</textarea>
				<script type="text/javascript">
					initEditor("abouteat", false);
				</script>
			</li>
		</ul>
	</div>
<p><input name="plugin_editevent_submit" type="submit" value="{LANG:SAVE}" id="submit_id" /></p>
</form>
