<!--
   editpagepromo.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWMSG}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">{VAR:PROMOMSG}</p>
	<a href="" class="alertBoxButton"></a>
</div>
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">
		{LANG:PLUGIN_EVENTS_EDIT1} 
		<a href="./event-details.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_DETAIL5}
		</a> {LANG:PLUGIN_EVENTS_EDIT2} 
		<a href="/FAQ/das-solltest-du-als-gastgeber-beachten.html">
			{LANG:PLUGIN_EVENTS_EDIT3}
		</a>
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWMSG}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-restaurant-events.html">{LANG:PLUGIN_EVENTS_EDIT6}</a>.
</p>
</div></div>
<form name="editevent" enctype="multipart/form-data" action="/event-bearbeiten.html?event={VAR:EVENTID}" method="post" onsubmit="return chkFormular()">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_EVENTDATAS}</h3>
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold">{LANG:PLUGIN_EVENTS_NAME}</label>
					{VAR:EVENTNAME}
				</div>
				<div class="formFieldWrapper">
					<label class="bold">{LANG:PLUGIN_EVENTS_REST}</label>
					{VAR:REST}
				</div>
				<div class="formFieldWrapper">
					<label class="bold">{LANG:PLUGIN_PROFILE_STREET}</label>
					{VAR:STREET} {VAR:STRNR}
				</div>
				<div class="formFieldWrapper">
					<label class="bold">{LANG:PLUGIN_PROFILE_PLZ},
					{LANG:PLUGIN_PROFILE_ORT}</label>
					{VAR:PLZ} {VAR:ORT} ({VAR:KANTON})
				</div>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</h3>
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="evdate">{LANG:PLUGIN_EVENTS_ON}</label>
					<input value="{VAR:EVENTDATE}" required="required" type="text" id="evdate" name="evdate" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="asdate">{LANG:PLUGIN_EVENTS_FINISH}</label>
					<input readonly="readonly" value="{VAR:ASDATE}" required="required" type="text" id="asdate" name="asdate" />
					<input type="hidden" name="datehour" value="{VAR:DATEHOUR}" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="specialpreis">{LANG:PLUGIN_EVENTS_PREIS}</label>
					<select name="specialpreis">
						<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option>
						<option {VAR:SPECIALPREIS5} value="5">{LANG:PLUGIN_EVENTS_PRICE5}</option>
						<option {VAR:SPECIALPREIS6} value="6">{LANG:PLUGIN_EVENTS_PRICE6}</option>
					</select> 
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="maxguest">{LANG:PLUGIN_EVENTS_MAXGUEST}</label>
					<input value="{VAR:MAXGUEST}" required="required" type="text" id="maxguest" name="maxguest" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="dauer">{LANG:PLUGIN_EVENTS_DAUER}</label>
					<select name="dauer">
						<option {VAR:DAUER1} value="1">1 {LANG:PLUGIN_EVENTS_HOUR}</option>
						<option {VAR:DAUER2} value="2">2 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER3} value="3">3 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER4} value="4">4 {LANG:PLUGIN_EVENTS_ANDMOREHOURS}</option>
					</select>
				</div>
				<div class="formTextareaWrapper">
					<label for="abouteat">{LANG:PLUGIN_EVENTS_ABOUTEAT}</label>
					<textarea id="abouteat" name="abouteat">{VAR:ABOUTEAT}</textarea>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<input name="plugin_editevent_submit" type="submit" value="{LANG:SAVE}" id="submit_id" />
		</div>
	</div>
</form>
