<!--
   editpagespecial.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NORIGHT}
<p>{LANG:PLUGIN_EVENTS_CANTEDIT}</p>
{/IF:NORIGHT}
{IF:SHOWMSG}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">
		{LANG:PLUGIN_EVENTS_EDIT1} 
		<a href="/event-details.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_DETAIL5}
		</a>{LANG:PLUGIN_EVENTS_EDIT2} 
		<a href="/FAQ/das-solltest-du-als-gastgeber-beachten.html">
			{LANG:PLUGIN_EVENTS_EDIT3}
		</a>
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWMSG}
{IF:IMGMSG}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_EDIT4}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:IMGMSG}
<p>{LANG:PLUGIN_EVENTS_EDIT5} 
	<a target="_blank" href="/FAQ/erstellung-von-spezial-events.html">{LANG:PLUGIN_EVENTS_EDIT28}</a>.
</p>
</div></div>
<form name="editevent" enctype="multipart/form-data" action="/event-bearbeiten.html?event={VAR:EVENTID}" method="post" onsubmit="return chkFormular()">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_EVENTDATAS}</h3>
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="eventname">{LANG:PLUGIN_EVENTS_NAME}</label>
					<input type="text" name="eventname" id="eventname" value="{VAR:EVENTNAME}" required="required" />
				</div>
				{IF:SHOWORG}
				<div class="formSelectWrapper">
					<label class="bold" for="org">{LANG:PLUGIN_EVENTS_EDIT29}</label>
					<select name="org">
						<option {VAR:ORGSELECTED0} value="user">{LANG:PLUGIN_EVENTS_EDIT30}</option>
						{LOOP:ORGS}
						<option {VAR:ORGSELECTED} value="{VAR:ORGID}">{VAR:ORGNAME}</option>
						{/LOOP:ORGS}
					</select> 
				</div>
				{/IF:SHOWORG}
				<div class="formFieldWrapper">
					<label class="bold" for="street">{LANG:PLUGIN_PROFILE_STREET}</label>
					<input required="required" class="required" type="text" id="street" value="{VAR:STREET}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
					<input required="required" class="required" type="text" id="strnr" value="{VAR:STRNR}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" />
					{IF:FALSEUSER}
					<input type="hidden" name="org" value="{VAR:FALSEORGID}" />
					{/IF:FALSEUSER}
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="plz">
						{LANG:PLUGIN_PROFILE_PLZ},
						{LANG:PLUGIN_PROFILE_ORT}
					</label>
					<input required="required" type="text" id="plz" value="{VAR:PLZ}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
					<input required="required" size="3" type="text" id="ort" value="{VAR:ORT}" 
					placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" /> 
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="kanton">{LANG:PLUGIN_PROFILE_KANTON}</label>
					<select name="kanton">
						<optgroup label="{LANG:PLUGIN_PROFILE_REGION}">
							<option {VAR:SELECTEDBS} value="{LANG:PLUGIN_PROFILE_BS}">
							{LANG:PLUGIN_PROFILE_BS}</option>
							<option {VAR:SELECTEDBL} value="{LANG:PLUGIN_PROFILE_BL}">
							{LANG:PLUGIN_PROFILE_BL}</option>
							<option {VAR:SELECTEDAG} value="{LANG:PLUGIN_PROFILE_AG}">
							{LANG:PLUGIN_PROFILE_AG}</option>
							<option {VAR:SELECTEDSO} value="{LANG:PLUGIN_PROFILE_SO}">
							{LANG:PLUGIN_PROFILE_SO}</option>
							<option {VAR:SELECTEDJU} value="{LANG:PLUGIN_PROFILE_JU}">
							{LANG:PLUGIN_PROFILE_JU}</option>
						</optgroup>
						<optgroup label="{LANG:PLUGIN_PROFILE_NOTCH}">
							<option {VAR:SELECTEDDE} value="{LANG:PLUGIN_PROFILE_GERMANY}">
							{LANG:PLUGIN_PROFILE_GERMANY}</option>
							<option {VAR:SELECTEDFRA} value="{LANG:PLUGIN_PROFILE_FRANCE}">
							{LANG:PLUGIN_PROFILE_FRANCE}</option>
						</optgroup>
						<optgroup label="{LANG:PLUGIN_PROFILE_OTHER}">
							<option {VAR:SELECTEDAR} value="{LANG:PLUGIN_PROFILE_AR}">
							{LANG:PLUGIN_PROFILE_AR}</option>
							<option {VAR:SELECTEDAI} value="{LANG:PLUGIN_PROFILE_AI}">
							{LANG:PLUGIN_PROFILE_AI}</option>
							<option {VAR:SELECTEDBE} value="{LANG:PLUGIN_PROFILE_BE}">
							{LANG:PLUGIN_PROFILE_BE}</option>
							<option {VAR:SELECTEDFR} value="{LANG:PLUGIN_PROFILE_FR}">
							{LANG:PLUGIN_PROFILE_FR}</option>
							<option {VAR:SELECTEDGE} value="{LANG:PLUGIN_PROFILE_GE}">
							{LANG:PLUGIN_PROFILE_GE}</option>
							<option {VAR:SELECTEDGL} value="{LANG:PLUGIN_PROFILE_GL}">
							{LANG:PLUGIN_PROFILE_GL}</option>
							<option {VAR:SELECTEDGR} value="{LANG:PLUGIN_PROFILE_GR}">
							{LANG:PLUGIN_PROFILE_GR}</option>
							<option {VAR:SELECTEDLU} value="{LANG:PLUGIN_PROFILE_LU}">
							{LANG:PLUGIN_PROFILE_LU}</option>
							<option {VAR:SELECTEDNE} value="{LANG:PLUGIN_PROFILE_NE}">
							{LANG:PLUGIN_PROFILE_NE}</option>
							<option {VAR:SELECTEDNW} value="{LANG:PLUGIN_PROFILE_NW}">
							{LANG:PLUGIN_PROFILE_NW}</option>
							<option {VAR:SELECTEDOW} value="{LANG:PLUGIN_PROFILE_OW}">
							{LANG:PLUGIN_PROFILE_OW}</option>
							<option {VAR:SELECTEDSH} value="{LANG:PLUGIN_PROFILE_SH}">
							{LANG:PLUGIN_PROFILE_SH}</option>
							<option {VAR:SELECTEDSZ} value="{LANG:PLUGIN_PROFILE_SZ}">
							{LANG:PLUGIN_PROFILE_SZ}</option>
							<option {VAR:SELECTEDSG} value="{LANG:PLUGIN_PROFILE_SG}">
							{LANG:PLUGIN_PROFILE_SG}</option>
							<option {VAR:SELECTEDTI} value="{LANG:PLUGIN_PROFILE_TI}">
							{LANG:PLUGIN_PROFILE_TI}</option>
							<option {VAR:SELECTEDTG} value="{LANG:PLUGIN_PROFILE_TG}">
							{LANG:PLUGIN_PROFILE_TG}</option>
							<option {VAR:SELECTEDUR} value="{LANG:PLUGIN_PROFILE_UR}">
							{LANG:PLUGIN_PROFILE_UR}</option>
							<option {VAR:SELECTEDVD} value="{LANG:PLUGIN_PROFILE_VD}">
							{LANG:PLUGIN_PROFILE_VD}</option>
							<option {VAR:SELECTEDVS} value="{LANG:PLUGIN_PROFILE_VS}">
							{LANG:PLUGIN_PROFILE_VS}</option>
							<option {VAR:SELECTEDZG} value="{LANG:PLUGIN_PROFILE_ZG}">
							{LANG:PLUGIN_PROFILE_ZG}</option>
							<option {VAR:SELECTEDZH} value="{LANG:PLUGIN_PROFILE_ZH}">
							{LANG:PLUGIN_PROFILE_ZH}</option>
						</optgroup>
					</select>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="rest">{LANG:PLUGIN_EVENTS_EVENTPLACE}</label>
					<input type="text" name="rest" id="rest" value="{VAR:REST}" required="required" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="weblink">{LANG:PLUGIN_EVENTS_WEBLINK2}</label>
					<input type="text" name="weblink" id="weblink" placeholder="http://" value="{VAR:WEBLINK}" />
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="openaddress">{LANG:PLUGIN_EVENTS_EDIT32}</label>
					<input type="checkbox" name="openaddress" id="openaddress" value="1" {VAR:OPENADDRESSCHECKED} /> 
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="evdate">{LANG:PLUGIN_EVENTS_ON}</label>
					<input readonly="readonly" value="{VAR:EVENTDATE}" required="required" type="text" id="evdate" name="evdate" />
					<input type="hidden" name="datehour" value="{VAR:DATEHOUR}" />
				</div>
				<div class="formTextareaWrapper">
					<label for="abouteat">{LANG:PLUGIN_EVENTS_ABOUTEAT}</label>
					<textarea id="abouteat" name="abouteat">{VAR:ABOUTEAT}</textarea>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="mitnehmen">{LANG:PLUGIN_EVENTS_EDIT13}</label>
					<input type="text" name="mitnehmen" id="mitnehmen" placeholder="{LANG:PLUGIN_EVENTS_EDIT14}"
					 value="{VAR:MITNEHMEN}" />
				</div>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_EDIT34}</h3>
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="asdate">{LANG:PLUGIN_EVENTS_FINISH}</label>
					<input value="{VAR:ASDATE}" type="text" id="asdate" name="asdate" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="ov">{LANG:PLUGIN_EVENTS_OV}</label>
					<select name="ov">
						<option {VAR:OV99} value="99">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:OV1} value="1">{LANG:PLUGIN_EVENTS_OVYES}</option>
						<option {VAR:OV0} value="0">{LANG:PLUGIN_EVENTS_OVNO}</option>
					</select>
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="parking">{LANG:PLUGIN_EVENTS_PARKING}</label>
					<select name="parking">
						<option {VAR:PARKING0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:PARKING1} value="1">{LANG:PLUGIN_EVENTS_NO}</option>
						<option {VAR:PARKING2} value="2">{LANG:PLUGIN_EVENTS_YES}</option>
						<option {VAR:PARKING3} value="3">{LANG:PLUGIN_EVENTS_PARKING5MIN}</option>
					</select>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="preis">{LANG:PLUGIN_EVENTS_PREIS}</label>
					<input value="{VAR:EVENTPREIS}" required="required" type="text" id="preis" name="preis" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="specialpreis">{LANG:PLUGIN_EVENTS_OR}?</label>
					<select name="specialpreis">
						<option {VAR:SPECIALPREIS0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:SPECIALPREIS1} value="1">{LANG:PLUGIN_EVENTS_PRICE1}</option>
						<option {VAR:SPECIALPREIS2} value="2">{LANG:PLUGIN_EVENTS_PRICE2}</option>
						<option {VAR:SPECIALPREIS4} value="4">{LANG:PLUGIN_EVENTS_PRICE4}</option> 
						<option {VAR:SPECIALPREIS3} value="3">{LANG:PLUGIN_EVENTS_PRICE3}...</option>
					</select> 
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="bnb">{LANG:PLUGIN_EVENTS_ALTBNB}</label>
					<input value="{VAR:BNB}" type="text" id="bnb" name="bnb" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="specialbnb">{LANG:PLUGIN_EVENTS_OR}?</label>
					<select name="specialbnb">
						<option {VAR:SPECIALBNB0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:SPECIALBNB1} value="1">{LANG:PLUGIN_EVENTS_BNBPRICE1}</option>
					</select>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="maxguest">{LANG:PLUGIN_EVENTS_MAXGUEST}</label>
					<input value="{VAR:MAXGUEST}" type="text" id="maxguest" name="maxguest" /> 
					{LANG:PLUGIN_EVENTS_OR} 
					<input type="checkbox" {VAR:NOLIMITCHECKED} name="nolimit" value="1" /> 
					{LANG:PLUGIN_EVENTS_NOLIMIT}
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="drinks">{LANG:PLUGIN_EVENTS_DRINKS}</label>
					<select name="drinks">
						<option value="99" {VAR:DRINK99}>{LANG:PLUGIN_EVENTS_KA}</option>
						<option value="0" {VAR:DRINK0}>{LANG:PLUGIN_EVENTS_DRINK0}</option>
						<option value="1" {VAR:DRINK1}>{LANG:PLUGIN_EVENTS_DRINK1}</option>
						<option value="2" {VAR:DRINK2}>{LANG:PLUGIN_EVENTS_DRINK2}</option>
					</select>
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="dauer">{LANG:PLUGIN_EVENTS_DAUER}</label>
					<select name="dauer">
						<option {VAR:DAUER0} value="0">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:DAUER1} value="1">1 {LANG:PLUGIN_EVENTS_HOUR}</option>
						<option {VAR:DAUER2} value="2">2 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER3} value="3">3 {LANG:PLUGIN_EVENTS_HOURS}</option>
						<option {VAR:DAUER4} value="4">4 {LANG:PLUGIN_EVENTS_ANDMOREHOURS}</option>
					</select>
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="rollchair">{LANG:PLUGIN_EVENTS_ROLLCHAIR}</label>
					<select name="rollchair">
						<option {VAR:ROLLCHAIR99} value="99">{LANG:PLUGIN_EVENTS_KA}</option>
						<option {VAR:ROLLCHAIR0} value="0">{LANG:PLUGIN_EVENTS_NO}</option>
						<option {VAR:ROLLCHAIR1} value="1">{LANG:PLUGIN_EVENTS_YES}</option>
					</select>
				</div>
				<div class="alertBox alertBoxInfo">
					<p class="alertBoxContent">{LANG:PLUGIN_EVENTS_EDIT19}</p>
					<a href="" class="alertBoxButton"></a>
				</div>
				<table>
					<thead>
					<tr>
							<th></th>
							<th>{LANG:PLUGIN_EVENTS_YES}</th>
							<th>{LANG:PLUGIN_EVENTS_NO}</th>
							<th>{LANG:PLUGIN_EVENTS_EDIT16}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td width="5%" style="text-align: center;"><input {VAR:FLEISCH0} type="radio" name="fleisch" value="0" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:FLEISCH1} type="radio" name="fleisch" value="1" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:FLEISCH2} type="radio" name="fleisch" value="2" /></td>
							<td>
								{LANG:PLUGIN_EVENTS_ENTHALTESSEN} 
								{LANG:PLUGIN_EVENTS_FLEISCH}?
							</td>
						</tr>
						<tr>
							<td width="5%" style="text-align: center;"><input {VAR:VEGI0} type="radio" name="vegi" value="0" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:VEGI1} type="radio" name="vegi" value="1" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:VEGI2} type="radio" name="vegi" value="2" /></td>
							<td>
								{LANG:PLUGIN_EVENTS_ISTESSEN} 
								{LANG:PLUGIN_EVENTS_VEGETARISCHSMALL}?
							</td>
						</tr>
						<tr>
							<td width="5%" style="text-align: center;"><input {VAR:VEGAN0} type="radio" name="vegan" value="0" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:VEGAN1} type="radio" name="vegan" value="1" /></td>
							<td width="5%" style="text-align: center;"><input {VAR:VEGAN2} type="radio" name="vegan" value="2" /></td>
							<td>
								{LANG:PLUGIN_EVENTS_ISTESSEN} 
								{LANG:PLUGIN_EVENTS_VEGANSMALL}?
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_IMAGES}</h3>
			<fieldset>
				{IF:IMAGEFORM}
				<div class="formUploadWrapper">
					<label class="bold" for="img">{LANG:ADD_IMAGE}</label>
					<input type="file" multiple="multiple" accept="image/*" name="files[]" /> 
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="symbolimg">{LANG:PLUGIN_EVENTS_SYMBOLIMG2}?</label>
					<input type="checkbox" {VAR:SYMBOLIMG} name="symbolimg" id="symbolimg" value="1" />
				</div>
				{/IF:IMAGEFORM}
				{IF:SHOWIMAGES}
				{LOOP:IMAGES}
				<p>
					<img class="largeImage" src="{VAR:IMGURL}" />
					<a onclick="return confirm_alert(this);" href="/event-bearbeiten.html?event={VAR:EVENTID}&delimg={VAR:IMGID}">
						<span class="singleIconWrapper iconNoDark"></span> {LANG:PLUGIN_EVENTS_EDIT22}
					</a>
				</p>
				{/LOOP:IMAGES}
				{/IF:SHOWIMAGES}
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_SUBSCRIBEOPTIONS}</h3>
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="option1">{LANG:PLUGIN_EVENTS_OPTION} 1</label>
					<input value="{VAR:OPTION1}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT25}" type="text" id="option1" name="option1" /> 
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="option2">{LANG:PLUGIN_EVENTS_OPTION} 2</label>
					<input value="{VAR:OPTION2}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT26}" type="text" id="option2" name="option2" /> 
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="option3">{LANG:PLUGIN_EVENTS_OPTION} 3</label>
					<input value="{VAR:OPTION3}" 
					placeholder="{LANG:PLUGIN_EVENTS_EDIT27}" type="text" id="option3" name="option3" /> 
				</div>
			</fieldset>
		</div>
	</div>
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<input name="plugin_editevent_submit" type="submit" value="{LANG:SAVE}" id="submit_id" />
		</div>
	</div>
</form>
