<!--
   filter.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<p>{LANG:PLUGIN_EVENTS_FILTER6} 
	<a href="/FAQ/so-findest-du-das-richtige-angebot.html" target="_blank">{LANG:PLUGIN_EVENTS_FILTER7}</a>.</p>
{IF:EVENTS}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="filterform" action="/essen-gehen.html" class="smform clearfix" method="post">
				<div class="recipedetails">
					<h3 class="heading3">{LANG:PLUGIN_EVENTS_PAGETYPETITLEFILTER}</h3>
					<p>
						<small>{LANG:PLUGIN_EVENTS_FILTER1}:</small><br />
						<input type="checkbox" name="fleisch" id="fleisch" value="1" {VAR:FLEISCHCHECKED} /> <label for="fleisch">{LANG:PLUGIN_EVENTS_FLEISCH}</label>&nbsp;
						<input type="checkbox" name="fisch" id="fisch" value="1" {VAR:FISCHCHECKED} /> <label for="fisch">{LANG:PLUGIN_EVENTS_FISCH}</label>&nbsp;
						<input type="checkbox" name="seafood" id="seafood" value="1" {VAR:SEAFOODCHECKED} /> <label for="seafood">{LANG:PLUGIN_EVENTS_SEAFOOD}</label>&nbsp;
						<input type="checkbox" name="vegi" id="vegi" value="1" {VAR:VEGICHECKED} /> <label for="vegi">{LANG:PLUGIN_EVENTS_VEGETARISCH}</label>&nbsp;
						<input type="checkbox" name="vegan" id="vegan" value="1" {VAR:VEGANCHECKED} /> <label for="vegan">{LANG:PLUGIN_EVENTS_VEGAN}</label>&nbsp;
						<input type="checkbox" name="bio" id="bio" value="1" {VAR:BIOCHECKED} /> <label for="bio">{LANG:PLUGIN_EVENTS_BIO}</label>&nbsp;
						<input type="checkbox" name="saison" id="saison" value="1" {VAR:SAISONCHECKED} /> <label for="saison">{LANG:PLUGIN_EVENTS_SAISONAL}</label>&nbsp;
						<input type="checkbox" name="regional" id="regional" value="1" {VAR:REGIONALCHECKED} /> <label for="regional">{LANG:PLUGIN_EVENTS_REGIONAL}</label>
					</p>
					<p>
						<small>Wähle deinen Meal-Typ:</small><br />
						<input type="checkbox" name="eventtype0" id="eventtype0" value="1" {VAR:EVENTTYPE0} /> <label for="eventtype0">{LANG:PLUGIN_EVENTS_EVENTTYPE0}</label>&nbsp;
						<input type="checkbox" name="eventtype2" id="eventtype2" value="1" {VAR:EVENTTYPE2} /> <label for="eventtype2">{LANG:PLUGIN_EVENTS_EVENTTYPE2}</label>&nbsp;
						<input type="checkbox" name="eventtype1" id="eventtype1" value="1" {VAR:EVENTTYPE1} /> <label for="eventtype1">{LANG:PLUGIN_EVENTS_EVENTTYPE1}</label>&nbsp;
						<input type="checkbox" name="eventtype3" id="eventtype3" value="1" {VAR:EVENTTYPE3} /> <label for="eventtype3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</label>&nbsp;
					</p>
					<p style="text-align: right"><input type="submit" name="getfilter" value="{LANG:PLUGIN_EVENTS_FILTER2}" /></p>
				</div>
			</form>
		</li>
		{LOOP:EVENTS}
		<li class="clearfix" {VAR:UNREAD}>
			{VAR:EVENTIMG}
			<div class="recipedetails">
				<a class="title" href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTTITEL}</a>
				<p>{VAR:EVENTTYPE} 
					{LANG:PLUGIN_PROFILE_DATUM}: 
					{VAR:DATUM}<br />
					{LANG:PLUGIN_EVENTS_FREEPLACE}: 
					{VAR:FREEPLACE}</p>
				<p>{VAR:EVENTBESCHREIBUNG}<br /><br />{VAR:PREIS} {VAR:BNB}</p>
				<a href="/event-details.html?event={VAR:EVENTID}" class="fr">
					{LANG:PLUGIN_EVENTS_FILTER3} &gt;&gt;</a>
			</div>
		</li>
		{/LOOP:EVENTS}
	</ul>
</section>
{/IF:EVENTS}
{IF:NOEVENT}
<section class="mb20 leftpart">
	<p>{LANG:PLUGIN_EVENTS_FILTER4} 
		<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
		{LANG:PLUGIN_EVENTS_FILTER5}</p>
</section>
{/IF:NOEVENT}
