<!--
   home.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<p><div class="widthcolumn3"><a href="/registrieren.html">Werde kostenlos Mitglied...</a></div>
  <div class="widthcolumn3">
	  <a href="/neuen-event-erstellen.html">Essen anbieten</a><br />
	  <a href="/essen-gehen.html">Essen gehen</a>
  </div>
  <div class="widthcolumn3 last">
	  <a href="/Blog/uebersicht.html">Zum Blog</a>
	  <a href="/FAQ/erlauterungen-zu-unserem-konzept.html">Unser Konzept</a>
	  <a href="/uber-uns.html">Über uns</a><br /><br /><br /><br /><br /><br /><br />
  </div>
  </div>

</p>
{IF:NOEVENT}
<p>{LANG:PLUGIN_EVENTS_FILTER4} 
	<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
	{LANG:PLUGIN_EVENTS_FILTER5}</p>
{/IF:NOEVENT}
{IF:EVENTS}
<!-- options -->
<h1 class="heading1">{LANG:PLUGIN_EVENTS_HOME5}</h1>
<section id="options" class="clearfix">
	<ul id="filters" class="option-set clearfix" data-option-key="filter">
		<li><a href="#filter" data-option-value="*" class="selected">{LANG:PLUGIN_EVENTS_HOME6}</a></li>
		<li><a href="#filter" data-option-value=".Fleisch">{LANG:PLUGIN_EVENTS_FLEISCH}</a></li>
		<li><a href="#filter" data-option-value=".Vegetarisch">{LANG:PLUGIN_EVENTS_VEGETARISCH}</a></li>
		<li><a href="#filter" data-option-value=".Vegan">{LANG:PLUGIN_EVENTS_VEGAN}</a></li>
	</ul>
</section>
<!-- Recipea -->
<div id="recipecontainer" class="clearfix recipecolumn3 recipesortable">
	<ul>
		{LOOP:ALLEVENTS}
		<li class="element {VAR:CATEGORYS}" {VAR:UNREAD}>
			{VAR:IMG}
			<div class="recipedetails">
				<a href="./event-details.html?event={VAR:ID}" class="title">{VAR:NAME}</a>
				<p>
					{VAR:EVENTTYPE}
					{VAR:DATUM}
					<br />
					{LANG:PLUGIN_EVENTS_FREEPLACE}: 
					{VAR:FREEPLACE}
					<br />
				</p>
				<p>{VAR:BESCHREIBUNG}</p>
				{VAR:PREIS} {VAR:BNB}<a class="fr" href="./event-details.html?event={VAR:ID}">
					{LANG:PLUGIN_EVENTS_FILTER3}</a>
			</div>
		</li>
		{/LOOP:ALLEVENTS}
	</ul>
</div>
<!-- #container -->
{IF:SHOWALLMEALS}
<p><a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_HOME10}...</a></p>
{/IF:SHOWALLMEALS}
</section>
<!--What's Hot End-->
<!--Info Banner-->
<section id="middleline" class="clearfix">
	<div class="midlinebg">
		<div class="container">
			<h1 class="textpadding">{VAR:TITLE}</h1>
			<div class="event">
				<span class="eventdate">{LANG:PLUGIN_PROFILE_DATUM}: 
				{VAR:DATUM}</span>
				<span class="eventdate">{VAR:PREIS}</span>
				<p>
					{VAR:BESCHREIBUNG}
					<span style="text-align: right;"><a style="color: white; text-decoration: underline;" href="/event-details.html?event={VAR:ID}">
						{LANG:PLUGIN_EVENTS_HOME7} --></a></span>
				</p>
			</div>
		</div>
	</div>
</section>
<!--Info Banner-->

<!--Middle container Start-->
<section class="container clearfix">
{/IF:EVENTS}
<!--leftpart-->
<section class="mb20 leftpart">
	<h1 class="heading1">{LANG:PLUGIN_BLOGLANGUAGEPACKS_NEWEST}</h1>
	<article id ="bloglistimg" class="mb20 clearfix">
		<h2 class="heading2 blogtitle"><a href="{VAR:ENTRYURL}">{VAR:ENTRYTITLE}</a></h2>
		<div class="entry-meta"> {LANG:PLUGIN_BLOGLANGUAGEPACKS_VON} 
			{VAR:SHOWAUTHOR},
			{LANG:PLUGIN_EVENTS_HOME8} 
			<span class="published">{VAR:DATETIME}</span>
			<br />
			{LANG:PLUGIN_BLOGLANGUAGEPACKS_CATEGORY}:
			 <a href="/Blog/uebersicht.html?cat={VAR:CATID}">{VAR:CATNAME}</a>, <a href="{VAR:ENTRYURL}#comments">{VAR:COMMENTS}</a>, 
			 {LANG:PLUGIN_BLOGLANGUAGEPACKS_AUFRUFE}: 
			 {VAR:AUFRUFE}
		</div>
	{IF:BLOGIMAGE}
	<div class="clearfix blogslider">
		<a><img src="{VAR:IMGPATH}" title="{VAR:ENTRYTITLE}" /></a>
		{IF:IMGDESC}
		<blockquote>{VAR:IMGDESC}</blockquote>
		{/IF:IMGDESC}
	</div>
	{/IF:BLOGIMAGE}
	<p>
		{VAR:ENTRYCONTENT}
	</p>
	{IF:AUTHORINFO}
	<div class="blogother">
		<img src="{VAR:AUTHORIMG}" 
		alt="{LANG:PLUGIN_EVENTS_HOME9} 
		{VAR:AUTHOR}" />
		<h5 class="author">{VAR:AUTHOR}</h5>
		<p>{VAR:AUTHORINFO}</p><hr /><p><ul class="listoption4"><li><a href="/Blog/uebersicht.html?author={VAR:AUTHOR}">
			{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY1} 
			{VAR:AUTHOR} 
			{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY2}</a>
			</li><li><a href="/mein-profil.html?profile={VAR:AUTHOR}">
				{LANG:PLUGIN_BLOGLANGUAGEPACKS_ENTRY3} 
				{VAR:AUTHOR}</a></li></ul></p>
	</div>
	{/IF:AUTHORINFO}
	{IF:READMORE}
	<a href="{VAR:ENTRYURL}" class="linkbutton fr">{LANG:PLUGIN_EVENTS_READMORE} >></a>
	{/IF:READMORE}
</article>
	</section>
