<!--
   home.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NOEVENT}
<p>{LANG:PLUGIN_EVENTS_FILTER4} 
	<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
	{LANG:PLUGIN_EVENTS_FILTER5}</p>
{/IF:NOEVENT}
{IF:EVENTS}
<div class="portfolioFilterableItemsWrapper" id="portfolioFilterableItemsWrapper">
	{LOOP:ALLEVENTS}
	<div class="portfolioFilterableItemWrapper" data-type="{VAR:CATEGORYS}"> <a href="/event-details.html?event={VAR:ID}" class="portfolioFilterableItemImageWrapper"><img src="{VAR:IMG}" alt=""/></a>
		<div class="portfolioFilterableItemInfoWrapper">
			<h4 class="portfolioFilterableItemTitle">{VAR:NAME}</h4>
		</div>
		<p style="padding-left:12px;">{VAR:BESCHREIBUNG}<br /><br />
		{VAR:DATUM}<br />{LANG:PLUGIN_EVENTS_FREEPLACE}: 
		{VAR:FREEPLACE}
	</div>
	{/LOOP:ALLEVENTS}
</div>
{/IF:EVENTS}
</div>
</div>
<div class="singlePostContentWrapper">
	<h3 class="pageTitle">{LANG:PLUGIN_BLOGLANGUAGEPACKS_NEWEST}</h3>
<div class="pageSpacer"></div>
<h4><a href="{VAR:ENTRYURL}">{VAR:ENTRYTITLE}</a></h4>
{IF:BLOGIMAGE}
<img src="{VAR:IMGPATH}" class="largeImage" alt="{VAR:ENTRYTITLE}"/>
{/IF:BLOGIMAGE}
<p>{VAR:ENTRYCONTENT}</p>
<div class="textBreak"></div>
</div>
<div class="singlePostInfoWrapper"><span class="singleIconWrapper singleIconText iconCalendarDark postInfo postDate">{VAR:DATETIME}</span>
{VAR:SHOWAUTHOR}
 <a href="/Blog/uebersicht.html?cat={VAR:CATID}" class="singleIconWrapper singleIconText iconTagDark postInfo postCat">{VAR:CATNAME}</a></div>
