<!--
   newpage.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWFORM}
<form name="newevent" class="smform clearfix" action="" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="eventtpye">{LANG:PLUGIN_EVENTS_NEW1} <span class="required">*</span></label> 
				<select class="required" name="eventtype">
					<option {VAR:SELECTED0} value="0">{LANG:PLUGIN_EVENTS_EVENTTYPE0}</option>
					<option {VAR:SELECTED2} value="2">{LANG:PLUGIN_EVENTS_EVENTTYPE2}</option>
					<option {VAR:SELECTED1} value="1">{LANG:PLUGIN_EVENTS_EVENTTYPE1}</option>
					<option {VAR:SELECTED3} value="3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</option>
				</select>
			</li>
			<li>
				<label for="eventname">{LANG:PLUGIN_EVENTS_NAME} <span class="required">*</span></label> 
				<input type="text" name="eventname" id="eventname" placeholder="{LANG:PLUGIN_EVENTS_EVENTEXAMPLE}" class="require text" required="required" />
			</li>
		</ul>
	</div>
	<p><input type="submit" name="plugin_events_new" value="{LANG:PLUGIN_EVENTS_PAGETYPETITLENEW}" /></p><br /><br />
</form>
<form class="smform clearfix" action="" method="post">
	<br /><br />
	<h1 class="heading1">{LANG:PLUGIN_EVENTS_NEW7}</h1>
	<p>Finde hier die <a href="/details-zu-allen-promo-partnern.html">Details zu allen Promo-Partnern</a>.</p>
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="promomeal">{LANG:PLUGIN_EVENTS_NEW8}</label>
				<select name="promomeal">
					<option value="0">-- {LANG:PLUGIN_EVENTS_NEW9} --</option>
					{LOOP:PROMO}
					<option value="{VAR:ID}">{VAR:NAME} ({VAR:PROMOTION})</option>
					{/LOOP:PROMO}
				</select>
			</li>
		</ul>
	</div>
	<p><input type="submit" name="plugin_events_promo" value="{LANG:PLUGIN_EVENTS_NEW8}" /></p>
</form>
<form class="smform clearfix" action="" method="post">
	<br /><br />
	<h1 class="heading1">{LANG:PLUGIN_EVENTS_NEW2}</h1>
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="oldevent">{LANG:PLUGIN_EVENTS_NEW3}</label>
				<select name="oldevent">
					<option value="0">-- {LANG:PLUGIN_EVENTS_NEW4} --</option>
					{LOOP:OLDEVENTS}
					<option value="{VAR:OLDEVENTID}">{VAR:OLDEVENTNAME} 
					({LANG:PLUGIN_EVENTS_NEW5} 
					{VAR:OLDEVENTDATUM})</option>
					{/LOOP:OLDEVENTS}
				</select>
			</li>
		</ul>
	</div>
	<p><input type="submit" name="plugin_events_oldevent" value="{LANG:PLUGIN_EVENTS_NEW2}" /></p>
</form>
{/IF:SHOWFORM}

{IF:SHOWOK}
<p>{LANG:PLUGIN_EVENTS_NEW6} 
	<a href="./event-bearbeiten.html?event={VAR:EVENTID}">
		{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a></p>
<script language="javascript" type="text/javascript"> document.location="./event-bearbeiten.html?event={VAR:EVENTID}"; </script>
{/IF:SHOWOK}
