<!--
   newpage.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWFORM}
<form name="newevent" action="" method="post" onsubmit="return chkFormular()">
	<fieldset>
		<div class="formFieldWrapper">
			<label class="bold" for="eventname">{LANG:PLUGIN_EVENTS_NAME}</label>
			<input type="text" name="eventname" id="eventname" placeholder="{LANG:PLUGIN_EVENTS_EVENTEXAMPLE}" />
		</div>
		<div class="formSelectWrapper">
			<label class="bold" for="eventtype">{LANG:PLUGIN_EVENTS_NEW1}</label>
			<select name="eventtype">
				<option {VAR:SELECTED0} value="0">{LANG:PLUGIN_EVENTS_EVENTTYPE0}</option>
				<option {VAR:SELECTED2} value="2">{LANG:PLUGIN_EVENTS_EVENTTYPE2}</option>
				<option {VAR:SELECTED1} value="1">{LANG:PLUGIN_EVENTS_EVENTTYPE1}</option>
				<option {VAR:SELECTED3} value="3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</option>
			</select>
		</div>
		<input type="submit" name="plugin_events_new" value="{LANG:PLUGIN_EVENTS_PAGETYPETITLENEW}" />
	</fieldset>
</div></div>
<form action="" method="post">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEW7}</h3>
			<p>Finde hier die <a href="/details-zu-allen-promo-partnern.html">Details zu allen Promo-Partnern</a>.</p>
			<fieldset>
				<div class="formSelectWrapper">
					<label class="bold" for="promomeal">{LANG:PLUGIN_EVENTS_NEW8}</label>
					<select name="promomeal">
						<option value="0">-- {LANG:PLUGIN_EVENTS_NEW9} --</option>
						{LOOP:PROMO}
						<option value="{VAR:ID}">{VAR:NAME} ({VAR:PROMOTION})</option>
						{/LOOP:PROMO}
					</select>
				</div>
				<input type="submit" name="plugin_events_promo" value="{LANG:PLUGIN_EVENTS_NEW8}" />
			</fieldset>
		</div>
	</div>
</form>
<form action="" method="post">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<h3 class="pageTitle">{LANG:PLUGIN_EVENTS_NEW2}</h3>
			<fieldset>
				<div class="formSelectWrapper">
					<label class="bold" for="oldevent">{LANG:PLUGIN_EVENTS_NEW3}</label>
					<select name="oldevent">
						<option value="0">-- {LANG:PLUGIN_EVENTS_NEW4} --</option>
						{LOOP:OLDEVENTS}
						<option value="{VAR:OLDEVENTID}">{VAR:OLDEVENTNAME} 
						({LANG:PLUGIN_EVENTS_NEW5} 
						{VAR:OLDEVENTDATUM})</option>
						{/LOOP:OLDEVENTS}
					</select>
				</div>
				<input type="submit" name="plugin_events_oldevent" value="{LANG:PLUGIN_EVENTS_NEW2}" />
			</fieldset>
		</div>
	</div>
</form>
{/IF:SHOWFORM}

{IF:SHOWOK}
<p>{LANG:PLUGIN_EVENTS_NEW6} 
	<a href="./event-bearbeiten.html?event={VAR:EVENTID}">
		{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a></p>
<script language="javascript" type="text/javascript"> document.location="./event-bearbeiten.html?event={VAR:EVENTID}"; </script>
{/IF:SHOWOK}
