<!--
   rate.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<p><a href="/FAQ/so-funktioniert-das-bewertungssystem.html" target="_blank">{LANG:PLUGIN_EVENTS_RATE5}</a></p>
{IF:SHOWMSG}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_RATE6} 
		<a href="/bewertungen.html?user={VAR:RATEID}">
			{LANG:PLUGIN_EVENTS_RATE7}</a>.</p>
</div>
{/IF:SHOWMSG}
{IF:SHOWFORM}
<form class="smform clearfix" action="" method="post" name="rate" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<p>{LANG:PLUGIN_EVENTS_RATE8} 
			{VAR:USERNAME} 
			{LANG:PLUGIN_EVENTS_RATE9} 
			{VAR:RATETYPE} 
			{LANG:PLUGIN_EVENTS_RATE10} 
			"{VAR:EVENTNAME}" 
			{LANG:PLUGIN_EVENTS_RATE11}</p>
		<ul class="clearfix">
			<li>
				<label for="stars">{LANG:PLUGIN_EVENTS_RATE12}</label> 
				<select class="required" name="stars" id="stars">
					<option value="1">1 {LANG:PLUGIN_EVENTS_RATE13}</option>
					<option value="2">2 {LANG:PLUGIN_EVENTS_RATE14}</option>
					<option selected="selected" value="3">3 {LANG:PLUGIN_EVENTS_RATE14}</option>
					<option value="4">4 {LANG:PLUGIN_EVENTS_RATE14}</option>
					<option value="5">5 {LANG:PLUGIN_EVENTS_RATE14}</option>
				</select>
			</li>
			<li>
				<label for="text">{LANG:PLUGIN_EVENTS_RATE15}: <span class="required">*</span></label> 
				<textarea name="text" rows="6" required="required" cols="40"></textarea>
			</li>
			{IF:NEWFRIEND}
			<li>
				<label>&nbsp;</label>
				<input type="checkbox" name="newfriend" id="newfriend" value="1" />
				{LANG:PLUGIN_EVENTS_RATE16}?
			</li>
			{/IF:NEWFRIEND}
		</ul>
	</div>
	<br />
	<p><input type="submit" name="plugin_events_rate" value="{LANG:PLUGIN_EVENTS_RATE17}" /></p><br /><br />
</form>
{/IF:SHOWFORM}
