<!--
   ratings.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="/mein-profil.html?profile={VAR:USERNAME}">
			{LANG:PLUGIN_PROFILE_GOPROFILE} 
			{LANG:PLUGIN_EVENTS_BY} 
			{VAR:SHOWUSERNAME}</a></li>
	</ul>
</section>
<p><a href="/FAQ/so-funktioniert-das-bewertungssystem.html" target="_blank">{LANG:PLUGIN_EVENTS_RATE5}</a></p>
{IF:SAVEMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_EVENTS_RATINGS3}
</div>
{/IF:SAVEMSG}
{IF:RATINGS}
{LOOP:RATINGS}
<blockquote>
	<a name="{VAR:RATEID}">&nbsp;</a>
	<ul class="rate">
		<li class="{VAR:STAR1}"></li>
		<li class="{VAR:STAR2}"></li>
		<li class="{VAR:STAR3}"></li>
		<li class="{VAR:STAR4}"></li>
		<li class="{VAR:STAR5}"></li>
	</ul>
	{VAR:TEXT} <a href="/melden.html?source=rating">{LANG:PLUGIN_MELDEN_MELDRATING}</a>
	<hr />
	<small>{LANG:PLUGIN_EVENTS_RATINGS4} 
	<a href="/mein-profil.html?profile={VAR:USERNAMELINK}">{VAR:USERNAME}</a> {VAR:VERIFY} 
	{LANG:PLUGIN_EVENTS_RATINGS5} 
	{VAR:DATE}<br />{VAR:RATETYPE} 
	{LANG:PLUGIN_EVENTS_RATINGS6} 
	<a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a></small>
	{VAR:RATEREPLY}
</blockquote>
{/LOOP:RATINGS}
{/IF:RATINGS}
{IF:NORATINGS}
<p>{LANG:PLUGIN_EVENTS_RATINGS7}</p>
{/IF:NORATINGS}
{IF:USERISDEL}
<p>{LANG:PLUGIN_PROFILE_PROFILISDEL}.</p>
{/IF:USERISDEL}
