<!--
   sidebar.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:TEXTCONTENT}
</section>
{/IF:TEXTCONTENT}
<script>
	(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=1576053509305261&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--Sidebar start-->
<aside class="blogright">
	<!--
	<div class="sidecontainer">
		<h4 class="heading4">{LANG:PLUGIN_EVENTS_HOME5}</h4>
		<ul class="tabs">
			<li class="active"><a href="#tabdata1">{LANG:PLUGIN_EVENTS_SIDEBAR1}</a></li>
			<li><a href="#tabdata2">{LANG:NEW}</a></li>
			<li><a href="#tabdata3">{LANG:PLUGIN_EVENTS_SIDEBAR2}</a></li>
		</ul>
		<div class="tabs-container">
			<div class="tabdata" id="tabdata1">
				<div class="popular">
					<ul class="popular">
						{LOOP:POPULAR}
						<li>
							{VAR:IMAGE}
							<a href="/event-details.html?event={VAR:ID}" class="entrytitle">{VAR:TITEL}</a>
							<div class="entry-meta">
								<span class="published">{VAR:DATUM}</span>
								<span class="meta-sep">·</span>
								<span class="comment-count">{VAR:PREIS}</span>
							</div>
						</li>
						{/LOOP:POPULAR}
					</ul>
				</div>
			</div>
			<div class="tabdata" id="tabdata2">
				<ul class="popular">
					{LOOP:NEU}
					<li>
						{VAR:IMAGE}
						<a href="/event-details.html?event={VAR:ID}" class="entrytitle">{VAR:TITEL}</a>
						<div class="entry-meta">
								<span class="published">{VAR:DATUM}</span>
								<span class="meta-sep">·</span>
								<span class="comment-count">{VAR:PREIS}</span>
							</div>
					</li>
					{/LOOP:NEU}
				</ul>
			</div>
			<div class="tabdata" id="tabdata3">
				<ul class="tags">
					<li><a href="/essen-gehen.html?vegi=1">{LANG:PLUGIN_EVENTS_VEGETARISCH}</a></li>
					<li><a href="/essen-gehen.html?vegan=1">{LANG:PLUGIN_EVENTS_VEGAN}</a></li>
					<li><a href="/essen-gehen.html?bio=1">{LANG:PLUGIN_EVENTS_BIO}</a></li>
					<li><a href="/essen-gehen.html?saison=1">{LANG:PLUGIN_EVENTS_SAISONAL}</a></li>
					<li><a href="/essen-gehen.html?fleisch=1">{LANG:PLUGIN_EVENTS_FLEISCH}</a></li>
				</ul>
			</div>
		</div>
	</div> -->
	<div class="sidecontainer">
		<h3 class="heading3">Facebook</h3>
		<div class="fb-like-box" data-href="https://www.facebook.com/42socialmeal" data-width="260" data-show-faces="true" data-stream="true" data-header="false"></div>
	</div>
	<div class="sidecontainer">
		<h4 class="heading4">Social Meal</h4>
		<a class="accrodian-trigger" href="#">{LANG:PLUGIN_EVENTS_SIDEBAR3}</a>
		<div class="accrodian-data">
			<p>{LANG:PLUGIN_EVENTS_SIDEBAR4} 
				<a href="/essen-gehen.html">{LANG:PLUGIN_EVENTS_SIDEBAR5}</a> 
				{LANG:PLUGIN_EVENTS_SIDEBAR6}</p>
		</div>
		<a class="accrodian-trigger" href="#">{LANG:PLUGIN_EVENTS_SIDEBAR7}</a>
		<div class="accrodian-data">
			<p>{LANG:PLUGIN_EVENTS_SIDEBAR8} 
				<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
				{LANG:PLUGIN_EVENTS_SIDEBAR9}</p>
		</div>
		{IF:GAST}
		<a class="accrodian-trigger" href="#">{LANG:PLUGIN_EVENTS_SIDEBAR10}</a>
		<div class="accrodian-data">
			<p> {LANG:PLUGIN_EVENTS_SIDEBAR11}
				<a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html">{LANG:PLUGIN_EVENTS_SIDEBAR12}</a> 
				{LANG:PLUGIN_EVENTS_SIDEBAR13}</p>
			<ul class="listoption1">
				<li><a href="/registrieren.html">{LANG:PLUGIN_REGISTER2_GOREGISTER}</a></li>
				<li><a href="/login.html">{LANG:PLUGIN_REGISTER2_GOLOGIN}</a></li>
			</ul>
		</div>
		{/IF:GAST}
	</div>
	<div class="sidecontainer">
		<h4 class="heading4">{LANG:PLUGIN_EVENTS_SIDEBAR14}</h4>
		<ul class="blogcaterg">
			<li><a href="/essen-gehen.html?vegi=1">{LANG:PLUGIN_EVENTS_VEGETARISCH}</a></li>
			<li><a href="/essen-gehen.html?vegan=1">{LANG:PLUGIN_EVENTS_VEGAN}</a></li>
			<li><a href="/essen-gehen.html?bio=1">{LANG:PLUGIN_EVENTS_BIO}</a></li>
			<li><a href="/essen-gehen.html?saison=1">{LANG:PLUGIN_EVENTS_SAISONAL}</a></li>
		</ul>
	</div>
	<div class="sidecontainer">
		<h4 class="heading4">{LANG:PLUGIN_CUSTOMSEARCH_SEARCH}</h4>
		<form name="searchform" method="post" action="/suchen.html">
			<input pattern="[a-zA-Z0-9._%+-äöü]{3,}" title="{LANG:PLUGIN_CUSTOMSEARCH_INPUTTITLE}"
			 type="text" name="q" placeholder="{LANG:PLUGIN_CUSTOMSEARCH_PLACEHOLDER}" /><br /><br />
			<input type="submit" name="searchstart" value="{LANG:PLUGIN_CUSTOMSEARCH_SEARCHSTART}" />
		</form>
		<br />
	</div>
</aside>
<!--Sidebar end-->
