<!--
   subscribe.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWSUBSCRIBE}
<form name="subscribeform" method="post" action="/teilnehmen.html?event={VAR:EVENTID}&subscribe=true">
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_SUBSCRIBE1} 
		"{VAR:EVENTNAME}", 
		{LANG:PLUGIN_EVENTS_SUBSCRIBE2} 
		<strong>{VAR:EVENTDATUM}</strong> 
		{LANG:PLUGIN_EVENTS_SUBSCRIBE3}</p>
	{IF:OPTIONS}
	<p>
		<input type="radio" checked="checked" name="option" id="option1" value="1" /> <label for="option1">{VAR:OPTION1}</label><br />
		<input type="radio" name="option" id="option2" value="2" /> <label for="option2">{VAR:OPTION2}</label>
		{IF:OPTION3}
		<br /><input type="radio" name="option" id="option3" value="3" /> <label for="option3">{VAR:OPTION3}</label>
		{/IF:OPTION3}
	</p>
	{/IF:OPTIONS}
	{IF:MITNEHMEN}
	<p>
		{LANG:PLUGIN_EVENTS_SUBSCRIBE4}
		<ul class="listoption3">
			<li>{VAR:MITNEHMEN}</li>
		</ul>
	</p>
	{/IF:MITNEHMEN}
	{IF:245MIT}
	<p>
		<ul class="clearfix">
			<li>
				<label for="245partner">{LANG:PLUGIN_EVENTS_245FRIENDTXT}:</label>
				<input type="text" id="245partner" required="required" name="245partner" placeholder="{LANG:PLUGIN_EVENTS_245FRIENDPH}" />
			</li>
		</ul>
	</p>
	<p>
		<input type="radio" checked="checked" name="werkocht" id="werkocht1" value="{LANG:PLUGIN_EVENTS_WERKOCHT1}" /> 
		<label for="werkocht1">{LANG:PLUGIN_EVENTS_WERKOCHT1}</label><br />
		<input type="radio" name="werkocht" id="werkocht2" value="{LANG:PLUGIN_EVENTS_WERKOCHT2}" /> 
		<label for="werkocht2">{LANG:PLUGIN_EVENTS_WERKOCHT2}</label>
	</p>
	{/IF:245MIT}
	<p><input type="submit" name="teilnehmen" value="{LANG:PLUGIN_EVENTS_SUBSCRIBE5}" />&nbsp;&nbsp;&nbsp;
		<a href="./event-details.html?event={VAR:EVENTID}">
			{LANG:PLUGIN_EVENTS_SUBSCRIBE6}
		</a></p>
</div>
{/IF:SHOWSUBSCRIBE}
{IF:SUBSCRIBEOK}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_SUBSCRIBE7}
		<br />{LANG:PLUGIN_EVENTS_SUBSCRIBE8} 
		<a href="/FAQ/das-solltest-du-als-gast-beachten.html">
			{LANG:PLUGIN_EVENTS_SUBSCRIBE9}
			</a>.<br /><a href="/event-details.html?event={VAR:EVENTID}">
				{LANG:PLUGIN_EVENTS_DETAIL5}</a> 
				{LANG:PLUGIN_EVENTS_SUBSCRIBE10}</p>
				
		{IF:IT245}
		<p>&nbsp;</p>
		<p>
			{LANG:PLUGIN_EVENTS_IT245PI1} 
			<a href="/mein-profil-bearbeiten.html">{LANG:PLUGIN_EVENTS_IT245PI2}</a> 
			{LANG:PLUGIN_EVENTS_IT245PI3}.
		</p>
		<p>{LANG:PLUGIN_EVENTS_IT245PI4}</p>
		{/IF:IT245}
</div>
{/IF:SUBSCRIBEOK}
{IF:SUBSCRIBER}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_SUBSCRIBE11}</p>
</div>
{/IF:SUBSCRIBER}
{IF:SELFSUBSCRIBE}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_SUBSCRIBE12}</p>
</div>
{/IF:SELFSUBSCRIBE}
{IF:MAXGUEST}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_SUBSCRIBE13}</p>
</div>
{/IF:MAXGUEST}
