<!--
   unload.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWFORM}
<form class="smform clearfix" action="" method="post" name="unload" onsubmit="return chkFormular()">
	<p>{LANG:PLUGIN_EVENTS_UNLOAD1} 
		<strong>{VAR:USERNAME}</strong> 
		{LANG:PLUGIN_EVENTS_UNLOAD2} 
		<strong>{VAR:EVENTNAME}</strong> 
		{LANG:PLUGIN_EVENTS_UNLOAD3}</p>
	<hr />
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="grund">{LANG:PLUGIN_EVENTS_GRUND}: <span class="required">*</span></label>
				<textarea name="grund" required="required" class="required" rows="10" cols="75"></textarea>
			</li>
		</ul>
	</div>
	<p><input name="plugin_events_unloadsubmit" type="submit" value="{LANG:PLUGIN_EVENTS_PAGETYPETITLEUNLOAD}" id="submit_id" /></p>
</form>
{/IF:SHOWFORM}

{IF:SHOWOK}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNLOAD4} 
		{VAR:USERNAME} 
		{LANG:PLUGIN_EVENTS_UNLOAD5} 
		{VAR:EVENTNAME} 
		{LANG:PLUGIN_EVENTS_UNLOAD6}</p>
</div>
{/IF:SHOWOK}
{IF:NOSUBSCRIBER}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNLOAD7} 
		{VAR:USERNAME} 
		{LANG:PLUGIN_EVENTS_UNLOAD8} 
		{VAR:EVENTNAME} 
		{LANG:OLUGIN_EVENTS_UNLOAD9}</p>
</div>
{/IF:NOSUBSCRIBER}
{IF:NOTOWN}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNLOAD10}</p>
</div>
{/IF:NOTOWN}
{IF:ASDATE}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNLOAD11}</p>
</div>
{/IF:ASDATE}
