<!--
   unsubscribe.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWUNSUBSCRIBE}
<form class="smform clearfix" action="" method="post" name="unsubscribe" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<p>{LANG:PLUGIN_EVENTS_UNSUBSCRIBE1} 
			"{VAR:EVENTNAME}"
			 {LANG:PLUGIN_EVENTS_UNSUBSCRIBE2}</p>
		<ul class="clearfix">
			<li>
				<label for="grund">{LANG:PLUGIN_EVENTS_GRUND}: <span class="required">*</span></label>
				<textarea name="grund" required="required" class="required" rows="10" cols="75"></textarea>
			</li>
		</ul>
		<p><input type="submit" name="sendgrund" value="{LANG:PLUGIN_EVENTS_UNSUBSCRIBE3}" />&nbsp;&nbsp;&nbsp;
			<a href="./mein-profil.html">{LANG:PLUGIN_EVENTS_UNSUBSCRIBE4}</a></p>
	</div>
</form>
{/IF:SHOWUNSUBSCRIBE}
{IF:UNSUBSCRIBEOK}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNSUBSCRIBE5}</p>
</div>
{/IF:UNSUBSCRIBEOK}
{IF:ASDATE}
<div class="widthcolumn1">
	<p>{LANG:PLUGIN_EVENTS_UNSUBSCRIBE6}</p>
</div>
{/IF:ASDATE}
