<!--
   adminsendall.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SENDOK}
<strong>{LANG:PLUGIN_PM_NEWPM1}</strong>
{/IF:SENDOK}
{IF:PREVIEW}
<h2>{LANG:PLUGIN_PM_PREVIEWTITLE}</h2>
<p>
	{LANG:PLUGIN_PM_SUBJECT}: <strong>{VAR:SUBJECT}</strong>
</p>
<p>
	{LANG:PLUGIN_PM_MESSAGE}:
	<br />
	{VAR:MESSAGE}
</p>
<p>
	<form action="" name="sendall2" method="post">
		<input type="hidden" name="subject" value="{VAR:SUBJECT}" />
		<input type="hidden" name="message" value="{VAR:OFMESSAGE}" />
		<input type="submit" name="sendmessage" value="{LANG:PLUGIN_PM_SENDMESSAGE}" />
	</form>
</p>
{/IF:PREVIEW}
<h2>{LANG:PLUGIN_PM_PAGETYPETITLEADMINSENDALL}</h2>
<p>{LANG:PLUGIN_PM_ADMININFO}</p>
<form name="sendall" method="post" action="">
	<p>
		{LANG:PLUGIN_PM_SUBJECT}
		<br />
		<input type="text" name="subject" value="{VAR:SUBJECT}" />
	</p>
	<p>
		{LANG:PLUGIN_PM_MESSAGE}
		<br />
		<textarea name="message" rows="13" cols="30">{VAR:OFMESSAGE}</textarea>
	</p>
	<p>
	<input type="submit" name="preview" value="{LANG:PLUGIN_PM_PREVIEW}" />
	</p>
</form>
