<!--
   inbox.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:MSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_SENDOK}
</div>
{/IF:MSG}
{IF:DELMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_DELOK}
</div>
{/IF:DELMSG}
{IF:SHOWMESSAGE}
<section id="maincontainer" class="container clearfix">
	<section class="comment">
		<article id="bloglistslider" class="mb20 clearfix">
				<h3 class="heading3"><a name="gomessage">{VAR:SUBJECT}</a></h3>
				<ul class="maincomment">
					<li>
						<img width="100px" src="{VAR:IMGURL}" />
						<h5 class="user"></h5>
						<div class="entry-meta">
							von
							{VAR:GETSHOWUSERNAME} <span class="published">{VAR:DATUM}</span>
						</div>
						<div class="commentdetail">
							{VAR:MESSAGE}
						</div>
					</li>
				</ul>
		</article>
	</section>
</section>
<form class="smform clearfix" name="autofill" method="post">
	<ul class="clearfix">
		<li>
			<label for="showto">{LANG:PLUGIN_PM_TO}: <span class="required">*</span></label>
			<input name="showto" type="text" id="showto" readonly="readonly" placeholder="{LANG:USERNAME}" value="{VAR:SHOWUSERNAME}" class="required text" required="required" />
			<input type="hidden" name="to" value="{VAR:USERNAME}" />
		</li>
		<li>
			<label for="subject">{LANG:PLUGIN_PM_SUBJECT}: </label>
			<input autofocus="autofocus" name="subject" type="text" id="subject" placeholder="{LANG:PLUGIN_PM_SUBJECT}" value="RE: {VAR:SUBJECT}" />
		</li>
		<li>
			<label>&nbsp;</label>
			<a href="javascript:SmilieEinfuegen(' :-) ')"><img src="{ICON:EMOTICON_SMILE}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-D ')"><img src="{ICON:EMOTICON_GRIN}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-P ')"><img src="{ICON:EMOTICON_TONGUE}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-O ')"><img src="{ICON:EMOTICON_SURPRISED}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-( ')"><img src="{ICON:EMOTICON_UNHAPPY}" /></a>
			<span class="editbar">
				<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
				<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
				<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
				<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
				<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
				<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
				<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
			</span>
		</li>
		<li>
			<label for "message">{LANG:PLUGIN_PM_MESSAGE}: <span class="required">*</span></label>
			<textarea id="message" name="message" rows="12" cols="60">{VAR:OLDMESSAGE}</textarea>
			<script type="text/javascript">
				initEditor("message", false);
			</script>
		</li>
		<li>
			<p>{LANG:PLUGIN_PM_INBOX1} 
			<a href="/FAQ/netiquette.html" target="_blank">{LANG:PLUGIN_PM_INBOX2}</a>.</p>
		</li>
		<li>
			<input type="submit" name="plugin_pm_send" value="{LANG:PLUGIN_PM_SENDMESSAGE}" />
		</li>
	</ul>
</form>
{/IF:SHOWMESSAGE}
<form action="" name="delmsgform" method="post"> 
	<ul class="listoption1">
		<li><a href="/nachricht-schreiben.html">{LANG:PLUGIN_PM_PAGETYPETITLENEWPM}</a></li>
		<li><a href="/postausgang.html">{LANG:PLUGIN_PM_GOOUTBOX}</a></li>
	</ul>
	<table width="100%" class="tableclass mt20">
		<tr>
			<th width="5%"><input name="checkall" id="checkall" type="checkbox" onclick="checkedall()" /></th>
			<th width="33%">{LANG:PLUGIN_PM_SUBJECT}</th>
			<th width="22%">{LANG:PLUGIN_PM_FROM}</th>
			<th width="20%">{LANG:PLUGIN_PM_DATE}</th>
			<th width="20%">{LANG:MANAGE}</th>
		</tr>
		{IF:NOMESSAGE}
		<tr>
			<td colspan="5">{LANG:PLUGIN_PM_NOMESSAGES}</td>
		</tr>
		{/IF:NOMESSAGE}
		{IF:MESSAGE}
		{LOOP:MESSAGES}
		<tr>
			<td style="text-align:center;"><input type="checkbox" name="id[]" value="{VAR:ID}" /></td>
			<td><img src="{VAR:READSTATUS}" /> {VAR:SUBJECT}</td>
			<td>{VAR:SHOWFROMNAME}</td>
			<td style="text-align:center;">{VAR:DATUM}</td>
			<td style="text-align:center;">
				<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_PMOPEN}" 
				href="/posteingang.html?message={VAR:ID}#gomessage"><span title=""><img src="{ICON:PAGE_FIND}" /></span></a>
				<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_PMDEL}" 
				href="/posteingang.html?del={VAR:ID}"><span title=""><img src="{ICON:CROSS}" /></span></a>
			</td>
		</tr>
		{/LOOP:MESSAGES}
		{/IF:MESSAGE}
	</table>
	<p><input type="submit" name="plugin_pm_delsubmit" value="{LANG:PLUGIN_PM_MARKDEL}" /></p>
</form>
