<!--
   newpm.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:MSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_NEWPM1} 
	<a href="./posteingang.html">{LANG:PLUGIN_PM_GOINBOX}</a>.
</div>
{/IF:MSG}
{IF:MESSAGETOME}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_NEWPM2}
</div>
{/IF:MESSAGETOME}
{IF:NOUSER}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_NEWPM3} 
	"{VAR:NOUSERNAME}" 
	{LANG:PLUGIN_PM_NEWPM4}
</div>
{/IF:NOUSER}
<form name="autofill" class="smform clearfix" method="post" onsubmit="return chkFormular()">
	<ul class="clearfix">
		<li>
			<label for "to">{LANG:PLUGIN_PM_TO}: <span class="required">*</span></label>
			<input name="to" type="text" id="to" placeholder="{LANG:USERNAME} eingeben" value="{VAR:TO}" />
			{IF:SHOWFRIEND}
			<select name="tofriend">
				<option value="nofriend">{LANG:PLUGIN_PM_NEWPM5}</option>
				{LOOP:FRIENDS}
				<option value="{VAR:LUSERNAME}">{VAR:FIRSTNAME} {VAR:LASTNAME}</option>
				{/LOOP:FRIENDS}
			</select>
			{/IF:SHOWFRIEND}
		</li>
		<li>
			<label for "subject">{LANG:PLUGIN_PM_SUBJECT}: </label>
			<input autofocus="autofocus" name="subject" type="text" id="subject" placeholder="{LANG:PLUGIN_PM_SUBJECT}" value="{VAR:SUBJECT}" />
		</li>
		<li>
			<label>&nbsp;</label>
			<a href="javascript:SmilieEinfuegen(' :-) ')"><img src="{ICON:EMOTICON_SMILE}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-D ')"><img src="{ICON:EMOTICON_GRIN}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-P ')"><img src="{ICON:EMOTICON_TONGUE}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-O ')"><img src="{ICON:EMOTICON_SURPRISED}" /></a>
			<a href="javascript:SmilieEinfuegen(' :-( ')"><img src="{ICON:EMOTICON_UNHAPPY}" /></a>
			<span class="editbar">
				<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
				<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
				<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
				<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
				<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
				<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
				<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
			</span>
		</li>
		<li>
			<label for "message">{LANG:PLUGIN_PM_MESSAGE}: <span class="required">*</span></label>
			<textarea name="message" id="message" rows="12" cols="60">{VAR:MESSAGE}</textarea>
			<script type="text/javascript">
				initEditor("message", false);
			</script>
		</li>
		<li>
			<p>{LANG:PLUGIN_PM_INBOX1} 
			<a href="/FAQ/netiquette.html" target="_blank">{LANG:PLUGIN_PM_INBOX2}</a>.</p>
		</li>
		<li>
			<input type="submit" name="plugin_pm_send" value="{LANG:PLUGIN_PM_SENDMESSAGE}" />
		</li>
	</ul>
</form>
