<!--
   outbox.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:MSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_NEWPM1}
</div>
{/IF:MSG}
{IF:DELMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PM_DELOK}
</div>
{/IF:DELMSG}
<form action="" name="delmsgform" method="post"> 
	<p><a href="/posteingang.html">{LANG:PLUGIN_PM_GOINBOX}</a></p>
	<table width="100%" class="tableclass mt20">
		<tr>
			<th width="5%"><input name="checkall" id="checkall" type="checkbox" onclick="checkedall()" /></th>
			<th width="33%">{LANG:PLUGIN_PM_SUBJECT}</th>
			<th width="22%">{LANG:PLUGIN_PM_TO}</th>
			<th width="20%">{LANG:PLUGIN_PM_DATE}</th>
			<th width="20%">{LANG:MANAGE}</th>
		</tr>
		{IF:NOMESSAGE}
		<tr>
			<td colspan="5">{LANG:PLUGIN_PM_NOMESSAGES}</td>
		</tr>
		{/IF:NOMESSAGE}
		{IF:MESSAGE}
		{LOOP:MESSAGES}
		<tr>
			<td style="text-align:center;"><input type="checkbox" name="id[]" value="{VAR:ID}" /></td>
			<td><img src="{VAR:READSTATUS}" /> {VAR:SUBJECT}</td>
			<td>{VAR:SHOWFROMNAME}</td>
			<td style="text-align:center;">{VAR:DATUM}</td>
			<td style="text-align:center;">
				<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_PMOPEN}" 
				href="/postausgang.html?message={VAR:ID}#message"><span title=""><img src="{ICON:PAGE_FIND}" /></span></a>
				<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_PMDEL}" 
				href="/postausgang.html?del={VAR:ID}#message"><span title=""><img src="{ICON:CROSS}" /></span></a>
			</td>
		</tr>
		{/LOOP:MESSAGES}
		{/IF:MESSAGE}
	</table>
	<p><input type="submit" name="plugin_pm_delsubmit" value="{LANG:PLUGIN_PM_MARKDEL}" /></p>
</form>
{IF:SHOWMESSAGE}
<br /><br /><br /><hr />
<section id="maincontainer" class="container clearfix">
	<section class="comment">
		<article id="bloglistslider" class="mb20 clearfix">
				<h3 class="heading3"><a name="message">{VAR:SUBJECT}</a></h3>
				<ul class="maincomment">
					<li>
						<img width="100px" src="{VAR:IMGURL}" alt="{VAR:USERNAME}" />
						<h5 class="user"></h5>
						<div class="entry-meta">
							von
							{VAR:SHOWUSERNAME}
							 <span class="published">{VAR:DATUM}</span>
						</div>
						<div class="commentdetail">
							{VAR:MESSAGE}
						</div>
					</li>
				</ul>
		</article>
	</section>
</section>
{/IF:SHOWMESSAGE}
