<!--
   admineditratings.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:GETUSER}
<h4>Benutzer auswählen</h4>
<form action="./bewertungen-bearbeiten.html" name="getuser" method="get">
	<p>User-ID: <input type="number" name="uid" /> <input type="submit" name="senduid" value="Bewertungen anzeigen" /></p>
</form>
{/IF:GETUSER}
{IF:NOUSER}
<p>Es wurde kein User gefunden!</p>
{/IF:NOUSER}
{IF:NORATINGS}
<p>Der Benutzer hat keine Bewertungen.</p>
{/IF:NORATINGS}
{IF:RATINGS}
<h4>Alle Bewertungen vom User</h4>
{LOOP:RATINGS}
<strong>Bewertung von: <a href="/mein-profil.html?profile={VAR:FROMUSER}" target="_blank">{VAR:FROMUSER}</a> am {VAR:RATEDATE}, ({VAR:STARS} Sterne):</strong>
<br />
{VAR:RATING}
<br />
<strong>Antwort (vom {VAR:REPLYDATE})</strong>
<br />
{VAR:RATEREPLY}
<br />
<a href="./bewertungen-bearbeiten.html?uid={VAR:UID}&rateid={VAR:RATEID}">Bewertung bearbeiten</a>
<hr />
{/LOOP:RATINGS}
{/IF:RATINGS}
{IF:EDITRATE}
<form name="editrate" method="post" action="./bewertungen-bearbeiten.html?uid={VAR:UID}&rateid={VAR:RATEID}">
	<p>Anzahl Sterne (1-5):<br /><input type="number" name="stars" value="{VAR:STARS}" /></p>
	<p>Datum (Format einhalten):<br /><input type="text" name="datum" value="{VAR:DATUM}" /></p>
	<p>Bewertung:<br /><textarea rows="20" cols="35" name="text">{VAR:TEXT}</textarea></p>
	<p>Antwort-Datum (Format einhalten):<br /><input type="text" name="replydatum" value="{VAR:REPLYDATUM}" /></p>
	<p>Bewertung-Antwort:<br /><textarea rows="20" cols="35" name="ratereply">{VAR:RATEREPLY}</textarea></p>
	<p><input type="submit" name="updaterate" value="Änderungen speichern" /></p>
</form>
{/IF:EDITRATE}
