<!--
   adminrangs.html

   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
<table class="datatable">
	<thead>
		<tr>
			<td>Von</td>
			<td>Bis</td>
			<td>Name</td>
			<td>Aktionen</td>
		</tr>
	</thead>
	<tbody>
		{LOOP:RANGS}
		<tr>
			<td>{VAR:APUNKTE}</td>
			<td>{VAR:EPUNKTE}</td>
			<td>{VAR:NAME}</td>
			<td><a href="/admin/rangliste-bearbeiten.html?del={VAR:ID}"><img src="{ICON:CROSS}" /></a></td>
		</tr>
		{/LOOP:RANGS}
	</tbody>
</table>
<h2>Rang hinzufügen</h2>
<p><strong>Achtung:</strong> Damit das Rangsystem einwandfrei funktioniert müssen 2 Punkte beachtet werden.<br />1. Müssen die Punkte fortlaufend sein.<br />2. Darf keine Punktzahl doppelt vorkommen, also die Ränge so beschriften:<br />0 - 49 Punkte Rang 1; 50 - 99 Punkte Rang 2; 100 - 499 Punkte Rang 3, etc</p>
<form method="post" action="">
	<p>Von: <input type="text" name="apunkte" value="{VAR:APUNKTE}" /></p>
	<p>Bis: <input type="text" name="epunkte" /></p>
	<p>Rang-Name: <input type="text" name="name" /></p>
	<p><input type="submit" name="saverang" value="{LANG:SAVE}" /></p>
</form>
