<h3 class="heading3">Preise</h3>
<ul class="listoption1">
	<li><strong>1. Preis:</strong> Gutschein für das <a href="https://www.tibits.ch/" target="_blank">Tibits</a> im Wert von {VAR:COUNTERPREIS} CHF (1CHF pro Teilnehmer*in, maximal 100 CHF)</li>
	<li><strong>2. Preis:</strong> Gutschein für die <a href="http://molino.ch/" target="_blank">Pizzaria Molino</a> - wird ab 50 Wettbewerbsteilnehmer*innen freigeschaltet.</li>
	<li><strong>3. Preis:</strong> Gutschein für <a href="" target="_blank">Bio Restaurant Bacio</a> - wird ab 100 Wettbewerbsteilnehmer*innen freigeschaltet.</li>
	<li><strong>4. Preis:</strong> Gutschein für <a href="http://www.hirscheneck.ch/das-restaurant.html" target="_blank">Restaurant Hirscheneck</a> - wird ab 150 Wettbewersteilnehmer*innen freigeschaltet</li>
	<li><strong>5. und 6. Preis:</strong> Exklusives Social Meal für 2 x 2 Personen beim Entwicklerteam! Wird unabhängig von der Anzahl Teilnehmer*innen verlost.</li>
</ul>
<hr />
{IF:WETTBEWERB}
<h3 class="heading3">Fragen</h3>
<form name="wettbewerb" method="post" action="/wettbewerb.html">
	<p>
		<strong>Frage 1:</strong>
		<label for="frage1">Wann ging die Webseite von Social Meal online?</label>
		<br /><br />
		<input type="text" id="frage1" required="required" name="frage1" placeholder="Datum..." />
	</p>
	<hr />
	<p>
		<strong>Frage 2:</strong>
		Wähle alle Partnerorganisationen von Social Meal aus:
		<ul class="listoption3">
			<li><input type="checkbox" name="frage2[]" id="ant1" value="Nestlé" /> <label for="ant1">Nestlé</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant2" value="FoodWaste" /> <label for="ant2">FoodWaste</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant3" value="Genossenschaft Soziale Ökonomie" /> <label for="ant3">Genossenschaft Soziale Ökonomie</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant4" value="SBB" /> <label for="ant4">SBB</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant5" value="Basel-Vegan" /> <label for="ant5">Basel-Vegan</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant6" value="TCS" /> <label for="ant6">TCS</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant7" value="Gassenküche Basel" /> <label for="ant7">Gassenküche Basel</label></li>
			<li><input type="checkbox" name="frage2[]" id="ant8" value="Urban Agriculture Basel" /> <label for="ant8">Urban Agriculture Basel</label></li>
		</ul>
	</p>
	<hr />
	<p>
		<strong>Frage 3:</strong>
		<label for="frage3">Schätze die Anzahl Mitglieder die bei Social Meal angemeldet sind:<br /><small>(Stand: 21. April 2016 12:00)</small></label>
		<br /><br />
		<input id="frage3" type="text" required="required" name="frage3" placeholder="# Mitglieder..." />
	</p>
	<h3 class="heading3">Wettbewerbs-Regeln</h3>
	<p>Mit eurer Teilnahme akzeptiert Ihr die nachstehenden Bedingungen vorbehaltslos und erklärt euch damit einverstanden.</p>
	<p>Teilnahmeschluss ist der <strong>29. Mai 2016</strong>. Aus allen Teilnehmer*innen, welche Frage 1 und 2 richtig beantwortet haben, gewinnen die besten Schätzer*innen von Frage 3 die Preise. Bei gleichen Schätzungen entscheidet das Zufallsprinzip.  Die Gewinner*innen werden persönlich benachrichtigt und mit ihrem Benutzernamen veröffentlicht. Kann ein*e Gewinner*in nicht innert nützlicher Frist kontaktiert werden, behalten wir uns eine Preisweitergabe vor. Die Wettbewerbspreise können nicht in bar ausbezahlt werden.</p>
	<p>Jedes Mitglied kann nur einmal beim Wettbewerb teilnehmen. Falsche Profilangaben führen zum Ausschluss vom Wettbewerb.</p>
	<p>Über den Wettbewerb wird keine Korrespondenz geführt, der Rechtsweg ist ausgeschlossen.</p>
	<p>Die Entwickler*innen von Social Meal sind vom Wettbewerb ausgeschlossen.</p>
	<p>Es werden keine Daten an Dritte weitergegeben, es gelten die allgemeinen <a target="_blank" href="/agb.html">AGBs</a> und <a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html" target="_blank">Datenschutzrichtlinien</a> von Social Meal.</p>
	<br />
	<p><input type="submit" name="teilnehmen" value="Antworten absenden" /></p>
</form><br />
{/IF:WETTBEWERB}

{IF:TEILGENOMMEN}
<p>Du hast bereits am Wettbewerb teilgenommen. <a href="/freunde-einladen.html">Lade jetzt deine Freund*innen zu Social Meal ein</a> um noch höhere Preise gewinnen zu können.</p>
{/IF:TEILGENOMMEN}

{IF:DANKE}
<p>Herzlichen Dank für deine Teilnahme! Wir wünschen dir viel Glück und weiterhin viel Spass auf Social Meal. <a href="/freunde-einladen.html">Lade jetzt deine Freund*innen zu Social Meal ein</a> um noch höhere Preise gewinnen zu können.</p>
{/IF:DANKE}