<!--
   editlanguages.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:LANGOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWLNGOK}
</div>
{/IF:LANGOK}
{IF:DELLANG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_DELLNGOK}
</div>
{/IF:DELLANG}
{IF:SPRACHEN}
<div class="widthcolumn1">
	<h4 class="heading4">{LANG:PLUGIN_PROFILE_MYLNGS}:</h4>
	<ul class="listoption4">
		{LOOP:MEINESPRACHEN}
		<li>
			{VAR:SPRACHE} 
			<a onclick="return confirm_alert(this);" href="/meine-sprachen.html?dellang={VAR:SPRACHID}"><img src="{ICON:CROSS}" title="{LANG:PLUGIN_PROFILE_DELLNG}" /></a>
		</li>
		{/LOOP:MEINESPRACHEN}
	</ul>
</div>
{/IF:SPRACHEN}
<form name="editsprache" class="smform clearfix" action="/meine-sprachen.html" method="post">
	<div class="widthcolumn1">
		<h4 class="heading4">{LANG:PLUGIN_PROFILE_ADDLNG}</h4>
		<ul class="clearfix">
			<li>
				<select name="sprache">
					{LOOP:SPRACHEN}
					<option value="{VAR:SPRACHID}">{VAR:SPRACHE}</option>
					{/LOOP:SPRACHEN}
				</select>
			</li>
			<li>
				<input type="submit" name="submitsprache" value="{LANG:PLUGIN_PROFILE_ADDLNG}" />
			</li>
		</ul>
	</div>
</form>
