<!--
   editprofile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
{IF:SHOWMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_PROFILUPDATEOK}
</div>
{/IF:SHOWMSG}
{IF:IMGMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_DELPROFILIMG}
</div>
{/IF:IMGMSG}
<p>{LANG:PLUGIN_PROFILE_EDITINFO1} 
	<a href="/FAQ/so-erstellst-du-ein-ansprechendes-profil.html" target="_blank">{LANG:PLUGIN_PROFILE_EDITINFO2}</a>.<br />
	{LANG:PLUGIN_PROFILE_EDITINFO3} 
	<a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html" target="_blank">{LANG:PLUGIN_PROFILE_EDITINFO4}</a>.</p>
<form enctype="multipart/form-data" name="editprofile" class="smform clearfix" action="/mein-profil-bearbeiten.html" method="post" onsubmit="return chkFormular()">
<div class="widthcolumn1">
	<a class="accrodian-trigger" onclick="location.href='#top'" href="#">{LANG:PLUGIN_PROFILE_PERSONALDATA}</a>
	<div class="accrodian-data">
		<ul class="clearfix">
			<li>
				<label for="username">{LANG:USERNAME}</label>
				{VAR:USERNAME} 
				<a infotext="{LANG:PLUGIN_PROFILE_IEDITUSERNAME}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label>{LANG:PLUGIN_PROFILE_YOURNAME}</label>
				{VAR:FIRSTNAME} {VAR:LASTNAME} <a infotext="{LANG:PLUGIN_PROFILE_IEDITNAME} 
				{LANG:PLUGIN_PROFILE_IEDITNAME2}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label for="email">{LANG:EMAIL}</label>
				<input type="email" name="email" value="{VAR:USERMAIL}" required="required" />
				<input type="hidden" name="hiddenmail" value="{VAR:USERMAIL}" /> 
				<a infotext="{LANG:PLUGIN_PROFILE_IEDITEMAIL}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			{IF:PERSONALFORM}
			<li>
				<label for="gender">{LANG:PLUGIN_PROFILE_GENDER}</label>
				<select required="required" class="required" name="gender">
					<option {VAR:GEN0} value="0">{LANG:PLUGIN_PROFILE_GEN0}</option>
					<option {VAR:GEN1} value="1">{LANG:PLUGIN_PROFILE_GEN1}</option>
					<option {VAR:GEN5} value="5">{LANG:PLUGIN_PROFILE_GEN5}</option>
					<option {VAR:GEN3} value="3">{LANG:PLUGIN_PROFILE_GEN3}</option>
					<option {VAR:GEN4} value="4">{LANG:PLUGIN_PROFILE_GEN4}</option>
					<option {VAR:GEN2} value="2">{LANG:PLUGIN_PROFILE_GEN2}</option>
				</select>
			</li>
			<li>
				<label for="gbdatum">{LANG:PLUGIN_PROFILE_GBDATUM} <span class="required">*</span></label>
				<select name="gbday" class="required" required="required">
					<option {VAR:GBDS01} value="01">1</option>
					<option {VAR:GBDS02} value="02">2</option>
					<option {VAR:GBDS03} value="03">3</option>
					<option {VAR:GBDS04} value="04">4</option>
					<option {VAR:GBDS05} value="05">5</option>
					<option {VAR:GBDS06} value="06">6</option>
					<option {VAR:GBDS07} value="07">7</option>
					<option {VAR:GBDS08} value="08">8</option>
					<option {VAR:GBDS09} value="09">9</option>
					<option {VAR:GBDS10} value="10">10</option>
					<option {VAR:GBDS11} value="11">11</option>
					<option {VAR:GBDS12} value="12">12</option>
					<option {VAR:GBDS13} value="13">13</option>
					<option {VAR:GBDS14} value="14">14</option>
					<option {VAR:GBDS15} value="15">15</option>
					<option {VAR:GBDS16} value="16">16</option>
					<option {VAR:GBDS17} value="17">17</option>
					<option {VAR:GBDS18} value="18">18</option>
					<option {VAR:GBDS19} value="19">19</option>
					<option {VAR:GBDS20} value="20">20</option>
					<option {VAR:GBDS21} value="21">21</option>
					<option {VAR:GBDS22} value="22">22</option>
					<option {VAR:GBDS23} value="23">23</option>
					<option {VAR:GBDS24} value="24">24</option>
					<option {VAR:GBDS25} value="25">25</option>
					<option {VAR:GBDS26} value="26">26</option>
					<option {VAR:GBDS27} value="27">27</option>
					<option {VAR:GBDS28} value="28">28</option>
					<option {VAR:GBDS29} value="29">29</option>
					<option {VAR:GBDS30} value="30">30</option>
					<option {VAR:GBDS31} value="31">31</option>
				</select>
				<select name="gbmonth" class="required" required="required">
					<option {VAR:GBDM01} value="01">{LANG:PLUGIN_PROFILE_JAN}</option>
					<option {VAR:GBDM02} value="02">{LANG:PLUGIN_PROFILE_FEB}</option>
					<option {VAR:GBDM03} value="03">{LANG:PLUGIN_PROFILE_MAR}</option>
					<option {VAR:GBDM04} value="04">{LANG:PLUGIN_PROFILE_APR}</option>
					<option {VAR:GBDM05} value="05">{LANG:PLUGIN_PROFILE_MAI}</option>
					<option {VAR:GBDM06} value="06">{LANG:PLUGIN_PROFILE_JUN}</option>
					<option {VAR:GBDM07} value="07">{LANG:PLUGIN_PROFILE_JUL}</option>
					<option {VAR:GBDM08} value="08">{LANG:PLUGIN_PROFILE_AUG}</option>
					<option {VAR:GBDM09} value="09">{LANG:PLUGIN_PROFILE_SEP}</option>
					<option {VAR:GBDM10} value="10">{LANG:PLUGIN_PROFILE_OKT}</option>
					<option {VAR:GBDM11} value="11">{LANG:PLUGIN_PROFILE_NOV}</option>
					<option {VAR:GBDM12} value="12">{LANG:PLUGIN_PROFILE_DEZ}</option>
				</select>
				<select name="gbdyear">
					{LOOP:GBDYEARS}
					<option value="{VAR:YEAR}" {VAR:SELECTED}>{VAR:YEAR}</option>
					{/LOOP:GBDYEARS}
				</select> <a infotext="{LANG:PLUGIN_PROFILE_IGBDATUM}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label for="street">{LANG:PLUGIN_PROFILE_STREET} <span class="required">*</span></label>
				<input required="required" class="required" type="text" id="street" value="{VAR:STREET}" 
				placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
				<input required="required" class="required" type="text" id="strnr" value="{VAR:STRNR}" 
				placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" /> 
				<a infotext="{LANG:PLUGIN_PROFILE_ISTREET}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label for="plz">{LANG:PLUGIN_PROFILE_PLZ},
				{LANG:PLUGIN_PROFILE_ORT} <span class="required">*</span></label>
				<input required="required" class="required" type="number" id="plz" value="{VAR:PLZ}" placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
				<input required="required" class="required" size="3" type="text" id="ort" value="{VAR:ORT}" placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" /> 
				<a infotext="{LANG:PLUGIN_PROFILE_IORT}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			<li>
				<label for="kanton">{LANG:PLUGIN_PROFILE_KANTON}</label>
				<select required="required" class="required" name="kanton">
					<optgroup label="{LANG:PLUGIN_PROFILE_REGION}">
						<option {VAR:SELECTEDBS} value="{LANG:PLUGIN_PROFILE_BS}">
						{LANG:PLUGIN_PROFILE_BS}</option>
						<option {VAR:SELECTEDBL} value="{LANG:PLUGIN_PROFILE_BL}">
						{LANG:PLUGIN_PROFILE_BL}</option>
						<option {VAR:SELECTEDAG} value="{LANG:PLUGIN_PROFILE_AG}">
						{LANG:PLUGIN_PROFILE_AG}</option>
						<option {VAR:SELECTEDSO} value="{LANG:PLUGIN_PROFILE_SO}">
						{LANG:PLUGIN_PROFILE_SO}</option>
						<option {VAR:SELECTEDJU} value="{LANG:PLUGIN_PROFILE_JU}">
						{LANG:PLUGIN_PROFILE_JU}</option>
					</optgroup>
					<optgroup label="{LANG:PLUGIN_PROFILE_NOTCH}">
						<option {VAR:SELECTEDDE} value="{LANG:PLUGIN_PROFILE_GERMANY}">
						{LANG:PLUGIN_PROFILE_GERMANY}</option>
						<option {VAR:SELECTEDFRA} value="{LANG:PLUGIN_PROFILE_FRANCE}">
						{LANG:PLUGIN_PROFILE_FRANCE}</option>
					</optgroup>
					<optgroup label="{LANG:PLUGIN_PROFILE_OTHER}">
						<option {VAR:SELECTEDAR} value="{LANG:PLUGIN_PROFILE_AR}">
						{LANG:PLUGIN_PROFILE_AR}</option>
						<option {VAR:SELECTEDAI} value="{LANG:PLUGIN_PROFILE_AI}">
						{LANG:PLUGIN_PROFILE_AI}</option>
						<option {VAR:SELECTEDBE} value="{LANG:PLUGIN_PROFILE_BE}">
						{LANG:PLUGIN_PROFILE_BE}</option>
						<option {VAR:SELECTEDFR} value="{LANG:PLUGIN_PROFILE_FR}">
						{LANG:PLUGIN_PROFILE_FR}</option>
						<option {VAR:SELECTEDGE} value="{LANG:PLUGIN_PROFILE_GE}">
						{LANG:PLUGIN_PROFILE_GE}</option>
						<option {VAR:SELECTEDGL} value="{LANG:PLUGIN_PROFILE_GL}">
						{LANG:PLUGIN_PROFILE_GL}</option>
						<option {VAR:SELECTEDGR} value="{LANG:PLUGIN_PROFILE_GR}">
						{LANG:PLUGIN_PROFILE_GR}</option>
						<option {VAR:SELECTEDLU} value="{LANG:PLUGIN_PROFILE_LU}">
						{LANG:PLUGIN_PROFILE_LU}</option>
						<option {VAR:SELECTEDNE} value="{LANG:PLUGIN_PROFILE_NE}">
						{LANG:PLUGIN_PROFILE_NE}</option>
						<option {VAR:SELECTEDNW} value="{LANG:PLUGIN_PROFILE_NW}">
						{LANG:PLUGIN_PROFILE_NW}</option>
						<option {VAR:SELECTEDOW} value="{LANG:PLUGIN_PROFILE_OW}">
						{LANG:PLUGIN_PROFILE_OW}</option>
						<option {VAR:SELECTEDSH} value="{LANG:PLUGIN_PROFILE_SH}">
						{LANG:PLUGIN_PROFILE_SH}</option>
						<option {VAR:SELECTEDSZ} value="{LANG:PLUGIN_PROFILE_SZ}">
						{LANG:PLUGIN_PROFILE_SZ}</option>
						<option {VAR:SELECTEDSG} value="{LANG:PLUGIN_PROFILE_SG}">
						{LANG:PLUGIN_PROFILE_SG}</option>
						<option {VAR:SELECTEDTI} value="{LANG:PLUGIN_PROFILE_TI}">
						{LANG:PLUGIN_PROFILE_TI}</option>
						<option {VAR:SELECTEDTG} value="{LANG:PLUGIN_PROFILE_TG}">
						{LANG:PLUGIN_PROFILE_TG}</option>
						<option {VAR:SELECTEDUR} value="{LANG:PLUGIN_PROFILE_UR}">
						{LANG:PLUGIN_PROFILE_UR}</option>
						<option {VAR:SELECTEDVD} value="{LANG:PLUGIN_PROFILE_VD}">
						{LANG:PLUGIN_PROFILE_VD}</option>
						<option {VAR:SELECTEDVS} value="{LANG:PLUGIN_PROFILE_VS}">
						{LANG:PLUGIN_PROFILE_VS}</option>
						<option {VAR:SELECTEDZG} value="{LANG:PLUGIN_PROFILE_ZG}">
						{LANG:PLUGIN_PROFILE_ZG}</option>
						<option {VAR:SELECTEDZH} value="{LANG:PLUGIN_PROFILE_ZH}">
						{LANG:PLUGIN_PROFILE_ZH}</option>
					</optgroup>
				</select>
			</li>
			<li>
				<label for="tel">{LANG:PLUGIN_PROFILE_TEL} <span class="required">*</span></label>
				<input value="{VAR:TEL}" class="require" required="required" type="text" id="tel" name="tel" placeholder="079 ..." /> 
				<a infotext="{LANG:PLUGIN_PROFILE_ITEL}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			{/IF:PERSONALFORM}
			{IF:PERSONALINFO}
			<li>
				<label>{LANG:PLUGIN_PROFILE_YOURADDRESS}</label>
				{VAR:STREET} {VAR:STRNR} {VAR:PLZ} {VAR:ORT} {LANG:PLUGIN_PROFILE_TEL}: {VAR:TEL}
			</li>
			<li>
				<label>{LANG:PLUGIN_PROFILE_OTHERDATAS}</label>
				{VAR:CGENDER} {VAR:CGBDATUM}
			</li>
			<li>
				<label>&nbsp;</label>
				{LANG:PLUGIN_PROFILE_PROFILISVERIFY1}
			</li>
			<li>
				<label>&nbsp;</label>
				{LANG:PLUGIN_PROFILE_TXTCHANGEADR} 
				<a href="mailto:info@socialmeal?subject=Addressänderung von {VAR:USERNAME} ({VAR:USERID})">{LANG:PLUGIN_PROFILE_TXTADM3}</a>.
				<input value="{VAR:HIDDENGENDER}" type="hidden" id="gender" name="gender" />
				<input value="{VAR:HIDDENGBDAY}" type="hidden" id="gbday" name="gbday" />
				<input value="{VAR:HIDDENGBMONTH}" type="hidden" id="gbmonth" name="gbmonth" />
				<input value="{VAR:HIDDENGBYEAR}" type="hidden" id="gbdyear" name="gbdyear" />
				<input type="hidden" id="street" value="{VAR:STREET}" name="street" />
				<input type="hidden" id="strnr" value="{VAR:STRNR}" name="strnr" />
				<input type="hidden" id="plz" value="{VAR:PLZ}" name="plz" />
				<input type="hidden" id="ort" value="{VAR:ORT}" name="ort" />
				<input type="hidden" id="kanton" value="{VAR:HIDDENKANTON}" name="kanton" />
				<input type="hidden" id="tel" name="tel" value="{VAR:TEL}" />
			</li>
			{/IF:PERSONALINFO}
			<li>
				<label for="job">{LANG:PLUGIN_PROFILE_JOB}</label>
				<input value="{VAR:JOB}" type="text" id="job" name="job" placeholder="{LANG:PLUGIN_PROFILE_JOB}" /> 
				<a infotext="{LANG:PLUGIN_PROFILE_IJOB}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			{IF:SHOWUPLOAD}
			<li>
				<label for="profilimg">{LANG:PLUGIN_PROFILE_PROFILIMG}</label>
				<input name="profilimg" accept="image/*" id="profilimg" type="file" /> 
				<a infotext="{LANG:PLUGIN_PROFILE_IPIMG}" 
					class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			</li>
			{/IF:SHOWUPLOAD}
			{IF:SHOWIMAGE}
			<li>
				<label for="profilimg">{LANG:PLUGIN_PROFILE_IMG}</label>
				<img width="200px" style="maxwidth:200px;" src="{VAR:PROFILIMG}" />
				<br />
				<label>&nbsp;</label>
				<a onclick="return confirm_alert(this);" href="/mein-profil-bearbeiten.html?deleteprofilimg=true">
					<img src="{ICON:CROSS}" />
					{LANG:PLUGIN_PROFILE_IMG}
					{LANG:DELETE}
				</a>
			</li>
			{/IF:SHOWIMAGE}
			<li>
				<input id="openimg" type="checkbox" name="openimg" value="1" {VAR:OPENIMGCHECKED} />
				<label for="openimg">{LANG:PLUGIN_PROFILE_OPENIMG}</label>
			</li>
		</ul>
	</div>
	<a class="accrodian-trigger" onclick="location.href='#top'"  href="#">{LANG:PLUGIN_PROFILE_MOREINFOS} 
		({LANG:PLUGIN_PROFILE_ILOGGED})</a>
	<div class="accrodian-data">
		<ul class="clearfix">
			<li>
				<label for="bzstatus">{LANG:PLUGIN_PROFILE_BZSTATUS} </label>
				<select name="bzstatus">
					<option {VAR:BZS0} value="0">{LANG:PLUGIN_PROFILE_BZS0}</option>
					<option {VAR:BZS1} value="1">{LANG:PLUGIN_PROFILE_BZS1}</option>
					<option {VAR:BZS2} value="2">{LANG:PLUGIN_PROFILE_BZS2}</option>
					<option {VAR:BZS3} value="3">{LANG:PLUGIN_PROFILE_BZS3}</option>
					<option {VAR:BZS4} value="4">{LANG:PLUGIN_PROFILE_BZS4}</option>
					<option {VAR:BZS5} value="5">{LANG:PLUGIN_PROFILE_BZS5}</option>
					<option {VAR:BZS6} value="6">{LANG:PLUGIN_PROFILE_BZS6}</option>
					<option {VAR:BZS7} value="7">{LANG:PLUGIN_PROFILE_BZS7}</option>
					<option {VAR:BZS8} value="8">{LANG:PLUGIN_PROFILE_BZS8}</option>
					<option {VAR:BZS9} value="9">{LANG:PLUGIN_PROFILE_BZS9}</option>
					<option {VAR:BZS10} value="10">{LANG:PLUGIN_PROFILE_BZS10}</option>
					<option {VAR:BZS11} value="11">{LANG:PLUGIN_PROFILE_BZS11}</option>
				</select> 
			</li>
			<li>
				<label for="aboutme">{LANG:PLUGIN_PROFILE_ABOUTME}</label>
				<span class="editbar">
					<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
					<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
					<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
					<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
					<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
					<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
					<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
				</span>
			</li>
			<li>
				<label>&nbsp;</label>
				<textarea id="aboutme" name="aboutme" rows="13" cols="60">{VAR:ABOUTME}</textarea>
				<script type="text/javascript">
					initEditor("aboutme", false);
				</script>
			</li>
			<li>
				<label for="webpage">{LANG:PLUGIN_PROFILE_WEBPAGE}</label>
				<input value="{VAR:WEBPAGE}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="webpage" name="webpage" />
			</li>
			<li>
				<label for="fblink">{LANG:PLUGIN_PROFILE_FACEBOOK}</label>
				<input value="{VAR:FACEBOOK}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="fblink" name="fblink" />
			</li>
			<li>
				<label for="twitlink">{LANG:PLUGIN_PROFILE_TWITLINK}</label>
				<input value="{VAR:TWITTER}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="twitlink" name="twitlink" />
			</li>
			<li>
				<label for="gplink">{LANG:PLUGIN_PROFILE_GPLINK}</label>
				<input value="{VAR:GPVALUE}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="gplink" name="gplink" />
			</li>
			<li>
				<label for="flickrlink">{LANG:PLUGIN_PROFILE_FLICKRLINK}</label>
				<input value="{VAR:FLICKRVALUE}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="flickrlink" name="flickrlink" />
			</li>
			<li>
				<label for="linkedinlink">{LANG:PLUGIN_PROFILE_LINKEDINLINK}</label>
				<input value="{VAR:LINKEDINVALUE}" 
				title="{LANG:PLUGIN_PROFILE_TTLINK}" type="url" id="linkedinlink" name="linkedinlink" />
			</li>
			<li>
				<label for="skypelink">{LANG:PLUGIN_PROFILE_SKYPELINK}</label>
				<input value="{VAR:SKYPELINK}"type="text" id="skypelink" name="skypelink" />
			</li>
		</ul>
	</div>
	<a class="accrodian-trigger" onclick="location.href='#top'" href="#">{LANG:PLUGIN_PROFILE_EATS} 
		({LANG:PLUGIN_PROFILE_ILOGGED})</a>
	<div class="accrodian-data">
		<table class="tableclass mt20">
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDFLEISCH} name="fleisch" id="fleisch" value="1" /></td>
				<td><label for="fleisch">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_EVENTS_FLEISCH}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDFISCH} name="fisch" id="fisch" value="1" /></td>
				<td><label for="fisch">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_EVENTS_FISCH}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDSEAFOOD} name="seafood" id="seafood" value="1" /></td>
				<td><label for="seafood">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_EVENTS_SEAFOOD}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDVEGI} name="vegi" id="vegi" value="1" /></td>
				<td><label for="vegi">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_PROFILE_VEGI}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDVEGAN} name="vegan" id="vegan" value="1" /></td>
				<td><label for="vegan">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_PROFILE_VEGAN}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDSCHARF} name="scharf" id="scharf" value="1" />
				<td><label for="scharf">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_EVENTS_SCHARF}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDALKOHOL} name="alkohol" id="alkohol" value="1" />
				<td><label for="alkohol">{LANG:PLUGIN_PROFILE_ICHMAG} 
					{LANG:PLUGIN_PROFILE_NOALK}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDBIO} name="bio" id="bio" value="1" /></td>
				<td><label for="bio">{LANG:PLUGIN_PROFILE_IPREFER} 
					{LANG:PLUGIN_EVENTS_BIO}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDSAISONAL} name="saison" id="saison" value="1" />
				<td><label for="saison">{LANG:PLUGIN_PROFILE_IPREFER} 
					{LANG:PLUGIN_EVENTS_SAISONAL}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDREGIONAL} name="regional" id="regional" value="1" />
				<td><label for="regional">{LANG:PLUGIN_PROFILE_IPREFER} 
					{LANG:PLUGIN_EVENTS_REGIONAL}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDKOSCHER} name="koscher" id="koscher" value="1" />
				<td><label for="koscher">{LANG:PLUGIN_PROFILE_IPREFER} 
					{LANG:PLUGIN_PROFILE_KOSCHER}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDHALAL} name="halal" id="halal" value="1" />
				<td><label for="halal">{LANG:PLUGIN_PROFILE_IPREFER} 
					{LANG:PLUGIN_PROFILE_HALAL}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDLAKTOSE} name="laktose" id="laktose" value="1" />
				<td><label for="laktose">{LANG:PLUGIN_PROFILE_LACTOSE1}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDGLUTEN} name="gluten" id="gluten" value="1" />
				<td><label for="gluten">{LANG:PLUGIN_PROFILE_GLUTEN1}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDNUSSE} name="nusse" id="nusse" value="1" />
				<td><label for="nusse">{LANG:PLUGIN_PROFILE_NUSS}</td>
			</tr>
			<tr>
				<td width="5%" style="text-align:center;"><input type="checkbox" {VAR:CHECKEDHEFE} name="hefe" id="hefe" value="1" />
				<td><label for="hefe">{LANG:PLUGIN_PROFILE_HEFE}</td>
			</tr>
		</table>
		<ul class="clearfix">
			<li>
				<label for="allergy">{LANG:PLUGIN_PROFILE_ALLERGY}</label>
				<input type="text" value="{VAR:ALLERGY}" name="allergy" id="allergy" />
			</li>
		</ul>
	</div>
</div>
<p><input name="plugin_editprofile_submit" type="submit" value="{LANG:SAVE}" id="submit_id" /></p>
</form>
