<!--
   friends.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NEWFRIENDMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWFRIENDMSG1} 
	{VAR:USERNAME} 
	{LANG:PLUGIN_PROFILE_NEWFRIENDMSG2}
</div>
{/IF:NEWFRIENDMSG}
{IF:DELETEFRIENDMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_DELETEFRIENDMSG1} 
	{VAR:USERNAME} 
	{LANG:PLUGIN_PROFILE_DELETEFRIENDMSG2}
</div>
{/IF:DELETEFRIENDMSG}
{IF:DELETEREQUEST}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_DELETEREQUESTMSG1} 
	{VAR:USERNAME} 
	{LANG:PLUGIN_PROFILE_DELETEREQUESTMSG2}
</div>
{/IF:DELETEREQUEST}
<div class="widthcolumn1">
	{IF:SHOWNEWFRIENDS}
	<h3 class="heading3">{LANG:PLUGIN_PROFILE_FRIENDREQUEST}</h3>
	<ul class="listoption4">
		{LOOP:NEWFRIENDS}
		<li>
			von <a href="./mein-profil.html?profile={VAR:USERNAME}">{VAR:USERNAME} {VAR:VERIFY}</a>
			<a infotext="{LANG:PLUGIN_PROFILE_FRIENDYES}" 
				class="infotooltip" href="./freunde.html?add={VAR:FRIENDID}"><span title=""><img width="25px" src="{ICON:USER_ADD}" /></span></a>
			<a infotext="{LANG:PLUGIN_PROFILE_FRIENDNO}" 
				class="infotooltip" href="./freunde.html?deleterequest={VAR:FRIENDID}"><span title=""><img width="25px" src="{ICON:USER_DELETE}" /></span></a>
		</li>
		{/LOOP:NEWFRIENDS}
	</ul>
	<hr />
	{/IF:SHOWNEWFRIENDS}
	<h3 class="heading3">{VAR:FRIENDSTITLE}</h3>
	<table class="tableclass mt20">
		<tr>
			<th>{LANG:NAME}</th>
			<th>{LANG:MANAGE}</th>
		</tr>
		{LOOP:FRIENDS}
		<tr>
			<td><a href="./mein-profil.html?profile={VAR:USERNAME}">{VAR:VORNAME} {VAR:NACHNAME} ({VAR:USERNAME})</a> {VAR:FRIENDSTATUS}</td>
			<td>
				<a href="./nachricht-schreiben.html?an={VAR:USERNAME}"><img src="{ICON:PENCIL}" /></a>
				<a href="./mein-profil.html?profile={VAR:USERNAME}"><img src="{ICON:USER}" /></a>
				{VAR:DELETELINK}
			</td>
		</tr>
		{/LOOP:FIRENDS}
	</table>
</div>
