<!--
   invite.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SINGLEMAIL}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_SINGLEMAILTXT}
</div>
{/IF:SINGLEMAIL}
{IF:ADDRESSBOOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_ADDRESSBOOKTXT}
</div>
{/IF:ADDRESSBOOK}
<p>{LANG:PLUGIN_PROFILE_INVITETXT1}</p>
<p>{LANG:PLUGIN_PROFILE_INVITETXT4}</p>
<p>{LANG:PLUGIN_PROFILE_INVITETXT5}</p>
<h2 class="heading2">{LANG:PLUGIN_PROFILE_INVITETXT6}</h2>
<p>{LANG:PLUGIN_PROFILE_INVITETXT7}</p>
<p>{LANG:PLUGIN_PROFILE_INVITETXT8}: 
	<span class="bold">{VAR:INVITELINK}</span><br />
	{LANG:PLUGIN_PROFILE_INVITETXT9}: 
	<span class="bold">{VAR:SHORTLINK}</span></p>
<p>&nbsp;</p>
<h2 class="heading2">{LANG:PLUGIN_PROFILE_INVITETXT10}</h2>
<p>{LANG:PLUGIN_PROFILE_INVITETXT11} 
	<a href="/e-mail-einladung.html">{LANG:PLUGIN_PROFILE_INVITETXT12}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT13}</p>
<form name="singleinvite" class="smform clearfix" action="/freunde-einladen.html" method="post">
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="singlemail">{LANG:EMAIL} <span class="required">*</span></label>
				<input class="required" required="required" type="email" name="singlemail" id="singlemail" placeholder="max.muster@muster.ch" />
			</li>
			<li>
				<label for="firstname">{LANG:PLUGIN_PROFILE_FIRSTNAME}</label>
				<input type="text" name="firstname" id="firstname" placeholder="Max" />
			</li>
			<li>
				<label for="lastname">{LANG:PLUGIN_PROFILE_LASTNAME}</label>
				<input type="text" name="lastname" id="lastname" placeholder="Muster" />
			</li>
		</ul>
	</div>
	<p><input name="send_singlemail" type="submit" value="{LANG:PLUGIN_PROFILE_INVITETXT14}" id="submit_id" /></p>
</form>
<p>&nbsp;</p>
<h2 class="heading2">{LANG:PLUGIN_PROFILE_INVITETXT15}</h2>
<p>{LANG:PLUGIN_PROFILE_INVITETXT16} 
	<a href="/e-mail-einladung.html">{LANG:PLUGIN_PROFILE_INVITETXT17}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT18} 
	<a target="_blank" href="https://support.office.com/de-ch/article/Exportieren-von-Kontakten-aus-anderen-E-Mail-Diensten-und--Programmen-ff357412-38f7-4a3a-b8b9-6514b6ea99e6?ui=de-DE&rs=de-CH&ad=CH&fromAR=1">{LANG:PLUGIN_PROFILE_INVITETXT19}</a>.</p>
<form enctype="multipart/form-data" name="adressbook" class="smform clearfix" action="/freunde-einladen.html" method="post">
	<div class="widthcolumn1">
		<ul class="clearfix">
			<li>
				<label for="file">{LANG:PLUGIN_PROFILE_ADDRESSBOOK}</label>
				<input name="file" id="file" type="file" /> 
			</li>
		</ul>
	</div>
	<p><input name="send_addressbook" type="submit" value="{LANG:PLUGIN_PROFILE_ADDRESSBOOKSEND}" id="submit_id" /></p>
</form>
<p>&nbsp;</p>
<h2 class="heading2">{LANG:PLUGIN_PROFILE_INVITETXT20}</h2>
<p>{LANG:PLUGIN_PROFILE_INVITETXT21} 
	<a href="/e-mail-einladung.html">{LANG:PLUGIN_PROFILE_INVITETXT22}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT23} 
	<a href="/e-mail-einladung.html">{LANG:PLUGIN_PROFILE_INVITETXT24}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT25} 
	<a href="/e-mail-einladung.html">{LANG:PLUGIN_PROFILE_INVITETXT22}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT26}
	<br />{LANG:PLUGIN_PROFILE_INVITETXT27} 
	<a href="/agb.html">{LANG:PLUGIN_PROFILE_INVITETXT28}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT29} 
	<a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html">{LANG:PLUGIN_PROFILE_INVITETXT30}</a> 
	{LANG:PLUGIN_PROFILE_INVITETXT31}</p>
