<!--
   newagb.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
<form name="newagb" class="smform clearfix" action="/anderungen-akzeptieren.html" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<p>{LANG:PLUGIN_PROFILE_NEWAGB1}</p>
		<ul class="clearfix">
			{IF:AGB}
			<li>
				<label for="agb">{LANG:PLUGIN_PROFILE_NEWAGB2}</label>
				<select name="agb">
					<option value="0">{LANG:PLUGIN_EVENTS_NO}</option>
					<option value="1">{LANG:PLUGIN_EVENTS_YES}</option>
				</select>
			</li>
			{/IF:AGB}
			{IF:DATENSCHUTZ}
			<li>
				<label for="datenschutz">{LANG:PLUGIN_PROFILE_NEWAGB3}</label>
				<select name="datenschutz">
					<option value="0">{LANG:PLUGIN_EVENTS_NO}</option>
					<option value="1">{LANG:PLUGIN_EVENTS_YES}</option>
				</select>
			</li>
			{/IF:DATENSCHUTZ}
			<li><input name="newagb" type="submit" value="{LANG:SAVE}" id="submit_id" /></li>
		</ul>
	</div>
</form>
<hr />
{IF:AGB}
<div class="widthcolumn1">
	<h2 class="heading2">{LANG:PLUGIN_PROFILE_NEWAGB4}</h2>
	<p>Da uns bei der angekündeten Aktualisierung der Datenschutzrichtlinien auch einige kleine textliche und inhaltliche Mängel bei den AGB aufgefallen sind, haben wir uns entschieden, diese gleichzeitig zu aktualisieren. Die Änderungen haben keinen nennenswerten Einfluss auf eure Rechte und Pflichten als Mitglieder von Social Meal.<br /><a href="/content/uploads/agbnew.pdf" target="_blank">Neue AGB</a>; <a href="/content/uploads/agbold.pdf" target="_blank">Alte AGB</a>; <a href="/content/uploads/agbdiff.pdf" target="_blank">Vergleich neue und alte AGB</a></p>
</div>
{/IF:AGB}
{IF:DATENSCHUTZ}
<div class="widthcolumn1">
	<h2 class="heading2">{LANG:PLUGIN_PROFILE_NEWAGB5}</h2>
	<p>Da sich bei der ersten Version einige Ungenauigkeiten eingeschlichen haben, wir die Datensammlung unterdessen beim Eidgenössischen Datenschutz- und Öffentlichkeitsbeauftragten angemeldet haben und weil wir eine neue Funktion (ein optionales Login-Cookie) für die bessere Nutzbarkeit einbauen, müssen wir diese Datenschutzrichtlinien wie im Blog angekündigt aktualisieren. Auch mit den neuen Datenschutzrichtlinien betreiben wir Datenschutz auf dem höchsten Level!<br /><a href="/content/uploads/dsnew.pdf" target="_blank">Neue Datenschutzrichtlinien</a>; <a href="/content/uploads/dsold.pdf" target="_blank">Alte Datenschutzrichtlinien</a>; <a href="/content/uploads/dsdiff.pdf" target="_blank">Vergleich neue und alte Datenschutzrichtlinien</a></p>
</div>
{/IF:DATENSCHUTZ}
