<!--
   neworg.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="./neues-organisationsprofil.html?orgprofile={VAR:ORGID}&msg=true"; </script>
{/IF:REDIRECT}
{IF:SHOWMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG1} 
	"<a href="/neuen-event-erstellen.html?eventtype=3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</a>" 
	{LANG:PLUGIN_PROFILE_NEWORG2} 
	<a href="/organisationsprofil.html?profile={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTADM3}</a> 
	{LANG:PLUGIN_PROFILE_NEWORG3}
</div>
{/IF:SHOWMSG}
{IF:EDITOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG4} 
	"<a href="/neuen-event-erstellen.html?eventtype=3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</a>" 
	{LANG:PLUGIN_PROFILE_NEWORG2} 
	<a href="/organisationsprofil.html?profile={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTADM3}</a> 
	{LANG:PLUGIN_PROFILE_NEWORG3}
</div>
{/IF:EDITOK}
{IF:DELIMG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_DELPROFILIMGOK}
</div>
{/IF:DELIMG}
{IF:ADMINOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG5} 
	{VAR:NEWADMINUSERNAME} 
	{LANG:PLUGIN_PROFILE_NEWORG6}
</div>
{/IF:ADMINOK}
{IF:VERIFYSTART}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG7}
</div>
{/IF:VERIFYSTART}
{IF:ADMINNOEXIST}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG5} 
	{VAR:FALSEUSERNAME} 
	{LANG:PLUGIN_PROFILE_NEWORG8}
</div>
{/IF:ADMINNOEXIST}
{IF:ADMINDELOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWORG9}
</div>
{/IF:ADMINDELOK}
{IF:FORM}
<form name="neworg" enctype="multipart/form-data" class="smform clearfix" action="{VAR:FORMACTION}" method="post" onsubmit="return chkFormular()">
	<div class="widthcolumn1">
		<ul class="clearfix">
				<li>
					<label for="orgname">{LANG:PLUGIN_PROFILE_ORGNAME} <span class="required">*</span></label>
					<input value="{VAR:ORGNAME}" required="required" class="required" type="text" id="orgname" name="orgname" /> 
					<a infotext="{LANG:PLUGIN_PROFILE_NEWORG10}" 
						class="infotooltip"><span title=""><img width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				<li>
					<label for="profilimg">{LANG:PLUGIN_PROFILE_PROFILIMG}</label>
					{IF:SHOWUPLOAD}
					<input name="profilimg" accept="image/*" id="profilimg" type="file" />
					{/IF:SHOWUPLOAD}
					{IF:PROFILIMG}
					<img width="200px" style="max-width: 200px;" src="/content/uploads/orgprofile/{VAR:PROFILIMG}" 
					alt="{LANG:PLUGIN_PROFILE_NEWORG11} 
					{VAR:ORGNAME}" />
					<br /><label>&nbsp;</label><a onclick="return confirm_alert(this);" href="/neues-organisationsprofil.html?orgprofile={VAR:ORGID}&delimg=true"><img src="{ICON:CROSS}" /> {LANG:PLUGIN_PROFILE_IMG}
					{LANG:DELETE}</a>
					{/IF:PROFILIMG}
				</li>
				<li>
					<label for="desc">{LANG:PLUGIN_PROFILE_NEWORG12} <span class="required">*</span></label>
					<span class="editbar">
						<button title="bold" onclick="doClick('bold');" type="button"><span class="bold">{LANG:PLUGIN_BBCODE_BOLD}</span></button>
						<button title="italic" onclick="doClick('italic');" type="button"><span style="font-style:italic;">{LANG:PLUGIN_BBCODE_ITALIC}</span></button>
						<button title="underline" onclick="doClick('underline');" type="button"><u>{LANG:PLUGIN_BBCODE_UNDERLINE}</u></button>
						<button title="hyperlink" onclick="doLink();" type="button">{LANG:PLUGIN_BBCODE_LINK}</button>
						<button title="image" onclick="doImage();" type="button">{LANG:PLUGIN_BBCODE_IMAGE}</button>
						<button title="quote" onclick="doQuote();" type="button">{LANG:PLUGIN_BBCODE_QUOTE}</button>
						<button title="color" onclick="showColorGrid2('none')" type="button">{LANG:PLUGIN_BBCODE_COLOR}</button><span id="colorpicker201" class="colorpicker201"></span>
					</span>
				</li>
				<li>
					<label>&nbsp;</label>
					<textarea id="desc" name="desc" rows="12" cols="60">{VAR:DESC}</textarea>
					<script type="text/javascript">
						initEditor("desc", false);
					</script>
				</li>
				<li>
					<label for="street">{LANG:PLUGIN_PROFILE_STREET}</label>
					<input type="text" id="street" value="{VAR:STREET}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
					<input type="text" id="strnr" value="{VAR:STRNR}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" /> 
				</li>
				<li>
					<label for="plz">{LANG:PLUGIN_PROFILE_PLZ},
					{LANG:PLUGIN_PROFILE_ORT}</label>
					<input type="text" id="plz" value="{VAR:PLZ}" 
					placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
					<input size="3" type="text" id="ort" value="{VAR:ORT}" 
					placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" /> 
				</li>
				<li>
					<label for="orgwebseite">{LANG:PLUGIN_PROFILE_ORGWEBSEITE}</label>
					<input value="{VAR:ORGWEBSEITE}" type="text" id="orgwebseite" name="orgwebseite" placeholder="http://domain.ch" />
				</li>
				<li>
					<label for="orgmail">{LANG:PLUGIN_PROFILE_ORGMAIL}</label>
					<input value="{VAR:ORGMAIL}" type="text" id="orgmail" name="orgmail" placeholder="info@domain.ch" /> {VAR:VERIFY}
					<input type="hidden" name="oldmail" value="{VAR:ORGMAIL}" />
					<input type="hidden" name="verifystatus" value="{VAR:VERIFYSTATUS}" />
				</li>
				{IF:VERIFY}
				<li>
					<label for="asmail">{LANG:PLUGIN_PROFILE_NEWORG13}</label>
					<input type="checkbox" name="asmail" id="asmail" value="1" {VAR:ASMAILCHECKED} /> 
					<a infotext="{LANG:PLUGIN_PROFILE_NEWORG14}" 
						class="infotooltip"><span title=""><img width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{/IF:VERIFY}
				<li>
					<label for="orgmail">{LANG:PLUGIN_PROFILE_ORGTEL}</label>
					<input value="{VAR:ORGTEL}" type="text" id="orgtel" name="orgtel" placeholder="079 ..." />
				</li>
				{IF:TEL}
				<li>
					<label for="asmailtel">{LANG:PLUGIN_PROFILE_NEWORG18}</label>
					<input type="checkbox" name="asmailtel" id="asmailtel" value="1" {VAR:ASMAILTELCHECKED} /> 
					<a infotext="{LANG:PLUGIN_PROFILE_NEWORG19}" 
						class="infotooltip"><span title=""><img width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{/IF:TEL}
				<li>
					<label for="orgfb">{LANG:PLUGIN_PROFILE_ORGFB}</label>
					<input value="{VAR:ORGFB}" type="text" id="orgfb" name="orgfb" />
				</li>
				<li>
					<label for="orgtwitter">{LANG:PLUGIN_PROFILE_ORGTWITTER}</label>
					<input value="{VAR:ORGTWITTER}" type="text" id="orgtwitter" name="orgtwitter" />
				</li>
				<li>
					<label for="orggplus">{LANG:PLUGIN_PROFILE_ORGGOOGLEPLUS}</label>
					<input value="{VAR:ORGGOOGLEPLUS}" type="text" id="orggplus" name="orggplus" />
				</li>
				{IF:ADMIN}
				<li>
					<label>{LANG:PLUGIN_PROFILE_ADMINS}:</label>
						{LOOP:ADMINS}
						<a href="/mein-profil.html?profile={VAR:ADMINUSERNAME}">{VAR:ADMINUSERNAME}</a>{VAR:ADMINUSERDEL} 
						{/LOOP:ADMINS}
				</li>
				<li>
					<label for="newadmin">{LANG:PLUGIN_PROFILE_NEWADMIN}</label>
					<input type="text" id="newadmin" name="newadmin" /> <a infotext="{LANG:PLUGIN_PROFILE_NEWORG15}" 
					class="infotooltip"><span title=""><img width="22px" src="{ICON:INFOBUTTON}" /></span></a>
				</li>
				{/IF:ADMIN}
				<br />
				<li>
					<input type="submit" name="saveorg" value="{LANG:SAVE}" />
				</li>
		</ul>
	</div>
</form>
{/IF:FORM}
{IF:KEINZUGRIFF}
<p>{LANG:PLUGIN_PROFILE_NEWORG16}</p>
{/IF:KEINZUGRIFF}
