<!--
   newpw.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWFORM}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NEWPWINFO}
</div>
<form name="newpw" class="smform clearfix" method="post" onsubmit="return chkFormular()">
	<ul class="clearfix">
		<li>
			<label for="email">{LANG:EMAIL} <span class="required">*</span></label>
			<input name="email" type="email" autofocus="autofocus" id="email" placeholder="{LANG:EMAIL}" class="required email" required="required" />
			<input type="hidden" name="url" value="" />
		</li>
		<li>
			<input type="submit" value="{LANG:PLUGIN_PROFILE_NEWPW}" />
		</li>
	</ul>
</form>
{/IF:SHOWFORM}
{IF:MSG}
<p>
	{LANG:PLUGIN_PROFILE_NEWPWSEND}
	<br />
	{LANG:PLUGIN_PROFILE_YOUREMAIL}: 
	{VAR:MAIL}.
</p>
{/IF:MSG}
