<!--
   orgprofile.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NOORG}
<p>{LANG:PLUGIN_PROFILE_NOORGPROFILE}</p>
{/IF:NOORG}
<p>{LANG:PLUGIN_PROFILE_ORGALLABOUT} <a href="/uber-organisationsprofile.html">
{LANG:PLUGIN_PROFILE_ABOUTORGS}</a>.</p>
{IF:VERIFYOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">LANG:PLUGIN_PROFILE_ORGMAILVERIFYOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:VERIFYOK}
{IF:FOLLOWOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_FOLLOWORGOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FOLLOWOK}
{IF:UNFOLLOWOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_UNFOLLOWORGOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:UNFOLLOWOK}
{IF:IMG}
<p><img class="largeImage" src="/content/uploads/orgprofile/{VAR:FILENAME}" title="{VAR:ORGNAME} 
{LANG:PLUGIN_PROFILE_IMG}"/></p>
{/IF:IMG}
{IF:SHOWEDIT}
<p>
	<a href="/neues-organisationsprofil.html?orgprofile={VAR:ORGID}" class="buttonWrapper buttonDefault buttonEdit">{LANG:PLUGIN_PROFILE_EDITPROFILEPAGETYPETITLE}</a>
</p>
{/IF:SHOWEDIT}
<h2>{LANG:PLUGIN_PROFILE_ABOUTUS}</h2>
<p>
	{VAR:DESCRIPTION}
</p>
{IF:FOLLOW}
<p>
	<a href="/organisationsprofil.html?profile={VAR:ORGID}&follow=true" class="buttonWrapper buttonDefault buttonStar">
	{LANG:PLUGIN_PROFILE_FOLLOWORG}</a>
</p>
{/IF:FOLLOW}
{IF:UNFOLLOW}
<p>
	<a href="/organisationsprofil.html?profile={VAR:ORGID}&unfollow=true" class="buttonWrapper buttonDefault buttonStar">
	{LANG:PLUGIN_PROFILE_UNFOLLOWORG}</a>
</p>
{/IF:UNFOLLOW}
{IF:KONTAKT}
<h2>{LANG:PLUGIN_PROFILE_CONTACTUS}</h2>
<ul>
	{IF:WEBSEITE}
	<a href="{VAR:ORGWEB}" target="_blank"><li>{LANG:PLUGIN_PROFILE_ORGWEBSEITE}</li></a>
	{/IF:WEBSEITE}
	{IF:MAIL}
	<a href="mailto:{VAR:ORGMAIL}?subject=
	{LANG:PLUGIN_PROFILE_CONTACTSUBJECT}"><li>{VAR:ORGMAIL}</li></a>
	{/IF:MAIL}
	{IF:TEL}
	<li>{VAR:ORGTEL}</li>
	{/IF:TEL}
	{IF:ADRESSE}
	<li>{VAR:STRASSE} {VAR:STRNR} 
	{LANG:PLUGIN_PROFILE_IN}
	{VAR:PLZ} {VAR:ORT}</li>
	{/IF:ADRESSE}
</ul>
{/IF:KONTAKT}
{IF:SOCIALMEDIA}
<h2>{LANG:PLUGIN_PROFILE_ORGSOCIALMEDIA}...</h2>
<ul>
	{IF:FACEBOOK}
	<a href="{VAR:FB}" target="_blank"><li>{LANG:PLUGIN_PROFILE_ORGFB}</li></a>
	{/IF:FACEBOOK}
	{IF:TWITTER}
	<a href="{VAR:TWITTER}" target="_blank"><li>{LANG:PLUGIN_PROFILE_ORGTWITTER}</li></a>
	{/IF:TWITTER}
	{IF:GOOGLEPLUS}
	<a href="{VAR:GOOGLEPLUS}" target="_blank"><li>{LANG:PLUGIN_PROFILE_ORGGOOGLEPLUS}</li></a>
	{/IF:GOOGLEPLUS}
</ul>
{/IF:SOCIALMEDIA}
{IF:MEALS}
<h2>{LANG:PLUGIN_PROFILE_ACTIVEEVENTS}</h2>
<table class="tableclass mt20">
	{LOOP:MEALS}
	<tr>
		{VAR:EVENTIMAGE}
	<td colspan="{VAR:COLSPAN}">{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a>
	<br />{LANG:PLUGIN_PROFILE_DATUM}: {VAR:DATUM}<br />{VAR:EVENTDESC}</td>
	</tr>
	{/LOOP:MEALS}
</table>
{/IF:MEALS}
{IF:OLDMEALS}
<h2>{LANG:PLUGIN_PROFILE_INACTIVEEVENTS}</h2>
<ul>
	{LOOP:OLDMEALS}
	<a href="/event-details.html?event={VAR:EVENTID}"><li>{VAR:EVENTNAME} ({VAR:DATUM})</li></a>
	{/LOOP:OLDMEALS}
</ul>
{/IF:OLDMEALS}
