<!--
   orgprofile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:NOORG}
<p>{LANG:PLUGIN_PROFILE_NOORGPROFILE}</p>
{/IF:NOORG}
{IF:SHOWEDIT}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="/neues-organisationsprofil.html?orgprofile={VAR:ORGID}">{LANG:PLUGIN_PROFILE_EDITPROFILEPAGETYPETITLE}</a></li>
	</ul>
</section>
{/IF:SHOWEDIT}
<p>{LANG:PLUGIN_PROFILE_ORGALLABOUT} <a href="/uber-organisationsprofile.html">
{LANG:PLUGIN_PROFILE_ABOUTORGS}</a>.</p>
{IF:VERIFYOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_ORGMAILVERIFYOK}
</div>
{/IF:VERIFYOK}
{IF:FOLLOWOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_FOLLOWORGOK}
</div>
{/IF:FOLLOWOK}
{IF:UNFOLLOWOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_UNFOLLOWORGOK}
</div>
{/IF:UNFOLLOWOK}
{IF:IMG}
<img src="/content/uploads/orgprofile/{VAR:FILENAME}" title="{VAR:ORGNAME} 
{LANG:PLUGIN_PROFILE_IMG}" /><hr />
{/IF:IMG}
<h2 class="heading2">{LANG:PLUGIN_PROFILE_ABOUTUS}</h2>
<p>
	{VAR:DESCRIPTION}
</p>
{IF:FOLLOW}
<p>
	<a class="linkbuttonmiddum" href="/organisationsprofil.html?profile={VAR:ORGID}&follow=true">
	<strong>{LANG:PLUGIN_PROFILE_FOLLOWORG}</strong></a>
</p>
{/IF:FOLLOW}
{IF:UNFOLLOW}
<p>
	<a class="linkbuttonmiddum" href="/organisationsprofil.html?profile={VAR:ORGID}&unfollow=true">
	<strong>{LANG:PLUGIN_PROFILE_UNFOLLOWORG}</strong></a>
</p>
{/IF:UNFOLLOW}
<br /><br /><br />
{IF:KONTAKT}
<h2 class="heading2">{LANG:PLUGIN_PROFILE_CONTACTUS}</h2>
<ul class="listoption2">
	{IF:WEBSEITE}
	<li><img src="{ICON:HOUSE}" /> <a href="{VAR:ORGWEB}" target="_blank">{LANG:PLUGIN_PROFILE_ORGWEBSEITE}</a></li>
	{/IF:WEBSEITE}
	{IF:MAIL}
	<li><img src="{ICON:EMAIL}" /> <a href="mailto:{VAR:ORGMAIL}?subject=
	{LANG:PLUGIN_PROFILE_CONTACTSUBJECT}">{VAR:ORGMAIL}</a></li>
	{/IF:MAIL}
	{IF:TEL}
	<li><img src="{ICON:TELEPHONE}" /> {VAR:ORGTEL}</li>
	{/IF:TEL}
	{IF:ADRESSE}
	<li><img src="{ICON:MAP}" /> {VAR:STRASSE} {VAR:STRNR} 
	{LANG:PLUGIN_PROFILE_IN}
	{VAR:PLZ} {VAR:ORT}</li>
	{/IF:ADRESSE}
</ul>
{/IF:KONTAKT}
{IF:SOCIALMEDIA}
<h2 class="heading2">{LANG:PLUGIN_PROFILE_ORGSOCIALMEDIA}...</h2>
<ul class="listoption2">
	{IF:FACEBOOK}
	<li><img src="{ICON:FACEBOOK}" /> <a href="{VAR:FB}" target="_blank">{LANG:PLUGIN_PROFILE_ORGFB}</a></li>
	{/IF:FACEBOOK}
	{IF:TWITTER}
	<li><img src="{ICON:TWITTER}" /> <a href="{VAR:TWITTER}" target="_blank">{LANG:PLUGIN_PROFILE_ORGTWITTER}</a></li>
	{/IF:TWITTER}
	{IF:GOOGLEPLUS}
	<li><img src="{ICON:GOOGLEPLUS}" /> <a href="{VAR:GOOGLEPLUS}" target="_blank">{LANG:PLUGIN_PROFILE_ORGGOOGLEPLUS}</a></li>
	{/IF:GOOGLEPLUS}
</ul>
{/IF:SOCIALMEDIA}
{IF:MEALS}
<h2 class="heading2">{LANG:PLUGIN_PROFILE_ACTIVEEVENTS}</h2>
<table class="tableclass mt20">
	{LOOP:MEALS}
	<tr>
		{VAR:EVENTIMAGE}
	<td colspan="{VAR:COLSPAN}">{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a>
	<br />{LANG:PLUGIN_PROFILE_DATUM}: {VAR:DATUM}<br />{VAR:EVENTDESC}</td>
	</tr>
	{/LOOP:MEALS}
</table>
{/IF:MEALS}
{IF:OLDMEALS}
<h2 class="heading2">{LANG:PLUGIN_PROFILE_INACTIVEEVENTS}</h2>
<ul class="listoption2">
	{LOOP:OLDMEALS}
	<li><a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a> ({VAR:DATUM})</li>
	{/LOOP:OLDMEALS}
</ul>
{/IF:OLDMEALS}
