<!--
   overview.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
{IF:MESSAGE}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_NOPROFILE}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:MESSAGE}
{IF:NEWADMIN}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">
		{LANG:PLUGIN_PROFILE_TXTNEWADMIN1} 
		"<a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGPROFILNAME}</a>" 
		{LANG:PLUGIN_PROFILE_TXTNEWADMIN2}: 
		<a href="/mein-profil.html?adminok={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTNEWADMIN3}</a> 
		{LANG:PLUGIN_PROFILE_TXTNEWADMIN4} 
		<a href="/mein-profil.html?admindel={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTNEWADMIN5}
		</a> - <a href="/uber-organisationsprofile.html">{LANG:PLUGIN_PROFILE_TXTNEWADMIN6}</a>
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:NEWADMIN}
{IF:ADDFRIENDMSG}
<div class="alertBox alertBoxInfo">
	<p class="alertBoxContent">
		{LANG:PLUGIN_PROFILE_TOFRIENDS1} 
		{VAR:USERNAME} 
		{LANG:PLUGIN_PROFILE_TOFRIENDS2}.
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:ADDFRIENDMSG}
{IF:ADMINDEL}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_REQUESTDELOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:ADMINDEL}
{IF:ADMINOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">
		{LANG:PLUGIN_PROFILE_TXTADM1} 
		"<a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGNAME}</a>" 
		{LANG:PLUGIN_PROFILE_TXTADM2}. 
		<a href="/organisationsprofil.html?profile={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTADM3}</a> 
		{LANG:PLUGIN_PROFILE_TXTADM4} 
		"<a href="/neuen-event-erstellen.html?eventtype=3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</a> 
		{LANG:PLUGIN_PROFILE_TXTADM5}.
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:ADMINOK}
{IF:RAPIDDEL}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_MEALDELOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:RAPIDDEL}
{IF:OFDEL}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_REMOVEFRIENDREQUEST}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:OFDEL}
{IF:USERBLOCK}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_PROFILISBLOCK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:USERBLOCK}
{IF:FOLLOWOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_FOLLOWUSEROK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FOLLOWOK}
{IF:UNFOLLOWOK}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_UNFOLLOWUSEROK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:UNFOLLOWOK}
<p>
	{IF:KONTAKTINFO}
	<a href="/nachricht-schreiben.html?an={VAR:USERNAME}" class="buttonWrapper buttonDefault buttonEmail">{LANG:PLUGIN_PM_SENDMESSAGE}</a>
	{/IF:KONTAKTINFO}
	{IF:SHOWFRIEND}
	<a href="/mein-profil.html?profile={VAR:USERNAME}&friendrequest=true" class="buttonWrapper buttonDefault buttonPlus">{LANG:PLUGIN_PROFILE_ADDFRIEND}</a>
	{/IF:SHOWFRIEND}
	{IF:MYPROFILE}
	<a href="/mein-profil-bearbeiten.html" class="buttonWrapper buttonDefault buttonEdit">{LANG:PLUGIN_PROFILE_EDITPROFILE}</a>
	{/IF:MYPROFILE}
</p>
<p>
	<img class="largeImage" src="{VAR:PROFILIMGTHUMB}" alt="{LANG:PLUGIN_PROFILE_IMG} 
{VAR:USERNAME}" /></a>
<br />
<span class="singleIconWrapper {VAR:STAR1}"></span><span class="singleIconWrapper {VAR:STAR2}"></span><span class="singleIconWrapper {VAR:STAR3}"></span><span class="singleIconWrapper {VAR:STAR4}"></span><span class="singleIconWrapper {VAR:STAR5}"></span> {LANG:PLUGIN_PROFILE_TOTAL}: 
			{VAR:COUNTRATINGS} 
			{LANG:PLUGIN_EVENTS_PAGETYPETITLERATINGS}
			<br />{VAR:SHOWRATINGS}
</p>
<p>
	{IF:ABOUTME}
	{VAR:ABOUTME}<br />
	{/IF:ABOUTME}
	{IF:FOLLOW}
	<a href="/mein-profil.html?profile={VAR:USERNAME}&follow=true" class="buttonWrapper buttonDefault buttonStar">
	{VAR:FIRSTNAME}{VAR:LASTNAME} 
	{LANG:PLUGIN_PROFILE_FOLLOWUSER}</a>
	{/IF:FOLLOW}
	{IF:UNFOLLOW}
	<a href="/mein-profil.html?profile={VAR:USERNAME}&unfollow=true" class="buttonWrapper buttonDefault buttonStar">
	{VAR:FIRSTNAME}{VAR:LASTNAME} 
	{LANG:PLUGIN_PROFILE_UNFOLLOWUSER}</a>
	{/IF:UNFOLLOW}
	<br />
	{LANG:PLUGIN_PROFILE_PROFILSTATUS}: {VAR:VERIFY}<br />
	{VAR:AGE} {LANG:PLUGIN_PROFILE_BIRTHDAY}, {VAR:GENDER}{VAR:JOB}<br />{VAR:ORT} ({VAR:KANTON})<br />
	{LANG:PLUGIN_PROFILE_REGISTEREDSINCE}: {VAR:REGDATUM}<br />
	{LANG:PLUGIN_PROFILE_BZSTATUS}: {VAR:BZSTATUS}
	{IF:SPRACHEN}
	<br />{LANG:PLUGIN_PROFILE_ISPEAK}: 
	{LOOP:SPRACHEN}
	{VAR:SPRACHNAME} |
	{/LOOP:SPRACHEN}
	{IF:MYPROFILE}
	 <a href="/meine-sprachen.html">+</a>
	{/IF:MYPROFILE}
	{/IF:SPRACHEN}
</p>
<div class="accordionWrapper"> 
	<div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">{LANG:PLUGIN_PROFILE_EATS}</span></a>
		<div class="accordionContentWrapper">
			<div class="accordionContent">
				{IF:ILIKE}
				{IF:MYPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_ILIKE}</h4>
				{/IF:MYPROFILE}
				{IF:OTHERPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_ILIKE2} 
				{VAR:FIRSTNAME}</h4>
				{/IF:OTHERPROFILE}
				<p>
					<ul>
						{VAR:ILIKE}
					</ul>
				</p>
				{/IF:ILIKE}
				{IF:IAM}
				<h4>{LANG:PLUGIN_PROFILE_IAM}</h4>
				<p>
					<ul>
						{VAR:IAM}
					</ul>
				</p>
				{/IF:IAM}
				{IF:NOEATS}
				<p>{LANG:PLUGIN_PROFILE_NOEATS}</p>
				{/IF:NOEATS}
				{IF:NOEATSME}
				<p>
				{LANG:PLUGIN_PROFILE_NOEATSME1} 
				<a href="/mein-profil-bearbeiten.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
				{LANG:PLUGIN_PROFILE_NOEATSME3}
				</p>
				{/IF:NOEATSME}
			</div>
		</div>
	</div>
	<div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">
	{IF:MYPROFILE}
	{LANG:PLUGIN_PROFILE_MYEVENTS}
	{/IF:MYPROFILE}
	{IF:OTHERPROFILE}
	{LANG:PLUGIN_PROFILE_MEALFROM} 
	{VAR:USERNAME}
	{/IF:OTHERPROFILE}
	</span></a>
		<div class="accordionContentWrapper">
			<div class="accordionContent">
				{IF:MYPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_NOTFINISHEVENTS}</h4>
				{IF:HASEVENTS1}
				<table>
					<thead>
						<tr>
							<th>{LANG:PLUGIN_EVENTS_NAME}</th>
							<th>{LANG:MANAGE}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:NOTFINISH}
						<tr>
							<td><a href="/event-bearbeiten.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a></td>
							<td>
								<a href="/event-bearbeiten.html?event={VAR:EVENTID}" class="buttonWrapper buttonDefault buttonEdit">{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}</a>
								<a href="/mein-profil.html?rapiddel={VAR:EVENTID}" class="buttonWrapper buttonRed buttonNo">{LANG:PLUGIN_EVENTS_PAGETYPETITLEDELETE}</a>
							</td>
						</tr>
						{/LOOP:NOTFINISH}
					</tbody>
				</table>
				{/IF:HASEVENTS1}
				{IF:NOEVENTS1}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS1} 
							<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
							{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
						</td>
					</tr>
				</table>
				{/IF:NOEVENTS1}
				{/IF:MYPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_ACTIVEEVENTS}</h4>
				<h5>{LANG:PLUGIN_PROFILE_GASTGEBER}</h5>
				{IF:HASGASTGEBER1}
				<table>
					<thead>
					<tr>
						<th>{LANG:PLUGIN_EVENTS_NAME}</th>
						{IF:MYPROFILE}
						<th>{LANG:MANAGE}</th>
						{/IF:MYPROFILE}
					</tr>
					</thead>
					<tbody>
						{LOOP:GASTGEBER}
						<tr>
							<td>
								<a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a><br /> {VAR:DATUM}
								{VAR:TEILNEHMERSTRING}
							</td>
								{VAR:MANAGEEVENTS}
						</tr>
						{/LOOP:GASTGEBER}
					</tbody>
				</table>
				{/IF:HASGASTGEBER1}
				{IF:NOGASTGEBEROWN}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOGASTGEBER1} 
							<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
							{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
						</td>
					</tr>
				</table>
				{/IF:NOGASTGEBEROWN}
				{IF:NOGASTGEBEROTHER}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOGASTGEBER2}
						</td>
					</tr>
				</table>
				{/IF:NOGASTGEBEROTHER}
				<h5>{LANG:PLUGIN_PROFILE_TEILNEHMER}</h5>
				{IF:HASTEILNEHMER1}
				<table>
					<thead>
						<tr>
							<th>{LANG:PLUGIN_EVENTS_NAME}</th>
							<th>{LANG:MANAGE}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:TEILNEHMER}
						<tr>
							<td><a href="/event-details.html?event={VAR:TEILEVENTID}">{VAR:TEILEVENTNAME}</a><br /> {VAR:DATUM}</td>
								{VAR:UNSUBSCRIBE}
						</tr>
						{/LOOP:TEILNEHMER}
					</tbody>
				</table>
				{/IF:HASTEILNEHMER1}
				{IF:NOTEILNEHMEROWN}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOTEILNEHMER1} 
							<a href="/essen-gehen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
							{LANG:PLUGIN_PROFILE_NOTEILNEHMER2}
						</td>
					</tr>
				</table>
				{/IF:NOTEILNEHMEROWN}
				{IF:NOTEILNEHMEROTHER}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOTEILNEHMER3}
						</td>
					</tr>
				</table>
				{/IF:NOTEILNEHMEROTHER}
				<h4>{LANG:PLUGIN_PROFILE_INACTIVEEVENTS}</h4>
				<h5>{LANG:PLUGIN_PROFILE_GASTGEBER}</h5>
				{IF:HASGASTGEBER2}
				<table class="tableclass mt20">
					<thead>
						<tr>
							<th>{LANG:PLUGIN_EVENTS_NAME}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:OLDGASTGEBER}
						<tr>
							<td>
								<a href="/event-details.html?event={VAR:OLDEVENTID}">{VAR:OLDEVENTNAME}</a><br /> {VAR:DATUM}
								{VAR:OLDTEILNEHMERSTRING}
							</td>
						</tr>
						{/LOOP:OLDGASTGEBER}
					</tbody>
				</table>
				{/IF:HASGASTGEBER2}
				{IF:NOOLDGASTGEBEROWN}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOOLDGASTGEBER1} 
							<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
							{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
						</td>
					</tr>
				</table>
				{/IF:NOOLDGASTGEBEROWN}
				{IF:NOOLDGASTGEBEROTHER}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOOLDGASTGEBER2}
						</td>
					</tr>
				</table>
				{/IF:NOOLDGASTGEBEROTHER}
				<h5>{LANG:PLUGIN_PROFILE_TEILNEHMER}</h5>
				{IF:HASTEILNEHMER2}
				<table>
					<thead>
						<tr>
							<th>{LANG:PLUGIN_EVENTS_NAME}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:OLDTEILNEHMER}
						<tr>
							<td>
								<a href="/event-details.html?event={VAR:OLDTEILEVENTID}">{VAR:OLDTEILEVENTNAME}</a>
								<br />{VAR:DATUM}
							</td>
						</tr>
						{/LOOP:OLDTEILNEHMER}
					</tbody>
				</table>
				{/IF:HASTEILNEHMER2}
				{IF:NOOLDTEILNEHMEROWN}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOOLDTEILNEHMER1} 
							<a href="/essen-gehen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
							{LANG:PLUGIN_PROFILE_NOTEILNEHMER2}
						</td>
					</tr>
				</table>
				{/IF:NOOLDTEILNEHMEROWN}
				{IF:NOOLDTEILNEHMEROTHER}
				<table class="tableclass mt20">
					<tr>
						<td>
							{LANG:PLUGIN_PROFILE_NOOLDTEILNEHMER2}
						</td>
					</tr>
				</table>
				{/IF:NOOLDTEILNEHMEROTHER}
			</div>
		</div>
	</div>
	<div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">
	{IF:MYPROFILE}
	{LANG:PLUGIN_PROFILE_MYFRIENDS}
	{/IF:MYPROFILE}
	{IF:OTHERPROFILE}
	{LANG:PLUGIN_PROFILE_FRIENDSOF} 
	{VAR:USERNAME}
	{/IF:OTHERPROFILE}
	</span></a>
		<div class="accordionContentWrapper">
			<div class="accordionContent">
				{IF:OPENFRIENDS}
				<h4>{LANG:PLUGIN_PROFILE_OPENFRIENDREQUESTS}</h4>
				<ul>
					{LOOP:OPENFRIENDS}
					<li><a href="/mein-profil.html?profile={VAR:OFUSERNAME}">{VAR:OFUSERNAME}</a> <a class="infotooltip_event" infotext="{LANG:PLUGIN_PROFILE_RETURNFRIENDREQUEST}" 
					href="/mein-profil.html?delfriend={VAR:OFID}"><span title=""><img src="{ICON:CROSS}" /></span></a></li>
					{/LOOP:OPENFRIENDS}
				</ul>
				{/IF:OPENFRIENDS}
				{IF:OTHERPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_FRIENDSOF} {VAR:FIRSTNAME}</h4>
				{/IF:OTHERPROFILE}
				{IF:MYPROFILE}
				<h4>{LANG:PLUGIN_PROFILE_MYFRIENDS2}</h4>
				{/IF:MYPROFILE}
				{IF:HASFRIENDS}
				<table>
					<thead>
						<tr>
							<th>{LANG:NAME}</th>
							<th>{LANG:MANAGE}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:FRIENDS}
						<tr>
							<td><a href="/mein-profil.html?profile={VAR:USERNAMELINK}">{VAR:VORNAME} {VAR:NACHNAME} {VAR:USERNAME}</a></td>
							<td>
								<a href="/nachricht-schreiben.html?an={VAR:USERNAMELINK}" class="buttonWrapper buttonDefault buttonEdit">{LANG:PLUGIN_PM_SENDMESSAGE}</a>
								{VAR:DELETELINK}
							</td>
						</tr>
						{/LOOP:FRIENDS}
					</tbody>
				</table>
				{/IF:HASFRIENDS}
				{IF:MENOFRIENDS}
				<p>
					{LANG:PLUGIN_PROFILE_MENOFRIENDS1} 
					<a href="/freunde-einladen.html">{LANG:PLUGIN_PROFILE_MENOFRIENDS2}</a>
					{LANG:PLUGIN_PROFILE_MENOFRIENDS3}
				</p>
				{/IF:MENOFRIENDS}
				{IF:OTHERNOFRIENDS}
				<p>{LANG:PLUGIN_PROFILE_OTHERNOFRIENDS}</p>
				{/IF:OTHERNOFRIENDS}
			</div>
		</div>
	</div>
	{IF:MYPROFILE}
	<div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">{LANG:PLUGIN_PROFILE_PROFILVISITORS} 
	({VAR:AUFRUFE} 
	{LANG:PLUGIN_PROFILE_PROFILCALLS})</span></a>
		<div class="accordionContentWrapper">
			<div class="accordionContent">
				{IF:NOWATCH}
				<p>{LANG:PLUGIN_PROFILE_WATCHSET1} 
				<a href="/meine-einstellungen.html">{LANG:PLUGIN_PROFILE_WATCHSET2}</a> 
				{LANG:PLUGIN_PROFILE_WATCHSET3}.</p>
				{/IF:NOWATCH}
				{IF:NOTHING}
				<p>{LANG:PLUGIN_PROFILE_NOPROFILEWATCH}</p>
				{/IF:NOTHING}
				{IF:PROFILEWATCH}
				<table>
					<thead>
						<tr>
							<th width="160px">{LANG:PLUGIN_PROFILE_DATUM}</th>
							<th>{LANG:NAME}</th>
						</tr>
					</thead>
					<tbody>
						{LOOP:WATCH}
						<tr>
							<td>{VAR:DATUM}</td>
							<td><a href="/mein-profil.html?profile={VAR:USERNAMELINK}">{VAR:VORNAME} {VAR:NACHNAME} {VAR:USERNAME}</a></td>
						</tr>
						{/LOOP:WATCH}
					</tbody>
				</table>
				{/IF:PROFILEWATCH}
			</div>
		</div>
	</div>
	{/IF:MYPROFILE}
	{IF:MYPROFILE}
	<div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">{LANG:PLUGIN_PROFILE_EDITPROFILEPAGETYPETITLE}</span></a>
		<div class="accordionContentWrapper">
			<div class="accordionContent">
				<p>
					<ul>
						{IF:ISVERIFY}
						<a href="/profil-verifizieren.html"><li>{LANG:PLUGIN_PROFILE_VERIFYPAGETYPETITLE}</li></a>
						{/IF:ISVERIFY}
						<a href="/posteingang.html"><li>{LANG:PLUGIN_PM_PAGETYPETITLEINBOX}</li></a>
						<a href="/freunde-einladen.html"><li>{LANG:PLUGIN_PROFILE_INVITEFRIENDS}</li></a>
						<a href="/meine-sprachen.html"><li>{LANG:PLUGIN_PROFILE_ADDLNG}</li></a>
						<a href="/mein-profil-bearbeiten.html"><li>{LANG:PLUGIN_PROFILE_EDITPROFILEPAGETYPETITLE}</li></a>
						<a href="/meine-einstellungen.html"><li>{LANG:PLUGIN_PROFILE_SETSETTINGS}</li></a>
						<a href="/passwort-aendern.html"><li>{LANG:PLUGIN_PROFILE_CHANGEMYPW}</li></a>
						<a href="/uber-organisationsprofile.html"><li>{LANG:PLUGIN_PROFILE_CREATENEWORGPROFILE}</li></a>
						{IF:ORGS}
						<li>{LANG:PLUGIN_PROFILE_MANAGEOWNORGS}:
							<ul>
								{LOOP:ORGS}
								<a href="/organisationsprofil.html?profile={VAR:ORGID}"><li>{VAR:ORGNAME}</li></a>
								{/LOOP:ORGS}
							</ul>
						{/IF:ORGS}
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
	{/IF:MYPROFILE}
</div>
