<!--
   overview.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
{IF:MYPROFILE}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="./mein-profil-bearbeiten.html"><strong>{LANG:PLUGIN_PROFILE_EDITPROFILE}</strong></a></li>
	</ul>
</section>
{/IF:MYPROFILE}
{IF:SHOWFRIEND}
<section id="options" class="clearfix">
	<ul id="filters" class="clearfix">
		<li><a href="./mein-profil.html?profile={VAR:USERNAME}&friendrequest=true"><strong>{LANG:PLUGIN_PROFILE_ADDFRIEND}</strong></a></li>
	</ul>
</section>
{/IF:SHOWFRIEND}
{IF:MESSAGE}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_NOPROFILE}
</div>
{/IF:MESSAGE}
{IF:NEWADMIN}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_TXTNEWADMIN1} 
	"<a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGPROFILNAME}</a>" 
	{LANG:PLUGIN_PROFILE_TXTNEWADMIN2}: 
	<a href="/mein-profil.html?adminok={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTNEWADMIN3}</a> 
	{LANG:PLUGIN_PROFILE_TXTNEWADMIN4} 
	<a href="/mein-profil.html?admindel={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTNEWADMIN5}
	</a> - <a href="/uber-organisationsprofile.html">{LANG:PLUGIN_PROFILE_TXTNEWADMIN6}</a>
</div>
{/IF:NEWADMIN}
{IF:ADDFRIENDMSG}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_TOFRIENDS1} 
	{VAR:USERNAME} 
	{LANG:PLUGIN_PROFILE_TOFRIENDS2}.
</div>
{/IF:ADDFRIENDMSG}
{IF:ADMINDEL}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_REQUESTDELOK}
</div>
{/IF:ADMINDEL}
{IF:ADMINOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_TXTADM1} 
	"<a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGNAME}</a>" 
	{LANG:PLUGIN_PROFILE_TXTADM2}. 
	<a href="/organisationsprofil.html?profile={VAR:ORGID}">{LANG:PLUGIN_PROFILE_TXTADM3}</a> 
	{LANG:PLUGIN_PROFILE_TXTADM4} 
	"<a href="/neuen-event-erstellen.html?eventtype=3">{LANG:PLUGIN_EVENTS_EVENTTYPE3}</a> 
	{LANG:PLUGIN_PROFILE_TXTADM5}.
</div>
{/IF:ADMINOK}
{IF:RAPIDDEL}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_MEALDELOK}
</div>
{/IF:RAPIDDEL}
{IF:OFDEL}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_REMOVEFRIENDREQUEST}
</div>
{/IF:OFDEL}
{IF:USERBLOCK}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_PROFILISBLOCK}
</div>
{/IF:USERBLOCK}
{IF:FOLLOWOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_FOLLOWUSEROK}
</div>
{/IF:FOLLOWOK}
{IF:UNFOLLOWOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_UNFOLLOWUSEROK}
</div>
{/IF:UNFOLLOWOK}
<ul class="team">
	<li class="widthcolumn4">
		<a href="{VAR:PROFILIMG}" class="fancyboxpopup"><img src="{VAR:PROFILIMGTHUMB}" alt="{LANG:PLUGIN_PROFILE_IMG} 
		{VAR:USERNAME}" title="{LANG:PLUGIN_PROFILE_IMG} 
		{VAR:USERNAME}"></a>
		<ul class="rate">
			{VAR:STAR1}
			{VAR:STAR2}
			{VAR:STAR3}
			{VAR:STAR4}
			{VAR:STAR5}
			<p>{LANG:PLUGIN_PROFILE_TOTAL}: 
			{VAR:COUNTRATINGS} 
			{LANG:PLUGIN_EVENTS_PAGETYPETITLERATINGS}
			<br />{VAR:SHOWRATINGS}</p>
		</ul>
		{IF:KONTAKTINFO}
		<br /><br /><br /><br /><br />
		<p>
			<div class="social">
				<a class="message" title="message" href="./nachricht-schreiben.html?an={VAR:USERNAME}">message</a>
				{IF:SHOWFBLINK}
				<a class="facebook" target="_blank" title="Facebook" href="{VAR:FBLINK}">Facebook</a>
				{/IF:SHOWFBLINK}
				{IF:SHOWTWITLINK}
				<a class="twitter" target="_blank" title="Twitter" href="{VAR:TWITLINK}">Twitter</a>
				{/IF:SHOWTWITLINK}
				{IF:SHOWGPLINK}
				<a class="googleplus" target="_blank" title="Googleplus" href="{VAR:GPLINK}">Googleplus</a>
				{/IF:SHOWGPLINK}
				{IF:SHOWFLICKRLINK}
				<a class="flickr" target="_blank" title="Flickr" href="{VAR:FLICKRLINK}">Flickr</a>
				{/IF:SHOWFLICKRLINK}
				{IF:SHOWLINKEDINLINK}
				<a class="linkedin" target="_blank" title="Linkedin" href="{VAR:LINKEDINLINK}">Linkedin</a>
				{/IF:SHOWLINKEDINLINK}
				{IF:SHOWSKYPELINK}
				<a class="skype" title="Skype" href="skype://{VAR:SKYPELINK}">Skype</a>
				{/IF:SHOWSKYPELINK}
			</div>
		</p>
		{/IF:KONTAKTINFO}
	</li>
</ul>
 <!--Tabs-->
<div class="widthcolumn1 last">
	<ul class="tabs">
		<li class="active">
			<a href="#tabdata1">{LANG:PLUGIN_PROFILE_ABOUTME}</a>
		</li>
		<li>
			<a href="#tabdata2">{LANG:PLUGIN_PROFILE_EATS}</a>
		</li>
		{IF:MYPROFILE}
		<li>
			<a href="#tabdata3">{LANG:PLUGIN_PROFILE_MYEVENTS}</a>
		</li>
		{/IF:MYPROFILE}
		{IF:OTHERPROFILE}
		<li>
			<a href="#tabdata3">{LANG:PLUGIN_PROFILE_MEALFROM} 
			{VAR:FIRSTNAME}</a>
		</li>
		{/IF:OTHERPROFILE}
		{IF:OTHERPROFILE}
		<li>
			<a href="#tabdata4">{LANG:PLUGIN_PROFILE_FRIENDSOF} 
			{VAR:FIRSTNAME}</a>
		</li>
		{/IF:OTHERPROFILE}
		{IF:MYPROFILE}
		<li>
			<a href="#tabdata4">{LANG:PLUGIN_PROFILE_MYFRIENDS}</a>
		</li>
		{/IF:MYPROFILE}
		{IF:MYPROFILE}
		<li>
			<a href="#tabdata5">{LANG:PLUGIN_PROFILE_PROFILVISITORS} 
			({VAR:AUFRUFE})</a>
		</li>
		{/IF:MYPROFILE}
	</ul>
	<div class="tabs-container">
		<div class="tabdata" id="tabdata1">
			<h4 class="heading4">{VAR:FIRSTNAME}{VAR:LASTNAME},{VAR:ONLINESTATUS}</h4>
			<p>
				{LANG:PLUGIN_PROFILE_PROFILSTATUS}: {VAR:VERIFY}<br />
				{VAR:AGE} {LANG:PLUGIN_PROFILE_BIRTHDAY}, {VAR:GENDER}{VAR:JOB}<br />{VAR:ORT} ({VAR:KANTON})<br />
				{LANG:PLUGIN_PROFILE_REGISTEREDSINCE}: {VAR:REGDATUM}<br />
				{LANG:PLUGIN_PROFILE_BZSTATUS}: {VAR:BZSTATUS}
				{IF:SPRACHEN}
				<br />{LANG:PLUGIN_PROFILE_ISPEAK}: 
				{LOOP:SPRACHEN}
				{VAR:SPRACHNAME} |
				{/LOOP:SPRACHEN}
				{IF:MYPROFILE}
					 <a href="/meine-sprachen.html">+</a>
				{/IF:MYPROFILE}
				{/IF:SPRACHEN}
			</p>
			{IF:ABOUTME}
			{IF:MYPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_ABOUTME}</h4>
			{/IF:MYPROFILE}
			{IF:OTHERPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_ONLYABOUT} 
			{VAR:FIRSTNAME}</h4>
			{/IF:OTHERPROFILE}
			<p>{VAR:ABOUTME}</p>
			{/IF:ABOUTME}
			{IF:FOLLOW}
			<p>
				<a class="linkbuttonmiddum" href="/mein-profil.html?profile={VAR:USERNAME}&follow=true">
				<strong>{VAR:FIRSTNAME}{VAR:LASTNAME} 
				{LANG:PLUGIN_PROFILE_FOLLOWUSER}</strong></a>
			</p>
			{/IF:FOLLOW}
			{IF:UNFOLLOW}
			<p>
				<a class="linkbuttonmiddum" href="/mein-profil.html?profile={VAR:USERNAME}&unfollow=true">
				<strong>{VAR:FIRSTNAME}{VAR:LASTNAME} 
				{LANG:PLUGIN_PROFILE_UNFOLLOWUSER}</strong></a>
			</p>
			{/IF:UNFOLLOW}
			{IF:WEBPAGE}
			<p>{LANG:PLUGIN_PROFILE_PERSONALWEBSEITE}: <a href="{VAR:WEBPAGE}" target="_blank">{VAR:WEBPAGE}</a></p>
			{/IF:WEBPAGE}
			{IF:MYPROFILE}
			<p>
				<ul class="listoption1">
					{IF:ISVERIFY}
					<li><a href="/profil-verifizieren.html">{LANG:PLUGIN_PROFILE_VERIFYPAGETYPETITLE} 
					<img src="{ICON:TICK}"></a></li>
					{/IF:ISVERIFY}
					<li><a href="/posteingang.html">{LANG:PLUGIN_PM_PAGETYPETITLEINBOX}</a></li>
					<li><a href="/freunde-einladen.html">{LANG:PLUGIN_PROFILE_INVITEFRIENDS}</a></li>
					<li><a href="/meine-sprachen.html">{LANG:PLUGIN_PROFILE_ADDLNG}</a></li>
					<li><a href="/mein-profil-bearbeiten.html">{LANG:PLUGIN_PROFILE_EDITPROFILEPAGETYPETITLE}</a></li>
					<li><a href="/meine-einstellungen.html">{LANG:PLUGIN_PROFILE_SETSETTINGS}</a></li>
					<li><a href="/passwort-aendern.html">{LANG:PLUGIN_PROFILE_CHANGEMYPW}</a></li>
					<li><a href="/uber-organisationsprofile.html">{LANG:PLUGIN_PROFILE_CREATENEWORGPROFILE}</a></li>
					{IF:ORGS}
					<li>{LANG:PLUGIN_PROFILE_MANAGEOWNORGS}:
					<ul class="listoption4">
						{LOOP:ORGS}
						<li><a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGNAME}</a></li>
						{/LOOP:ORGS}
					</ul>
					{/IF:ORGS}
					</li>
				</ul>
			</p>
			{/IF:MYPROFILE}
		</div>
		<div class="tabdata" id="tabdata2">
			{IF:ILIKE}
			{IF:MYPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_ILIKE}</h4>
			{/IF:MYPROFILE}
			{IF:OTHERPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_ILIKE2} 
			{VAR:FIRSTNAME}</h4>
			{/IF:OTHERPROFILE}
			<ul class="listoption4">
				{VAR:ILIKE}
			</ul>
			{/IF:ILIKE}
			{IF:IAM}
			<br />
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_IAM}</h4>
			<ul class="listoption4">
				{VAR:IAM}
			</ul>
			{/IF:IAM}
			{IF:NOEATS}
			<p>{LANG:PLUGIN_PROFILE_NOEATS}</p>
			{/IF:NOEATS}
			{IF:NOEATSME}
			<p>
				{LANG:PLUGIN_PROFILE_NOEATSME1} 
				<a href="/mein-profil-bearbeiten.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
				{LANG:PLUGIN_PROFILE_NOEATSME3}
			</p>
			{/IF:NOEATSME}
		</div>
		<div class="tabdata" id="tabdata3">
			{IF:MYPROFILE}
			<h3 class="heading3">{LANG:PLUGIN_PROFILE_NOTFINISHEVENTS}</h3>
			{IF:HASEVENTS1}
			<table class="tableclass mt20">
				<tr>
					<th width="80%" colspan="2">{LANG:PLUGIN_EVENTS_NAME}</th>
					<th>{LANG:MANAGE}</th>
				</tr>
				{LOOP:NOTFINISH}
				<tr>
					{VAR:EVENTIMAGE}
					<td colspan="{VAR:COLSPAN}">{VAR:EVENTTYPE} <a href="/event-bearbeiten.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a></td>
					<td>
						<a infotext="{LANG:PLUGIN_EVENTS_PAGETYPETITLEEDIT}" 
							href="/event-bearbeiten.html?event={VAR:EVENTID}" class="infotooltip"><span title=""><img src="{ICON:PAGE_EDIT}" /></span></a>
						<a infotext="{LANG:PLUGIN_EVENTS_PAGETYPETITLEDELETE}" 
							href="/mein-profil.html?rapiddel={VAR:EVENTID}" class="infotooltip"><span title=""><img src="{ICON:CROSS}" /></span></a>
					</td>
				</tr>
				{/LOOP:NOTFINISH}
			</table>
			{/IF:HASEVENTS1}
			{IF:NOEVENTS1}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS1} 
						<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
						{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
					</td>
				</tr>
			</table>
			{/IF:NOEVENTS1}
			{/IF:MYPROFILE}
			<h3 class="heading3">{LANG:PLUGIN_PROFILE_ACTIVEEVENTS}</h3>
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_GASTGEBER}</h4>
			{IF:HASGASTGEBER1}
			<table class="tableclass mt20">
				<tr>
					<th width="80%" colspan="2">{LANG:PLUGIN_EVENTS_NAME}</th>
					{IF:MYPROFILE}
					<th>{LANG:MANAGE}</th>
					{/IF:MYPROFILE}
				</tr>
				{LOOP:GASTGEBER}
				<tr>
					{VAR:EVENTIMAGE}
					<td colspan="{VAR:COLSPAN}">
						{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:EVENTID}">{VAR:EVENTNAME}</a><br /> {VAR:DATUM}
						{VAR:TEILNEHMERSTRING}
					</td>
					{VAR:MANAGEEVENTS}
				</tr>
				{/LOOP:GASTGEBER}
			</table>
			{/IF:HASGASTGEBER1}
			{IF:NOGASTGEBEROWN}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOGASTGEBER1} 
						<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
						{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
					</td>
				</tr>
			</table>
			{/IF:NOGASTGEBEROWN}
			{IF:NOGASTGEBEROTHER}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOGASTGEBER2}
					</td>
				</tr>
			</table>
			{/IF:NOGASTGEBEROTHER}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_TEILNEHMER}</h4>
			{IF:HASTEILNEHMER1}
			<table class="tableclass mt20">
				<tr>
					<th width="80%" colspan="2">{LANG:PLUGIN_EVENTS_NAME}</th>
					{IF:MYPROFILE}
					<th>{LANG:MANAGE}</th>
					{/IF:MYPROFILE}
				</tr>
				{LOOP:TEILNEHMER}
				<tr>
					{VAR:EVENTIMAGE}
					<td colspan="{VAR:COLSPAN}">
						{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:TEILEVENTID}">{VAR:TEILEVENTNAME}</a><br /> {VAR:DATUM}
					</td>
						{VAR:UNSUBSCRIBE}
				</tr>
				{/LOOP:TEILNEHMER}
			</table>
			{/IF:HASTEILNEHMER1}
			{IF:NOTEILNEHMEROWN}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOTEILNEHMER1} 
						<a href="/essen-gehen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
						{LANG:PLUGIN_PROFILE_NOTEILNEHMER2}
					</td>
				</tr>
			</table>
			{/IF:NOTEILNEHMEROWN}
			{IF:NOTEILNEHMEROTHER}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOTEILNEHMER3}
					</td>
				</tr>
			</table>
			{/IF:NOTEILNEHMEROTHER}
			<h3 class="heading3">{LANG:PLUGIN_PROFILE_INACTIVEEVENTS}</h3>
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_GASTGEBER}</h4>
			{IF:HASGASTGEBER2}
			<table class="tableclass mt20">
				<tr>
					<th width="80%" colspan="2">{LANG:PLUGIN_EVENTS_NAME}</th>
				</tr>
				{LOOP:OLDGASTGEBER}
				<tr>
					{VAR:EVENTIMAGE}
					<td colspan="{VAR:COLSPAN}">
						{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:OLDEVENTID}">{VAR:OLDEVENTNAME}</a><br /> {VAR:DATUM}
						{VAR:OLDTEILNEHMERSTRING}
					</td>
				</tr>
				{/LOOP:OLDGASTGEBER}
			</table>
			{/IF:HASGASTGEBER2}
			{IF:NOOLDGASTGEBEROWN}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOOLDGASTGEBER1} 
						<a href="/neuen-event-erstellen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
						{LANG:PLUGIN_PROFILE_NOINACTIVEEVENTS2}
					</td>
				</tr>
			</table>
			{/IF:NOOLDGASTGEBEROWN}
			{IF:NOOLDGASTGEBEROTHER}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOOLDGASTGEBER2}
					</td>
				</tr>
			</table>
			{/IF:NOOLDGASTGEBEROTHER}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_TEILNEHMER}</h4>
			{IF:HASTEILNEHMER2}
			<table class="tableclass mt20">
				<tr>
					<th width="80%" colspan="2">{LANG:PLUGIN_EVENTS_NAME}</th>
				</tr>
				{LOOP:OLDTEILNEHMER}
				<tr>
					{VAR:EVENTIMAGE}
					<td colspan="{VAR:COLSPAN}">
						{VAR:EVENTTYPE} <a href="/event-details.html?event={VAR:OLDTEILEVENTID}">{VAR:OLDTEILEVENTNAME}</a> {VAR:OLDRATING}
						<br />{VAR:DATUM}
					</td>
				</tr>
				{/LOOP:OLDTEILNEHMER}
			</table>
			{/IF:HASTEILNEHMER2}
			{IF:NOOLDTEILNEHMEROWN}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOOLDTEILNEHMER1} 
						<a href="/essen-gehen.html">{LANG:PLUGIN_PROFILE_NOEATSME2}</a> 
						{LANG:PLUGIN_PROFILE_NOTEILNEHMER2}
					</td>
				</tr>
			</table>
			{/IF:NOOLDTEILNEHMEROWN}
			{IF:NOOLDTEILNEHMEROTHER}
			<table class="tableclass mt20">
				<tr>
					<td>
						{LANG:PLUGIN_PROFILE_NOOLDTEILNEHMER2}
					</td>
				</tr>
			</table>
			{/IF:NOOLDTEILNEHMEROTHER}
		</div>
		<div class="tabdata" id="tabdata4">
			{IF:OPENFRIENDS}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_OPENFRIENDREQUESTS}</h4>
			<ul class="listoption2">
				{LOOP:OPENFRIENDS}
				<li><a href="/mein-profil.html?profile={VAR:OFUSERNAME}">{VAR:OFUSERNAME}</a> <a class="infotooltip_event" infotext="{LANG:PLUGIN_PROFILE_RETURNFRIENDREQUEST}" 
					href="/mein-profil.html?delfriend={VAR:OFID}"><span title=""><img src="{ICON:CROSS}" /></span></a></li>
				{/LOOP:OPENFRIENDS}
			</ul>
			<hr />
			{/IF:OPENFRIENDS}
			{IF:OTHERPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_FRIENDSOF} {VAR:FIRSTNAME}</h4>
			{/IF:OTHERPROFILE}
			{IF:MYPROFILE}
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_MYFRIENDS2}</h4>
			{/IF:MYPROFILE}
			{IF:HASFRIENDS}
			<table class="tableclass mt20">
				<tr>
					<th>{LANG:NAME}</th>
					<th>{LANG:MANAGE}</th>
				</tr>
				{LOOP:FRIENDS}
				<tr>
					<td><a href="/mein-profil.html?profile={VAR:USERNAMELINK}">{VAR:VORNAME} {VAR:NACHNAME} {VAR:USERNAME}</a> {VAR:VERIFY} {VAR:FRIENDSTATUS}</td>
					<td>
						<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_SENDMESSAGE}" 
							href="/nachricht-schreiben.html?an={VAR:USERNAMELINK}"><span title=""><img src="{ICON:PENCIL}" /></span></a>
						<a class="infotooltip_event" infotext="{LANG:PLUGIN_PROFILE_GOPROFILE}" 
							href="/mein-profil.html?profile={VAR:USERNAMELINK}"><span title=""><img src="{ICON:USER}" /></span></a>
						{VAR:DELETELINK}
					</td>
				</tr>
				{/LOOP:FRIENDS}
			</table>
			{/IF:HASFRIENDS}
			{IF:MENOFRIENDS}
			<p>
				{LANG:PLUGIN_PROFILE_MENOFRIENDS1} 
				<a href="/freunde-einladen.html">{LANG:PLUGIN_PROFILE_MENOFRIENDS2}</a>
				{LANG:PLUGIN_PROFILE_MENOFRIENDS3}
			</p>
			{/IF:MENOFRIENDS}
			{IF:OTHERNOFRIENDS}
			<p>{LANG:PLUGIN_PROFILE_OTHERNOFRIENDS}</p>
			{/IF:OTHERNOFRIENDS}
		</div>
		{IF:MYPROFILE}
		<div class="tabdata" id="tabdata5">
			<h4 class="heading4">{LANG:PLUGIN_PROFILE_MYPROFILEWATCHERS}</h4>
			{IF:NOWATCH}
			<p>{LANG:PLUGIN_PROFILE_WATCHSET1} 
				<a href="/meine-einstellungen.html">{LANG:PLUGIN_PROFILE_WATCHSET2}</a> 
				{LANG:PLUGIN_PROFILE_WATCHSET3}.</p>
			{/IF:NOWATCH}
			{IF:NOTHING}
			<p>{LANG:PLUGIN_PROFILE_NOPROFILEWATCH}</p>
			{/IF:NOTHING}
			{IF:PROFILEWATCH}
			<table class="tableclass mt20">
				<tr>
					<th width="160px">{LANG:PLUGIN_PROFILE_DATUM}</th>
					<th>{LANG:NAME}</th>
					<th>{LANG:PLUGIN_PROFILE_DETAILS}</th>
				</tr>
				{LOOP:WATCH}
				<tr>
					<td>{VAR:DATUM}</td>
					<td><a href="/mein-profil.html?profile={VAR:USERNAMELINK}">{VAR:VORNAME} {VAR:NACHNAME} {VAR:USERNAME}</a> {VAR:VERIFY} {VAR:ONLINESTATUS}</td>
					<td>
						<a class="infotooltip_event" infotext="{LANG:PLUGIN_PM_SENDMESSAGE}" 
							href="/nachricht-schreiben.html?an={VAR:USERNAMELINK}"><span title=""><img src="{ICON:PENCIL}" /></span></a>
						<a class="infotooltip_event" infotext="{LANG:PLUGIN_PROFILE_GOPROFILE}" 
							href="/mein-profil.html?profile={VAR:USERNAMELINK}"><span title=""><img src="{ICON:USER}" /></span></a>
					</td>
				</tr>
				{/LOOP:WATCH}
			</table>
			{/IF:PROFILEWATCH}
		</div>
		{/IF:MYPROFILE}
	</div>
</div>
{IF:MELDEN}
<p style="text-align: right;"><a href="/melden.html?source=profile&g={VAR:USERID}">{LANG:PLUGIN_PROFILE_REPORTPROFILE}</a></p>
{/IF:MELDEN}
