<!--
   settings.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:MSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_SETSAVEOK}
</div>
{/IF:MSG}
{IF:MSGMOBILE}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_PROFILE_SETSAVEOK}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:MSGMOBILE}
<p>{LANG:PLUGIN_PROFILE_SETDESC}</p>
<form method="post" name="usersettings" accept-charset="utf-8">
	<table class="tableclass mt20">
		<tr>
			<th style="text-align: left;" colspan="2">{LANG:PLUGIN_PROFILE_SETACOUNTSETTINGS}</th>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:SOCIALMEDIA} type="checkbox" name="socialmedia" id="socialmedia" value="1" /></td>
			<td><label for="socialmedia">{LANG:PLUGIN_PROFILE_SETSOCIALMEDIA}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:PROFILE} type="checkbox" name="profile" id="profile" value="1" /></td>
			<td><label for="profile">{LANG:PLUGIN_PROFILE_SETPROFILE}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NLSM} type="checkbox" name="nlsm" id="nlsm" value="1" /></td>
			<td><label for="nlsm">{LANG:PLUGIN_REGISTER_NLSM}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NLOB} type="checkbox" name="nlob" id="nlob" value="1" /></td>
			<td><label for="nlob">{LANG:PLUGIN_REGISTER_NLOB}</label></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><label for="anzahlpm">{LANG:PLUGIN_PROFILE_SETANZAHLPM}</label> <input type="number" name="anzahlpm" id="anzahlpm" value="{VAR:ANZAHLPM}" /></td>
		</tr>
		<tr>
			<th style="text-align: left;" colspan="2">{LANG:PLUGIN_PROFILE_SETUSERINT}</th>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:FRIEND} type="checkbox" name="friend" id="friend" value="1" /></td>
			<td><label for="friend">{LANG:PLUGIN_PROFILE_SETFRIEND}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:FRIENDEVENT} type="checkbox" name="friendevent" id="friendevent" value="1" /></td>
			<td><label for="friendevent">{LANG:PLUGIN_PROFILE_SETFRIENDEVENT}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NEWPM} type="checkbox" name="newpm" id="newpm" value="1" /></td>
			<td><label for="newpm">{LANG:PLUGIN_PROFILE_SETNEWPM}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:RATE} type="checkbox" name="rate" id="rate" value="1" /></td>
			<td><label for="rate">{LANG:PLUGIN_PROFILE_SETRATE}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:RATEREPLY} type="checkbox" name="ratereply" id="ratereply" value="1" /></td>
			<td><label for="ratereply">{LANG:PLUGIN_PROFILE_SETRATEREPLY}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:ORGADMIN} type="checkbox" name="orgadmin" id="orgadmin" value="1" /></td>
			<td><label for="orgadmin">{LANG:PLUGIN_PROFILE_SETORGADMIN}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:BLOGCOMMENT} type="checkbox" name="blogcomment" id="blogcomment" value="1" /></td>
			<td><label for="blogcomment">{LANG:PLUGIN_PROFILE_SETBLOGCOMMENT}</label></td>
		</tr>
		<tr>
			<th style="text-align: left;" colspan="2">{LANG:PLUGIN_PROFILE_SETGASTGEBER}</th>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NEWEVENT} type="checkbox" name="newevent" id="newevent" value="1" /></td>
			<td><label for="newevent">{LANG:PLUGIN_PROFILE_SETNEWEVENT}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NEWSUBSCRIBE} type="checkbox" name="newsubscribe" id="newsubscribe" value="1" /></td>
			<td><label for="newsubscribe">{LANG:PLUGIN_PROFILE_SETNEWSUBSCRIBE}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NEWQUESTION} type="checkbox" name="newquestion" id="newquestion" value="1" /></td>
			<td><label for="newquestion">{LANG:PLUGIN_PROFILE_SETNEWQUESTION}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:AFTEREVENT} type="checkbox" name="afterevent" id="afterevent" value="1" /></td>
			<td><label for="afterevent">{LANG:PLUGIN_PROFILE_SETAFTEREVENT}</label></td>
		</tr>
		<tr>
			<th style="text-align: left;" colspan="2">{LANG:PLUGIN_PROFILE_SETTEILNEHMER}</th>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:TB} type="checkbox" name="tb" id="tb" value="1" /></td>
			<td><label for="tb">{LANG:PLUGIN_PROFILE_SETTB}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:NEWANSWER} type="checkbox" name="newanswer" id="newanswer" value="1" /></td>
			<td><label for="newanswer">{LANG:PLUGIN_PROFILE_SETNEWANSWER}</label></td>
		</tr>
		<tr>
			<td style="text-align: center;" width="5%"><input {VAR:UNSUBSCRIBE} type="checkbox" name="unsubscribe" id="unsubscribe" value="1" /></td>
			<td><label for="unsubscribe">{LANG:PLUGIN_PROFILE_SETUNSUBSCRIBE}</label></td>
		</tr>
	</table>
	<p><input type="submit" name="usersettings_save" value="{LANG:SAVE}" /></p>
</form>
