<!--
   verify.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:VERIFYOK}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_VERIFYOK1}<br />
	{LANG:PLUGIN_PROFILE_VERIFYOK2}<br />
	{LANG:PLUGIN_PROFILE_VERIFYOK3}<br />
	{LANG:PLUGIN_PROFILE_VERIFYOK4}
</div>
{/IF:VERIFYOK}
{IF:VERIFYWORK}
<div class="infomsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_VERIFYWORK}
</div>
{/IF:VERIFYWORK}
{IF:CODEFALSE}
<div class="errormsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_VERIFYCODEFALSE}
	 <a href="/kontakt.html">{LANG:PLUGIN_CONTACT_TOCONTACT}</a>
</div>
{/IF:CODEFALSE}
{IF:NOIMAGE}
<div class="errormsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_PROFILE_VERIFYNOIMAGE}
</div>
{/IF:NOIMAGE}
<h4 class="heading4">{LANG:PLUGIN_PROFILE_VERIFYTITLE1}</h4>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT1}</p>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT2}</p>
<p>
	{LANG:PLUGIN_PROFILE_VERIFYTXT3}
	<br />
	<a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html">{LANG:PLUGIN_PROFILE_TODATASEC}</a>
</p>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT4}</p>
<p>
	{LANG:PLUGIN_PROFILE_VERIFYTXT5}
	<br />
	{LANG:PLUGIN_PROFILE_VERIFYMOREINFO} 
	<a href="/FAQ/spenden-und-sonstige-unterstutzungen.html">{LANG:PLUGIN_PROFILE_SPENDEN}</a>.
</p>
{IF:VERIFYFORM}
<h4 class="heading4">{LANG:PLUGIN_PROFILE_VERIFYTITLE2}</h4>
<ul class="listoption4">
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST1}</li>
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST2}</li>
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST3}</li>
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST4}</li>
</ul>
<h4 class="heading4">{LANG:PLUGIN_PROFILE_VERIFYTITLE3}</h4>
<ul class="listoption4">
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST5}</li>
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST6}</li>
	<li>{LANG:PLUGIN_PROFILE_VERIFYLIST7}</li>
</ul>
<form enctype="multipart/form-data" name="verifyprofile" class="smform clearfix" action="/profil-verifizieren.html" method="post">
	<ul class="clearfix">
		<li>
			<label for="image">{LANG:PLUGIN_PROFILE_VERIFYIMG}:</label>
			<input name="image" required="required" class="required" accept="image/*" id="image" type="file" />
		</li>
		<li>
			<label for="sendimage">&nbsp;</label>
			<input type="submit" name="sendimage" value="{LANG:PLUGIN_PROFILE_VERIFYSTART}" />
		</li>
	</ul>
</form>
{/IF:VERIFYFORM}
{IF:CODEFORM}
<h4 class="heading4">{LANG:PLUGIN_PROFILE_VERIFYCODE}</h4>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT6}</p>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT7}</p>
<p>
	{LANG:PLUGIN_PROFILE_VERIFYKONTO1}<br />
	{LANG:PLUGIN_PROFILE_VERIFYKONTO2}<br />
	{LANG:PLUGIN_PROFILE_VERIFYKONTO3}
</p>
<p>{LANG:PLUGIN_PROFILE_VERIFYTXT8}</p>
<form name="codeform" class="smform clearfix" action="/profil-verifizieren.html" method="post">
	<ul class="clearfix">
		<li>
			<label for="code">{LANG:PLUGIN_PROFILE_VERIFYCODE}:</label>
			<input type="text" name="code" placeholder="{LANG:PLUGIN_PROFILE_VERIFYCODE}" />
		</li>
		<li>
			<label for="sendimage">&nbsp;</label>
			<input type="submit" name="sendcode" value="{LANG:PLUGIN_PROFILE_VERIFYVERIFY}" />
		</li>
	</ul>
</form>
{/IF:CODEFORM}
