/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Green Skin CSS Rules Start                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #b3cfc1;
}
.currentPageNumber, .currentPageNumber:hover {
	background-color: #b3cfc1;
}
input.errorSearchFormSubmitButton, input.errorSearchFormSubmitButton:hover {
	background-color: #b3cfc1;
}
.portfolioOneItemImageWrapper, .portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-color: #b3cfc1;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #b3cfc1;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/smallPostReadMoreButtonBg.png);
}
input.contactSubmitButton, input.contactSubmitButton:hover {
	background-color: #b3cfc1;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	background-color: #b3cfc1;
}
.accordionButton .accordionButtonIcon {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/accordionButtonBg.png);
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(https://socialmeal.ch/system/skins/socialmealmobile/images/skins/green/accordionButtonBg-x2.png);
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Green Skin CSS Rules End                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
