<!--
   melden.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_MELDEN_MSG}
</div>
{/IF:SHOWMSG}
<section class="container clearfix">
	<div class="widthcolumn clearfix">
		<p>
			{LANG:PLUGIN_MELDEN_MELDEN1}
			<br /><br />
			{LANG:PLUGIN_MELDEN_MELDEN2} 
			{VAR:MELDEINFOS}
		</p>
		<form class="smform clearfix" name="melden" method="post" action="/melden.html" onsubmit="return chkFormular()">
			<ul class="clearfix">
				{IF:GAST}
				<li>
					<label for="email">{LANG:EMAIL} <span class="required">*</span></label>
					<input type="email" required="required" class="required email" id="email" value="" name="email" />
				</li>
				{/IF:GAST}
				<li>
					<label for="meldung">{LANG:PLUGIN_EVENTS_GRUND} <span class="required">*</span></label>
					<textarea required="required" class="required" rows="6" cols="40" id="meldung" name="meldung"></textarea>
					<input type="hidden" name="gastmelden" value="{VAR:GASTMELDEN}" />
					<input type="hidden" name="meldeurl" value="{VAR:MELDEURL}" />
					<input type="hidden" name="meldeinfo" value="{VAR:MELDEINFOS}" />
				</li>
				<li>
					<input type="submit" name="contactsubmit" value="{LANG:PLUGIN_MELDEN_SUBMIT}" id="submit_id">
				</li>
			</ul>
		</form>
	</div>
</section>
