<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->
{IF:FILES_EXIST}
  <table>
    <tbody>
      {LOOP:FILES}
        <tr>
          <td>{VAR:IMAGE}</td>
          <td>{VAR:FILELINK} 
          <a href="javascript:showRenameFileDialog('{VAR:FILE}')"><img src="{ICON:PENCIL}" /></a> 
          <a href="/admin/home.html?dir={VAR:DIR}&deletefile={VAR:FILE}"><img src="{ICON:CROSS}" /></a></td>
        </tr>
      {/LOOP:FILES}
    </tbody>
  </table>
{/IF:FILES_EXIST}
{IF:NOFILES}
  {LANG:NO_FILES}
{/IF:NOFILES}

<div id="dialog" title="{LANG:RENAME_FILE}" style="display:none">
    <form method="POST">
	  Dateiname: <br />
      <input id="plugin_filelistwidget_rename_oldname" name="plugin_filelistwidget_rename_oldname" type="hidden" />
      <input id="plugin_filelistwidget_rename_newname" name="plugin_filelistwidget_rename_newname" /> <br /><br />
      <input name="plugin_filelistwidget_action_rename" type="submit" value="{LANG:RENAME}" />
    </form>
</div>
<script>
  function showRenameFileDialog(filename){
    document.getElementById('plugin_filelistwidget_rename_oldname').value = filename;
    document.getElementById('plugin_filelistwidget_rename_newname').value = filename;
    $( "#dialog" ).dialog({modal: true,resizable: false});
  }
</script>
