<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<form name="form" method="POST">
  <table>
    <tr>
      <td>{LANG:DATATYPE}:</td>
      <td>{VAR:DATATYPE}</td>
    </tr>
    <tr>
      <td>{LANG:SEND_TEXT}:</td>
      <td>{VAR:BUTTONTEXT}</td>
    </tr>
    <tr>
      <td>{LANG:SUCCESS_MESSAGE}:</td>
      <td>{VAR:SUCCEEDMESSAGE}</td>
    </tr>
    <tr>
      <td>{LANG:SHOW_AFTER_SUCCESS}:</td>
      <td>{VAR:SHOWAFTERINSERT}</td>
    </tr>
  </table>
  {VAR:FIELDS}
  <input name="save" type="submit" value="{LANG:SAVE}" />
</form>
