<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<div>
  <h2>
    {VAR:DISPLAYNAME}
  </h2>
  <input type="hidden" name="{VAR:ID}_dataname" value="{VAR:DATANAME}" />
  <table>
    <tr>
      <td>{LANG:ORDER}:</td>
      <td>
        <input name="{VAR:ID}_sortIndex" value="{VAR:SORTINDEX}" />
      </td>
    </tr>
    <tr>
      <td>{LANG:SHOW}:</td>
      <td>
        <input type="checkbox" name="{VAR:ID}_show" {VAR:SHOW_CHECK} />
      </td>
    </tr>
    <tr>
      <td>{LANG:INSERT}:</td>
      <td>
        <input type="checkbox" name="{VAR:ID}_insert" {VAR:INSERT_CHECK} />
      </td>
    </tr>
    <tr>
      <td>{LANG:MANDATORY}:</td>
      <td>
        <input type="checkbox" name="{VAR:ID}_mandatory" {VAR:MANDATORY_CHECK} />
      </td>
    </tr>
    <tr>
      <td>{LANG:LABEL}:</td>
      <td>
        <input name="{VAR:ID}_label" value="{VAR:DISPLAYNAME}" />
      </td>
    </tr>
    <tr>
      <td>{LANG:PRE_ASSIGNMENT} (SQL):</td>
      <td><input name="{VAR:ID}_value" value="{VAR:PREALLOCATE}" /></td>
    </tr>
    <tr>
      <td>{LANG:PROCESSING} (SQL):</td>
      <td><input name="{VAR:ID}_edit" value="'{VAR:VALUE}'" /></td>
    </tr>
  </table>
</div>
