<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<p>{VAR:MESSAGE}</p>
<form action="{VAR:URL}" method="POST">
  {VAR:EDITABLEMENU}
  <input name="save" type="submit" value="{LANG:SAVE}"/>
  <h2>{LANG:ENTRY_ADD}</h2>
  <table>
    <tr>
      <td style="width:100px;">{LANG:TEXT}:</td>
      <td><input name="newtitle" style="width:200px;" /></td>
    </tr>
    <tr>
      <td>{LANG:TYPE}:</td>
      <td>
        <script language="javascript">
          function typeSelected(){
            document.getElementsByName('newPage')[0].style.visibility ='hidden';
            document.getElementsByName('newurl')[0].style.visibility ='hidden';
            document.getElementsByName('newMenu')[0].style.visibility  ='hidden';
            if(document.getElementById('type').selectedIndex == 0){
              document.getElementsByName('newPage')[0].style.visibility ='visible';
              document.getElementById('newLabel').innerHTML = '{LANG:PAGE}:';
            }
            else if(document.getElementById('type').selectedIndex == 1){
              document.getElementsByName('newurl')[0].style.visibility  ='visible';
              document.getElementById('newLabel').innerHTML = 'Url:';
            }
            else{
              document.getElementsByName('newMenu')[0].style.visibility ='visible';
              document.getElementById('newLabel').innerHTML = '{LANG:MENU}:';
            }
          }
        </script>
        <select id="type" name="type" onChange="typeSelected()" style="width:200px;">
          <option value="0">{LANG:PAGE_INTERNAL}</option>
          <option value="1">{LANG:PAGE_EXTERNAL}</option>
          <option value="2">{LANG:MENU}</option>
        </select>
      </td>
      </tr>
      <tr>
        <td><span id="newLabel">{LANG:PAGE}</a>:</td>
        <td>
          <input name="newurl" value="http://" style="width:200px;visibility:hidden" />
          {VAR:MENUSELECTOR}
          {VAR:PAGESELECTOR}
        </td>
      </tr>
  </table>
  <input name="add" type="submit" value="{LANG:ADD}"/>
</form>
