<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.

-->

<script>
    function showPluginOwnerStuff(pluginname){
            if (window.XMLHttpRequest)
              {
              xhttp=new XMLHttpRequest();
              }
            else // IE 5/6
              {
              xhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xhttp.onreadystatechange = function(){
                if(this.readyState == 4) {
                    if(this.responseXML.childNodes[1].childNodes[0].textContent == 1)
                    {
                        var code = $("#actions_" + pluginname).html();
                        code += "<br /><a href='index.php?include=admin/submit_plugin'>Einreichen</a>";
                        $("#actions_" + pluginname).html(code);
                    }
                }
            };
            xhttp.open("GET","{VAR:HOST}system/plugins/contentlionapi/xml.php?method=allowowning&plugin_name=" + escape(pluginname) + "&apikey={VAR:APIKEY}");
            xhttp.send();
    }
</script>
<table class="datatable">
  <thead>
    <tr>
      <td style="width:150px">{LANG:NAME}</td>
      <td>{LANG:VERSION}</td>
      <td style="width:390px">{LANG:DESCRIPTION}</td>
      <td style="width:150px">{LANG:LICENSE}</td>
      <td style="width:220px">{LANG:AUTHOR}</td>
      <td>{LANG:ACTIONS}</td>
      <td>{LANG:PLUGIN_EDITLNGFILES_EDITLNG}</td>
    </tr>
  </thead>
  <tbody>
    {LOOP:PLUGINS}
      <tr>
        <td>{VAR:NAME}</td>
        <td>{VAR:VERSION}</td>
        <td>{VAR:DESCRIPTION}</td>
		<td>
			<a href="{VAR:LICENSEURL}">
				{VAR:LICENSE}
			</a>
		</td>
        <td>
          <a href="{VAR:AUTHORLINK}">
            {VAR:AUTHORNAME}
          </a>
        </td>
        <td id="actions_{VAR:PATH}">{VAR:ACTIVATIONLINK}</td>
        <td>
			{VAR:DELINK}
			{VAR:ENLINK}
			{VAR:FRLINK}
        </td>
      </tr>
      <script>
          $(document).ready(function(){
              showPluginOwnerStuff('{VAR:PATH}');
          });
      </script>
    {/LOOP:PLUGINS}
  </tbody>
</table>
