<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<h1>{LANG:PAGES}</h1>
{VAR:MESSAGE}
<p>
  {VAR:NEWPAGELINK}
</p>
<form action="{VAR:FORMURL}" method="POST">
  <p>
    {LANG:PATH}: 
    {LOOP:PATH}
      <a href="{VAR:URL}">{VAR:LABEL}</a> 
    {/LOOP:PATH}
    <input name="name" style="width:100px;" />
    <input name="newFolder" type="submit" value="{LANG:NEW}" />
  </p>
</form>
<ul style="list-style-type:none;">
  {LOOP:DIRS}
    <li>
      <img src="{ICON:FOLDER}" />
      <a href="{VAR:URL}">{VAR:LABEL}</a>
    </li>
  {/LOOP:DIRS}
</ul>
{VAR:DELETEFOLDERLINK}
<table>
  <thead>
    <td><strong>{LANG:TITLE}</strong></td>
    <td><strong>{LANG:ALIAS}</strong></td>
    <td><strong>{LANG:ACTIONS}</strong></td>
  </thead>
  <tbody>
    {LOOP:PAGES}
      <tr>
        <td>{VAR:TITLE}</td>
        <td>{VAR:ALIAS}</td>
        <td>
          <a title="{LANG:EDIT}" href="{VAR:EDITURL}">
            <img src="{ICON:PAGE_EDIT}" />
          </a>
          <a title="{LANG:DELETE}" href="{VAR:DELETEURL}">
            <img src="{ICON:CROSS}" />
          </a>
        </td>
      </tr>
    {/LOOP:PAGES}
  </tbody>
</table>
{VAR:NOPAGES}
