<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<style>
  body{
    padding;0;
  }
  strong{
    font-size:10px;
  }
  textarea{
    width:98%;
    height:50px;
    margin-bottom:2px;
  }
</style>
<form method="POST">
  <div>
    <strong>{LANG:IN_YOUR_LANGUAGE}:</strong><br />
    {VAR:ORIGINAL}
  </div>
  <div>
    <strong>{LANG:TRANSLATED}:</strong><br />
    <textarea name="translation">{VAR:TRANSLATION}</textarea>
  </div>
  <input type="submit" value="{LANG:SAVE}" />
</form>
