<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
-->

<p>{VAR:MESSAGE}</p>
{IF:!SHOW_MEDIALIBARY}
	<script type="text/javascript">
		setTimeout(function(){
			window.location.href = '{VAR:REFERRER}';
		},1000);
	</script>
{/IF:!SHOW_MEDIALIBARY}
{IF:SHOW_MEDIALIBARY}
  <h2>{LANG:ADD_IMAGE_TO_MEDIALIBARY}</h2>
  <form action="{VAR:URL}" method="POST">
    <input type="hidden" name="path" value="{VAR:FILE_PATH}" />
	<input type="hidden" name="referrer" value="{VAR:REFERRER}" />
    <table>
      <tr>
        <td>{LANG:NAME}:</td>
        <td><input name="name" /></td>
      </tr>
      <tr>
        <td>{LANG:DESCRIPTION}:</td>
        <td><input name="description" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="{LANG:INSERT}" />
      </tr>
    </table>
  </form>
   <img src="{VAR:FILE_PATH}" style="max-width:300px" />
{/IF:SHOW_MEDIALIBARY}
