<!--
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.

-->

<script type="text/javascript">
function confirm_alert(node) {
	return confirm("Bist du sicher?");
}
</script>
{IF:USEREDIT}
<h2>Profil bearbeiten</h2>
<form enctype="multipart/form-data" name="edituser" action="./user.html?useredit={VAR:USERID}" method="post">
	<table>
		<tr>
			<td>ID:</td>
			<td>{VAR:USERID}</td>
		</tr>
		<tr>
			<td>Benutzername:</td>
			<td><input type="text" name="username" value="{VAR:USERNAME}" /></td>
		</tr>
		<tr>
			<td>Passwort:</td>
			<td>{VAR:PASSWORD}</td>
		</tr>
		<tr>
			<td>Profil-Status:</td>
			<td>
				<select name="role">
					<option value="4" {VAR:ROLE4}>Normales Mitglied</option>
					<option value="6" {VAR:ROLE6}>Profil gesperrt</option>
					<option value="5" {VAR:ROLE5}>Profil als gelöscht markieren</option>
					<option value="2" {VAR:ROLE2}>Administrator</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Punkte:</td>
			<td><input type="text" name="punkte" value="{VAR:PUNKTE}" /></td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td><input type="text" name="email" value="{VAR:EMAIL}" /></td>
		</tr>
		<tr>
			<td>Social Meal Newsletter:</td>
			<td>{VAR:NLSM}</td>
		</tr>
		<tr>
			<td>Occupy Basel Newsletter:</td>
			<td>{VAR:NLOB}</td>
		</tr>
		<tr>
			<td>Letzter Login:</td>
			<td>{VAR:LASTLOGIN}</td>
		</tr>
		<tr>
			<td>Registriert seit:</td>
			<td>{VAR:REGISTERDATE}</td>
		</tr>
		<tr>
			<td>Letzte Bewegung:</td>
			<td>{VAR:ONLINEDATE}</td>
		</tr>
		<tr>
			<td>Vorname:</td>
			<td><input type="text" name="firstname" value="{VAR:FIRSTNAME}" /></td>
		</tr>
		<tr>
			<td>Nachname:</td>
			<td><input type="text" name="lastname" value="{VAR:LASTNAME}" /></td>
		</tr>
		<tr>
			<td>Geschlecht:</td>
			<td>
				<select name="gender">
					<option {VAR:GEN0} value="0">{LANG:PLUGIN_PROFILE_GEN0}</option>
					<option {VAR:GEN1} value="1">{LANG:PLUGIN_PROFILE_GEN1}</option>
					<option {VAR:GEN5} value="5">{LANG:PLUGIN_PROFILE_GEN5}</option>
					<option {VAR:GEN3} value="3">{LANG:PLUGIN_PROFILE_GEN3}</option>
					<option {VAR:GEN4} value="4">{LANG:PLUGIN_PROFILE_GEN4}</option>
					<option {VAR:GEN2} value="2">{LANG:PLUGIN_PROFILE_GEN2}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Geburtsdatum:</td>
			<td><input type="text" name="gbdatum" value="{VAR:GBDATUM}" /></td>
		</tr>
		<tr>
			<td>PLZ:</td>
			<td><input type="text" name="plz" value="{VAR:PLZ}" /></td>
		</tr>
		<tr>
			<td>Ort:</td>
			<td><input type="text" name="ort" value="{VAR:ORT}" /></td>
		</tr>
		<tr>
			<td>Kanton:</td>
			<td><input type="text" name="kanton" value="{VAR:KANTON}" /></td>
		</tr>
		<tr>
			<td>Strasse:</td>
			<td><input type="text" name="street" value="{VAR:STRASSE}" /></td>
		</tr>
		<tr>
			<td>Strassennummer:</td>
			<td><input type="text" name="strnr" value="{VAR:STRNR}" /></td>
		</tr>
		<tr>
			<td>Tel:</td>
			<td><input type="text" name="tel" value="{VAR:TEL}" /></td>
		</tr>
		<tr>
			<td>About-Me:</td>
			<td><textarea rows="17" cols="60" name="aboutme">{VAR:ABOUTME}</textarea></td>
		</tr>
		<tr>
			<td>Beziehungsstatus:</td>
			<td>
				<select name="bzstatus">
					<option {VAR:BZS0} value="0">{LANG:PLUGIN_PROFILE_BZS0}</option>
					<option {VAR:BZS1} value="1">{LANG:PLUGIN_PROFILE_BZS1}</option>
					<option {VAR:BZS2} value="2">{LANG:PLUGIN_PROFILE_BZS2}</option>
					<option {VAR:BZS3} value="3">{LANG:PLUGIN_PROFILE_BZS3}</option>
					<option {VAR:BZS4} value="4">{LANG:PLUGIN_PROFILE_BZS4}</option>
					<option {VAR:BZS5} value="5">{LANG:PLUGIN_PROFILE_BZS5}</option>
					<option {VAR:BZS6} value="6">{LANG:PLUGIN_PROFILE_BZS6}</option>
					<option {VAR:BZS7} value="7">{LANG:PLUGIN_PROFILE_BZS7}</option>
					<option {VAR:BZS8} value="8">{LANG:PLUGIN_PROFILE_BZS8}</option>
					<option {VAR:BZS9} value="9">{LANG:PLUGIN_PROFILE_BZS9}</option>
					<option {VAR:BZS10} value="10">{LANG:PLUGIN_PROFILE_BZS10}</option>
					<option {VAR:BZS11} value="11">{LANG:PLUGIN_PROFILE_BZS11}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Job:</td>
			<td><input type="text" name="job" value="{VAR:JOB}" /></td>
		</tr>
		<tr>
			<td>Facebook:</td>
			<td><input type="text" name="fblink" value="{VAR:FB}" /></td>
		</tr>
		<tr>
			<td>Twitter:</td>
			<td><input type="text" name="twitlink" value="{VAR:TWIT}" /></td>
		</tr>
		<tr>
			<td>Google Plus:</td>
			<td><input type="text" name="gplink" value="{VAR:GP}" /></td>
		</tr>
		<tr>
			<td>Flickr:</td>
			<td><input type="text" name="flickrlink" value="{VAR:FLICKR}" /></td>
		</tr>
		<tr>
			<td>Linkedin:</td>
			<td><input type="text" name="linkedinlink" value="{VAR:LINKEDIN}" /></td>
		</tr>
		<tr>
			<td>Skype:</td>
			<td><input type="text" name="skypelink" value="{VAR:SKYPE}" /></td>
		</tr>
		<tr>
			<td>Webpage:</td>
			<td><input type="text" name="webpage" value="{VAR:WEBPAGE}" /></td>
		</tr>
		<tr>
			<td>"False-Login" - Counter:</td>
			<td><input type="text" name="falselogin" value="{VAR:FALSELOGIN}" /></td>
		</tr>
		<tr>
			<td>Wettbewerb ausgefüllt?</td>
			<td>
				<select name="wettbewerb">
					<option {VAR:WETTBEWERB0} value="0">Nein</option>
					<option {VAR:WETTBEWERB1} value="1">Ja</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Öffentliches Profil-Bild:</td>
			<td><input type="checkbox" name="openimg" value="1" {VAR:OPENIMGCHECKED} /></td>
		</tr>
		<tr>
			<td>Profil-Bild:</td>
			<td>
				{IF:SHOWUPLOAD}
				<input name="profilimg" accept="image/*" id="profilimg" type="file" />
				{/IF:SHOWUPLOAD}
				{IF:PROFILIMG}
				<img width="200px" style="max-width: 200px;" src="/content/uploads/profile/thumbs/{VAR:PROFILIMG}" alt="Profilbild" />
				<br /><label>&nbsp;</label><a onclick="return confirm_alert(this);" href="./user.html?useredit={VAR:USERID}&deluserimg=true"><img src="{ICON:CROSS}" /> {LANG:PLUGIN_PROFILE_IMG}
				{LANG:DELETE}</a>
				{/IF:PROFILIMG}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="usersave" value="Speichern" /></td>
		</tr>
	</table>
</form>
{/IF:USEREDIT}
{IF:ORGEDIT}
<h2>Organisationsprofil bearbeiten</h2>
<form enctype="multipart/form-data" name="editorg" action="./user.html?orgedit={VAR:ORGID}" method="post">
	<table>
		<tr>
			<td>ID:</td>
			<td>{VAR:ORGID}</td>
		</tr>
		<tr>
			<td>Org-Name:</td>
			<td><input type="text" name="orgname" value="{VAR:ORGNAME}" /></td>
		</tr>
		<tr>
			<td>Org-Beschreibung:</td>
			<td><textarea rows="17" cols="60" name="desc">{VAR:ORGDESC}</textarea></td>
		</tr>
		<tr>
			<td>Org-Web:</td>
			<td><input type="text" name="orgwebseite" value="{VAR:ORGWEB}" /></td>
		</tr>
		<tr>
			<td>Org-Mail:</td>
			<td><input type="text" name="orgmail" value="{VAR:ORGMAIL}" /></td>
		</tr>
		<tr>
			<td>Org-FB:</td>
			<td><input type="text" name="orgfb" value="{VAR:ORGFB}" /></td>
		</tr>
		<tr>
			<td>Org-Twitter:</td>
			<td><input type="text" name="orgtwitter" value="{VAR:ORGTWITTER}" /></td>
		</tr>
		<tr>
			<td>Org-GPlus:</td>
			<td><input type="text" name="orggplus" value="{VAR:ORGGPLUS}" /></td>
		</tr>
		<tr>
			<td>Org-Tel:</td>
			<td><input type="text" name="orgtel" value="{VAR:ORGTEL}" /></td>
		</tr>
		<tr>
			<td>Org-Strasse:</td>
			<td><input type="text" name="street" value="{VAR:ORGSTRASSE}" /></td>
		</tr>
		<tr>
			<td>Org-Str-NR.:</td>
			<td><input type="text" name="strnr" value="{VAR:ORGSTRNR}" /></td>
		</tr>
		<tr>
			<td>Org-PLZ:</td>
			<td><input type="text" name="plz" value="{VAR:ORGPLZ}" /></td>
		</tr>
		<tr>
			<td>Org-Ort:</td>
			<td><input type="text" name="ort" value="{VAR:ORGORT}" /></td>
		</tr>
		<tr>
			<td>Org-Admins:</td>
			<td>
				<ul>
					{LOOP:ORGADMINS}
					<li><a href="/mein-profil.html?profile={VAR:ADMINUSERNAME}">{VAR:ADMINUSERNAME}</a> <a onclick="return confirm_alert(this);" href="./user.html?orgedit={VAR:ORGID}&deladmin={VAR:ADMINUSERID}"><img src="{ICON:CROSS}" title="Löschen" /></a></li>
					{/LOOP:ORGADMINS}
				</ul>
			</td>
		</tr>
		<tr>
			<td>Org-Bild:</td>
			<td>
				{IF:SHOWUPLOAD}
				<input name="profilimg" accept="image/*" id="profilimg" type="file" />
				{/IF:SHOWUPLOAD}
				{IF:PROFILIMG}
				<img width="200px" style="max-width: 200px;" src="/content/uploads/orgprofile/{VAR:PROFILIMG}" alt="Organisationsbild der Organisation: {VAR:ORGNAME}" />
				<br /><label>&nbsp;</label><a onclick="return confirm_alert(this);" href="./user.html?orgedit={VAR:ORGID}&delorgimg=true"><img src="{ICON:CROSS}" /> {LANG:PLUGIN_PROFILE_IMG}
				{LANG:DELETE}</a>
				{/IF:PROFILIMG}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" name="orgsave" value="Speichern" /></td>
		</tr>
	</table>
</form>
{/IF:ORGEDIT}
<h2>Offene Registrierungen</h2>
<table class="datatable">
	<thead>
		<th>Benutzername</th>
		<th>Vorname</th>
		<th>Nachname</th>
		<th>E-Mail</th>
		<th>Datum</th>
		<th colspan="2" width="30%">Reg.-Code</th>
	</thead>
	<tbody>
		{LOOP:OPENREGS}
		<tr>
			<td>{VAR:USERNAME}</td>
			<td>{VAR:FIRSTNAME}</td>
			<td>{VAR:LASTNAME}</td>
			<td><a href="mailto:{VAR:EMAIL}">{VAR:EMAIL}</a></td>
			<td>{VAR:DATUM}</td>
			<td><input size="40" type="text" readonly="readonly" value="{VAR:ACODE}" /></td>
			<td width="5%"><a onclick="return confirm_alert(this);" href="./user.html?delopenreg=user_{VAR:MD5MAIL}"><img src="{ICON:CROSS}" title="Löschen" /></a></td>
		</tr>
		{/LOOP:OPENREGS}
	</tbody>
</table>
<h2>Organisationsprofile</h2>
<p>Löschungen von Organisationsprofilen können <strong>nicht</strong> rückgängig gemacht werden. Es wird das komplette Profil, und alle Events vom OrgProfil wie auch die entsprechenden Bewertungen, Fragen und Antworten gelöscht.</p>
<table class="datatable">
	<thead>
		<th width="45%">Org-Name</th>
		<th width="45%">Administratoren</th>
		<th>Aktionen</th>
	</thead>
	<tbody>
		{LOOP:ORGS}
		<tr>
			<td><a href="/organisationsprofil.html?profile={VAR:ORGID}" target="_blank">{VAR:ORGNAME}</a></td>
			<td>{VAR:ORGADMINS}</td>
			<td width="5%">
				<a href="./user.html?orgedit={VAR:ORGID}"><img src="{ICON:PAGE_EDIT}" title="Bearbeiten" /></a>
				<a onclick="return confirm_alert(this);" href="./user.html?delorgprofile={VAR:ORGID}"><img src="{ICON:CROSS}" title="Löschen" /></a>
			</td>
		</tr>
		{/LOOP:ORGS}
	</tbody>
</table>
<p>{VAR:MSG}</p>
<h2>Alle Registrierten Benutzer</h2>
<p><a name="mark" href="/user.html?show=mark#mark">Alle markierten Benutzer anzeigen</a></p>
<table width="750px" class="datatable">
	<thead>
		<th>ID</th>
		<th width="25%">Name</th>
		<th width="20%">Rolle</th>
		<th>E-Mail</th>
		<th>Aktionen</th>
	</thead>
	<tbody>
		{LOOP:USER}
		<tr {VAR:BG}>
			<td>{VAR:ID}</td>
			<td><a name="{VAR:ID}" href="/mein-profil.html?profile={VAR:NAME}" target="_blank">{VAR:NAME}</a></td>
			<td>{VAR:ROLLE}</td>
			<td>{VAR:EMAIL}</td>
			<td width="5%">
				<a href="./user.html?useredit={VAR:ID}"><img src="{ICON:PAGE_EDIT}" title="Bearbeiten" /></a>
				<a href="./user.html?uid={VAR:ID}&changemark=true{VAR:SHOWMARK}#{VAR:ID}"><img src="{ICON:EYE}" title="Markieren" /></a>
				<a href="./bewertungen-bearbeiten?uid={VAR:ID}"><img src="{ICON:BOOK_EDIT}" title="Bewertungen bearbeiten"></a>
				<a onclick="return confirm_alert(this);" href="./user.html?delete={VAR:ID}"><img src="{ICON:CROSS}" title="Löschen" /></a>
			</td>
		</tr>
		{/LOOP:USER}
	</tbody>
</table>
