<!--
   searchoutput.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWSEARCHFORM}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="searchform" method="post" class="plugin_customsearch_form">
				<div class="recipedetails">
					<h3 class="heading3">{LANG:PLUGIN_CUSTOMSEARCH_NEWSEARCH}</h3>
					<p>
						<input type="text" pattern="[a-zA-Z0-9._%+-äöü]{3,}" name="q" value="{VAR:SEARCHTOKEN}" class="plugin_customsearch_inputtext" placeholder="{VAR:PLACEHOLDER}" />
					</p>
					<p style="text-align: right"><input type="submit" name="searchstart" value="{LANG:PLUGIN_CUSTOMSEARCH_SEARCHSTART}" class="plugin_customsearch_inputvalue" /></p>
				</div>
			</form>
		</li>
	</ul>
</section>
{/IF:SHOWSEARCHFORM}
{IF:SHOWSEARCHPAGES}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="searchform" method="post" class="plugin_customsearch_form">
				<div class="recipedetails">
					<h3 class="heading3">{LANG:PAGES}</h3>
					<ul class="listoption3">
						{LOOP:SEARCHPAGES}
						<li>
							<a class="plugin_customsearch_link" href="{VAR:URL}">{VAR:TITLE}</a>
							<div class="plugin_customsearch_description">{VAR:DESCRIPTION}</div>
						</li>
						{/LOOP:SEARCHPAGES}
					</ul>
				</div>
			</form>
		</li>
	</ul>
</section>
{/IF:SHOWSEARCHPAGES}
{IF:SHOWSEARCHUSERS}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="searchform" method="post" class="plugin_customsearch_form">
				<div class="recipedetails">
					<h3 class="heading3">{LANG:USER}</h3>
					<ul class="listoption3">
						{LOOP:SEARCHUSERS}
						<li class="plugin_customsearch_listitem"><a href="/mein-profil.html?profile={VAR:USERNAME}">{VAR:SHOWUSERNAME}</a> {VAR:VERIFY}</li>
						{/LOOP:SEARCHUSERS}
					</ul>
				</div>
			</form>
		</li>
	</ul>
</section>
{/IF:SHOWSEARCHUSERS}
{IF:SHOWSEARCHORGS}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="searchform" method="post" class="plugin_customsearch_form">
				<div class="recipedetails">
					<h3 class="heading3">{LANG:PLUGIN_PROFILE_ORGPROFILE}</h3>
					<ul class="listoption3">
						{LOOP:SEARCHORGS}
						<li class="plugin_customsearch_listitem"><a href="/organisationsprofil.html?profile={VAR:ORGID}">{VAR:ORGNAME}</a></li>
						{/LOOP:SEARCHORGS}
					</ul>
				</div>
			</form>
		</li>
	</ul>
</section>
{/IF:SHOWSEARCHORGS}
{IF:SHOWNORESULT}
<section class="mb20 leftpart">
	<ul class="recipelist">
		<li class="clearfix">
			<form name="searchform" method="post" class="plugin_customsearch_form">
				<div class="recipedetails">
					<ul class="listoption3">
						<li class="plugin_customsearch_listitem">{VAR:NORESULT}</li>
					</ul>
				</div>
			</form>
		</li>
	</ul>
</section>
{/IF:SHOWNORESULT}
