<!--
   searchsettings.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<p><h3>{LANG:PLUGIN_CUSTOMSEARCH_EDITTITLE}</h3></p>
<ul>
	<li><input type="checkbox" name="plugin_customsearch_pages" value="1" id="pages"{VAR:PAGES_CHECKED} /> <label for="pages">{LANG:PAGES}</label></li>
	<ul>
		<li><input type="checkbox" name="plugin_customsearch_internpages" value="1" id="internpages"{VAR:INTERNPAGES_CHECKED} /> <label for="internpages">{LANG:PLUGIN_CUSTOMSEARCH_INTERNPAGES}</label></li>
	</ul>
	<li><input type="checkbox" name="plugin_customsearch_users" value="1" id="users"{VAR:USERS_CHECKED} /> <label for="users">{LANG:USER}</label></li>
	<li><input type="checkbox" name="plugin_customsearch_orgs" value="1" id="orgs"{VAR:ORGS_CHECKED} /> <label for="orgs">{LANG:PLUGIN_PROFILE_ORGPROFILE}</label></li>
	<li><input type="checkbox" name="plugin_customsearch_images" value="1" id="images"{VAR:IMAGES_CHECKED} /> <label for="images">{LANG:IMAGES}</label></li>
	<li><input type="checkbox" name="plugin_customsearch_form" value="1" id="form"{VAR:FORM_CHECKED} /> <label for="form">{LANG:PLUGIN_CUSTOMSEARCH_SHOWFORM}</label></li>
</ul>
<p>{VAR:NORESULT} <input type="text" name="plugin_customsearch_noresulttext" value="{VAR:NORESULTTEXT}" /></p>
<p><input name="save" type="submit" value="{LANG:CHANGE}" onclick="form.action='{VAR:FORMURL}' ; target='_self' ; return true" /></p>

<p><h3>{LANG:PLUGIN_CUSTOMSEARCH_SKINCODE}</h3></p>

<pre>
&lt;form name="searchform" method="post" action="{VAR:FORMACTION}"&gt;
	&lt;input type="text" name="q" placeholder="{LANG:PLUGIN_CUSTOMSEARCH_PLACEHOLDER}" /&gt;
	&lt;input type="submit" name="searchstart" value="{LANG:PLUGIN_CUSTOMSEARCH_SEARCHSTART}" /&gt;
&lt;/form&gt;
</pre>
