/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 * 
 */

.ui-widget-overlay{
  background-color:#222222;
  background-repeat:no-repeat;
}
.ui-widget-header{
  background: #6c4327 url(images/ui-bg_highlight-soft_75_6c4327_1x100.png) 50% 50% repeat-x;
  color:#d19340;
  padding-top:0;
  padding-bottom:0;
}
.ui-widget-titlebar{
  padding-top:0;
  padding-bottom:0;
}
#ui-dialog-title-dialog{
  margin-top:0;
  margin-bottom:0;
  font-size:90%;
}
