<!--
   contact.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWMSG}
<div class="successmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_CONTACT_INFOMSG}
</div>
{/IF:SHOWMSG}
<section class="container clearfix">
	<div class="widthcolumn3-one clearfix">
		<form class="smform clearfix" name="contact" method="post" action="/kontakt.html" onsubmit="return chkFormular()">
			<ul class="clearfix">
				<li>
					<label for="name">{LANG:PLUGIN_CONTACT_NAME} <span class="required">*</span></label>
					<input type="text" required="required" class="required" id="name" value="" name="name" />
				</li>
				<li>
					<label for="email">{LANG:PLUGIN_CONTACT_MAIL} <span class="required">*</span></label>
					<input type="email" required="required" class="required email" id="email" value="" name="email" />
				</li>
				<li>
					<label for="message">{LANG:PLUGIN_CONTACT_MESSAGE} <span class="required">*</span></label>
					<textarea required="required" class="required" rows="6" cols="40" id="message" name="message"></textarea>
					<input type="hidden" name="url" value="" />
				</li>
				<li>
					<input type="submit" name="contactsubmit" value="{LANG:PLUGIN_CONTACT_SEND}" id="submit_id">
				</li>
			</ul>
		</form>
	</div>
	<div class="widthcolumn4 last">
		<h3 class="heading3">{LANG:PLUGIN_CONTACT_CONTACTINFOS}</h3>
		<p>
			{LANG:EMAIL}: <a href="mailto:info@socialmeal.ch">info@socialmeal.ch</a><br />
			{LANG:PLUGIN_CONTACT_WEB}: <a href="https://socialmeal.ch">socialmeal.ch</a>
		</p>
	</div>
</section>
