<!--
   contact.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:SHOWMSG}
<div class="alertBox alertBoxGo">
	<p class="alertBoxContent">{LANG:PLUGIN_CONTACT_INFOMSG}</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:SHOWMSG}
<form name="kontakt" method="post" action="/kontakt.html" onsubmit="return chkFormular()">
	<fieldset>
		<div class="formFieldWrapper">
			<label for="name">{LANG:PLUGIN_CONTACT_NAME}</label>
			<input type="text" required="required" name="name" value="" id="name" />
		</div>
		<div class="formFieldWrapper">
			<label for="email">{LANG:PLUGIN_CONTACT_MAIL}</label>
			<input type="text" required="required" name="email" value="" id="email" />
		</div>
		<div class="formTextareaWrapper">
			<label for="message">{LANG:PLUGIN_CONTACT_MESSAGE}</label>
			<textarea required="required" id="message" name="message"></textarea>
			<input type="hidden" name="url" value="" />
		</div>
		<input type="submit" name="contactsubmit" value="{LANG:PLUGIN_CONTACT_SEND}" id="submit_id" />
	</fieldset>
</form>
</div>
