<!--
   registerform.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
{IF:FALSENAME}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_REGISTER2_USEREXIST} 
	<a href="./passwort-vergessen.html">{LANG:PLUGIN_REGISTER2_HIER}</a> 
	{LANG:PLUGIN_REGISTER2_NEW}.
</div>
{/IF:FALSENAME}
{IF:FALSEMAIL}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_REGISTER2_USEREXIST2} 
	<a href="./passwort-vergessen.html">{LANG:PLUGIN_REGISTER2_HIER}</a> 
	{LANG:PLUGIN_REGISTER2_NEW}.
</div>
{/IF:FALSEMAIL}
{IF:FALSESTRING}
<div class="alertmsg alert">
	<a class="clostalert">close</a>
	{LANG:PLUGIN_REGISTER2_FALSESTRING}.
</div>
{/IF:FALSESTRING}
{IF:STEP1}
<form name="registerform" class="smform clearfix" action="/registrieren.html" method="post" onsubmit="return chkFormular()">
	<ul class="clearfix">
		<li>
			<label for="name">{LANG:USERNAME} <span class="required">*</span></label>
			<input value="{VAR:USERNAME}" required="required" class="required" type="text" id="name" pattern="[a-zA-Z0-9.äöü]{3,}" title="{LANG:PLUGIN_REGISTER2_TITLENAME}"
			 name="name" placeholder="{LANG:USERNAME}" >
			<a infotext="{LANG:PLUGIN_REGISTER2_INAME}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="email">{LANG:EMAIL} <span class="required">*</span></label>
			<input value="{VAR:EMAIL}" required="required" class="required email" type="email" id="email" name="email" placeholder="{LANG:EMAIL}" />
			<a infotext="{LANG:PLUGIN_REGISTER2_IMAIL}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="passwort">{LANG:PASSWORD} <span class="required">*</span></label>
			<input value="{VAR:PASSWORT}" required="required" class="required password" type="password" id="passwort" name="passwort" />
			<a infotext="{LANG:PLUGIN_REGISTER2_IPASSWORT}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="confirm_passwort">{LANG:PASSWORD} 
			{LANG:PLUGIN_REGISTER2_CONFIRM}<span class="required">*</span></label>
			<input required="required" class="required password" type="password" id="confirm_passwort" name="confirm_passwort" />
			<a infotext="{LANG:PLUGIN_REGISTER2_ICPASSWORT}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="agb"> &nbsp;</label>
			<input required="required" class="required" type="checkbox" id="agb" name="agb" /> <span class="required">*</span> {LANG:PLUGIN_REGISTER2_IHAVE} 
			<a target="_blank" href="/agb.html">{LANG:PLUGIN_REGISTER2_AGB}</a> 
			{LANG:PLUGIN_REGISTER_UND} 
			<a href="/FAQ/sichtbarkeit-und-verwendung-der-personlichen-daten.html" target="_blank">{LANG:PLUGIN_REGISTER2_DATASEC}</a> 
			{LANG:PLUGIN_REGISTER2_HAVEREAD}.
		</li>
		<li>
			<label for="nlsm"> &nbsp;</label>
			<input {VAR:NLSM} type="checkbox" value="1" id="nlsm" name="nlsm" /> {LANG:PLUGIN_REGISTER2_NLSM} 
			<a infotext="{LANG:PLUGIN_REGISTER2_INLSM}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="nlob"> &nbsp;</label>
			<input {VAR:NLOB} type="checkbox" value="1" id="nlob" name="nlob" /> {LANG:PLUGIN_REGISTER2_NLOB} 
			<a infotext="{LANG:PLUGIN_REGISTER2_INLOB}" class="infotooltip">
			<span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
			<input type="hidden" name="url" value=""/>
		</li>
		<li>
			<input name="plugin_register_go" type="submit" value="{LANG:PLUGIN_REGISTER2_GO}" id="submit_id" />
		</li>
	</ul>
</form>
{/IF:STEP1}
{IF:STEP2}
<form name="registerform2" class="smform clearfix" action="/registrieren.html" method="post" onsubmit="return chkFormular2()">
	<ul class="clearfix">
		<li>
			<label for="firstname">{LANG:PLUGIN_PROFILE_FIRSTNAME} <span class="required">*</span></label>
			<input required="required" class="required" type="text" id="firstname" name="firstname" placeholder="{LANG:PLUGIN_PROFILE_FIRSTNAME}" />
		</li>
		<li>
			<label for="lastname">{LANG:PLUGIN_PROFILE_LASTNAME} <span class="required">*</span></label>
			<input required="required" class="required" type="text" id="lastname" name="lastname" placeholder="{LANG:PLUGIN_PROFILE_LASTNAME}" /> 
			<a infotext="{LANG:PLUGIN_REGISTER2_ILASTNAME}"
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="gender">{LANG:PLUGIN_PROFILE_GENDER}</label>
			<select required="required" class="required" name="gender">
				<option value="0">{LANG:PLUGIN_PROFILE_GEN0}</option>
				<option value="1">{LANG:PLUGIN_PROFILE_GEN1}</option>
				<option value="5">{LANG:PLUGIN_PROFILE_GEN5}</option>
				<option value="3">{LANG:PLUGIN_PROFILE_GEN3}</option>
				<option value="4">{LANG:PLUGIN_PROFILE_GEN4}</option>
				<option value="2">{LANG:PLUGIN_PROFILE_GEN2}</option>
			</select>
		</li>
		<li>
			<label for="gbdatum">{LANG:PLUGIN_PROFILE_GBDATUM} <span class="required">*</span></label>
			<select name="gbday" class="required" required="required">
				<option value="01">1</option>
				<option value="02">2</option>
				<option value="03">3</option>
				<option value="04">4</option>
				<option value="05">5</option>
				<option value="06">6</option>
				<option value="07">7</option>
				<option value="08">8</option>
				<option value="09">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
			<select name="gbmonth" class="required" required="required">
				<option value="01">{LANG:PLUGIN_PROFILE_JAN}</option>
				<option value="02">{LANG:PLUGIN_PROFILE_FEB}</option>
				<option value="03">{LANG:PLUGIN_PROFILE_MAR}</option>
				<option value="04">{LANG:PLUGIN_PROFILE_APR}</option>
				<option value="05">{LANG:PLUGIN_PROFILE_MAI}</option>
				<option value="06">{LANG:PLUGIN_PROFILE_JUN}</option>
				<option value="07">{LANG:PLUGIN_PROFILE_JUL}</option>
				<option value="08">{LANG:PLUGIN_PROFILE_AUG}</option>
				<option value="09">{LANG:PLUGIN_PROFILE_SEP}</option>
				<option value="10">{LANG:PLUGIN_PROFILE_OKT}</option>
				<option value="11">{LANG:PLUGIN_PROFILE_NOV}</option>
				<option value="12">{LANG:PLUGIN_PROFILE_DEZ}</option>
			</select>
			<select name="gbdyear">
				{LOOP:GBDYEARS}
				<option value="{VAR:YEAR}">{VAR:YEAR}</option>
				{/LOOP:GBDYEARS}
			</select> <a infotext="{LANG:PLUGIN_PROFILE_IGBDATUM}" 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="street">{LANG:PLUGIN_PROFILE_STREET} <span class="required">*</span></label>
			<input required="required" class="required" type="text" id="street" placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
			<input required="required" class="required" type="text" id="strnr" placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" /> 
			<a infotext="{LANG:PLUGIN_PROFILE_ISTREET}." 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="plz">{LANG:PLUGIN_PROFILE_PLZ},
			{LANG:PLUGIN_PROFILE_ORT} <span class="required">*</span></label>
			<input required="required" class="required" type="number" id="plz" placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
			<input required="required" class="required" size="3" type="text" id="ort" placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" /> 
			<a infotext="{LANG:PLUGIN_PROFILE_IORT}" 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="kanton">{LANG:PLUGIN_PROFILE_KANTON}</label>
			<select required="required" class="required" name="kanton">
					<optgroup label="{LANG:PLUGIN_PROFILE_REGION}">
						<option {VAR:SELECTEDBS} value="{LANG:PLUGIN_PROFILE_BS}">
						{LANG:PLUGIN_PROFILE_BS}</option>
						<option {VAR:SELECTEDBL} value="{LANG:PLUGIN_PROFILE_BL}">
						{LANG:PLUGIN_PROFILE_BL}</option>
						<option {VAR:SELECTEDAG} value="{LANG:PLUGIN_PROFILE_AG}">
						{LANG:PLUGIN_PROFILE_AG}</option>
						<option {VAR:SELECTEDSO} value="{LANG:PLUGIN_PROFILE_SO}">
						{LANG:PLUGIN_PROFILE_SO}</option>
						<option {VAR:SELECTEDJU} value="{LANG:PLUGIN_PROFILE_JU}">
						{LANG:PLUGIN_PROFILE_JU}</option>
					</optgroup>
					<optgroup label="{LANG:PLUGIN_PROFILE_NOTCH}">
						<option {VAR:SELECTEDDE} value="{LANG:PLUGIN_PROFILE_GERMANY}">
						{LANG:PLUGIN_PROFILE_GERMANY}</option>
						<option {VAR:SELECTEDFRA} value="{LANG:PLUGIN_PROFILE_FRANCE}">
						{LANG:PLUGIN_PROFILE_FRANCE}</option>
					</optgroup>
					<optgroup label="{LANG:PLUGIN_PROFILE_OTHER}">
						<option {VAR:SELECTEDAR} value="{LANG:PLUGIN_PROFILE_AR}">
						{LANG:PLUGIN_PROFILE_AR}</option>
						<option {VAR:SELECTEDAI} value="{LANG:PLUGIN_PROFILE_AI}">
						{LANG:PLUGIN_PROFILE_AI}</option>
						<option {VAR:SELECTEDBE} value="{LANG:PLUGIN_PROFILE_BE}">
						{LANG:PLUGIN_PROFILE_BE}</option>
						<option {VAR:SELECTEDFR} value="{LANG:PLUGIN_PROFILE_FR}">
						{LANG:PLUGIN_PROFILE_FR}</option>
						<option {VAR:SELECTEDGE} value="{LANG:PLUGIN_PROFILE_GE}">
						{LANG:PLUGIN_PROFILE_GE}</option>
						<option {VAR:SELECTEDGL} value="{LANG:PLUGIN_PROFILE_GL}">
						{LANG:PLUGIN_PROFILE_GL}</option>
						<option {VAR:SELECTEDGR} value="{LANG:PLUGIN_PROFILE_GR}">
						{LANG:PLUGIN_PROFILE_GR}</option>
						<option {VAR:SELECTEDLU} value="{LANG:PLUGIN_PROFILE_LU}">
						{LANG:PLUGIN_PROFILE_LU}</option>
						<option {VAR:SELECTEDNE} value="{LANG:PLUGIN_PROFILE_NE}">
						{LANG:PLUGIN_PROFILE_NE}</option>
						<option {VAR:SELECTEDNW} value="{LANG:PLUGIN_PROFILE_NW}">
						{LANG:PLUGIN_PROFILE_NW}</option>
						<option {VAR:SELECTEDOW} value="{LANG:PLUGIN_PROFILE_OW}">
						{LANG:PLUGIN_PROFILE_OW}</option>
						<option {VAR:SELECTEDSH} value="{LANG:PLUGIN_PROFILE_SH}">
						{LANG:PLUGIN_PROFILE_SH}</option>
						<option {VAR:SELECTEDSZ} value="{LANG:PLUGIN_PROFILE_SZ}">
						{LANG:PLUGIN_PROFILE_SZ}</option>
						<option {VAR:SELECTEDSG} value="{LANG:PLUGIN_PROFILE_SG}">
						{LANG:PLUGIN_PROFILE_SG}</option>
						<option {VAR:SELECTEDTI} value="{LANG:PLUGIN_PROFILE_TI}">
						{LANG:PLUGIN_PROFILE_TI}</option>
						<option {VAR:SELECTEDTG} value="{LANG:PLUGIN_PROFILE_TG}">
						{LANG:PLUGIN_PROFILE_TG}</option>
						<option {VAR:SELECTEDUR} value="{LANG:PLUGIN_PROFILE_UR}">
						{LANG:PLUGIN_PROFILE_UR}</option>
						<option {VAR:SELECTEDVD} value="{LANG:PLUGIN_PROFILE_VD}">
						{LANG:PLUGIN_PROFILE_VD}</option>
						<option {VAR:SELECTEDVS} value="{LANG:PLUGIN_PROFILE_VS}">
						{LANG:PLUGIN_PROFILE_VS}</option>
						<option {VAR:SELECTEDZG} value="{LANG:PLUGIN_PROFILE_ZG}">
						{LANG:PLUGIN_PROFILE_ZG}</option>
						<option {VAR:SELECTEDZH} value="{LANG:PLUGIN_PROFILE_ZH}">
						{LANG:PLUGIN_PROFILE_ZH}</option>
					</optgroup>
				</select>
		</li>
		<li>
			<label for="tel">{LANG:PLUGIN_PROFILE_TEL} <span class="required">*</span></label>
			<input class="require" required="required" type="text" id="tel" name="tel" placeholder="079 ..." /> 
			<a infotext="{LANG:PLUGIN_PROFILE_ITEL}" 
			class="infotooltip"><span title=""><img title="" width="22px" src="{ICON:INFOBUTTON}" /></span></a>
		</li>
		<li>
			<label for="invite">{LANG:PLUGIN_REGISTER2_INVITE}</label>
			<input type="text" id="invite" name="invite" value="{VAR:INVITE}" placeholder="" />
		</li>
		<li>
			<input type="hidden" name="name" value="{VAR:USERNAME}" />
			<input type="hidden" name="email" value="{VAR:EMAIL}" />
			<input type="hidden" name="passwort" value="{VAR:PASSWORT}" />
			<input type="hidden" name="nlsm" value="{VAR:NLSM}" />
			<input type="hidden" name="nlob" value="{VAR:NLOB}" />
			<input name="plugin_register_submit" type="submit" value="{LANG:PLUGIN_REGISTER2_SUBMITTEXT}" id="submit_id" />
		</li>
	</ul>
</form>
{/IF:STEP2}
{IF:STEP3}
<p>
	{LANG:PLUGIN_REGISTER_REGISTEROK}
</p>
{/IF:STEP3}
{IF:STEP4}
<p>
	{LANG:PLUGIN_REGISTER_REGISTERFINISH} 
	<a href="./login.html">{LANG:PLUGIN_REGISTER_CLICKHERE}</a> 
	{LANG:PLUGIN_REGISTER_TOLOGIN}.
</p>
{/IF:STEP4}
