<!--
   registerform.mobile.html
   
   Copyright 2015 Samuel Rüegger <samuel@rueegger.me>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{IF:REDIRECT}
<script language="javascript" type="text/javascript"> document.location="/mein-profil.html"; </script>
{/IF:REDIRECT}
{IF:FALSENAME}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">
		{LANG:PLUGIN_REGISTER2_USEREXIST} 
		<a href="./passwort-vergessen.html">{LANG:PLUGIN_REGISTER2_HIER}</a> 
		{LANG:PLUGIN_REGISTER2_NEW}.
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FALSENAME}
{IF:FALSEMAIL}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">
		{LANG:PLUGIN_REGISTER2_USEREXIST2} 
		<a href="./passwort-vergessen.html">{LANG:PLUGIN_REGISTER2_HIER}</a> 
		{LANG:PLUGIN_REGISTER2_NEW}.
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FALSEMAIL}
{IF:FALSESTRING}
<div class="alertBox alertBoxWarning">
	<p class="alertBoxContent">
		{LANG:PLUGIN_REGISTER2_FALSESTRING}.
	</p>
	<a href="" class="alertBoxButton"></a>
</div>
{/IF:FALSESTRING}
{IF:STEP1}
<form name="registerform" action="/registrieren.html" method="post" onsubmit="return chkFormular()">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="name">{LANG:USERNAME}</label>
					<input value="{VAR:USERNAME}" required="required" type="text" id="name" pattern="[a-zA-Z0-9.äöü]{3,}" title="{LANG:PLUGIN_REGISTER2_TITLENAME}" 
					name="name" placeholder="{LANG:USERNAME}" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="email">{LANG:EMAIL}</label>
					<input value="{VAR:EMAIL}" required="required" type="text" id="email" name="email" placeholder="{LANG:EMAIL}" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="password">{LANG:PASSWORD}</label>
					<input value="{VAR:PASSWORT}" required="required" type="password" id="passwort" name="passwort" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="confirm_password">{LANG:PASSWORD} 
					{LANG:PLUGIN_REGISTER2_CONFIRM}</label>
					<input required="required" type="password" id="confirm_passwort" name="confirm_passwort" />
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="agb">{LANG:PLUGIN_REGISTER2_AGB}</label>
					<input required="required" type="checkbox" id="agb" name="agb" />
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="nlsm">{LANG:PLUGIN_REGISTER2_NLSM}</label>
					<input {VAR:NLSM} type="checkbox" value="1" id="nlsm" name="nlsm" />
				</div>
				<div class="formCheckboxWrapper">
					<label class="bold" for="nlob">{LANG:PLUGIN_REGISTER2_NLOB}</label>
					<input {VAR:NLOB} type="checkbox" value="1" id="nlob" name="nlob" />
				</div>
				<p><input name="plugin_register_go" type="submit" value="{LANG:PLUGIN_REGISTER2_GO}" id="submit_id" /></p>
			</fieldset>
		</div>
	</div>
</form>
{/IF:STEP1}
{IF:STEP2}
<form name="registerform2" action="/registrieren.html" method="post" onsubmit="return chkFormular2()">
	<div class="pageWrapper standardPageWrapper"> 
		<div class="pageContentWrapper">
			<fieldset>
				<div class="formFieldWrapper">
					<label class="bold" for="firstname">{LANG:PLUGIN_PROFILE_FIRSTNAME}</label>
					<input required="required" type="text" id="firstname" name="firstname" placeholder="{LANG:PLUGIN_PROFILE_FIRSTNAME}" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="lastname">{LANG:PLUGIN_PROFILE_LASTNAME}</label>
					<input required="required" type="text" id="lastname" name="lastname" placeholder="{LANG:PLUGIN_PROFILE_LASTNAME}" />
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="gender">{LANG:PLUGIN_PROFILE_GENDER}</label>
					<select name="gender">
						<option {VAR:GEN0} value="0">{LANG:PLUGIN_PROFILE_GEN0}</option>
						<option {VAR:GEN1} value="1">{LANG:PLUGIN_PROFILE_GEN1}</option>
						<option {VAR:GEN5} value="5">{LANG:PLUGIN_PROFILE_GEN5}</option>
						<option {VAR:GEN3} value="3">{LANG:PLUGIN_PROFILE_GEN3}</option>
						<option {VAR:GEN4} value="4">{LANG:PLUGIN_PROFILE_GEN4}</option>
						<option {VAR:GEN2} value="2">{LANG:PLUGIN_PROFILE_GEN2}</option>
					</select>
				</div>
				<div class="formSelectWrapper">
					<label class="bold">{LANG:PLUGIN_PROFILE_GBDATUM}</label>
					<select name="gbday">
						<option value="01">1</option>
						<option value="02">2</option>
						<option value="03">3</option>
						<option value="04">4</option>
						<option value="05">5</option>
						<option value="06">6</option>
						<option value="07">7</option>
						<option value="08">8</option>
						<option value="09">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					<br />
					<select name="gbmonth">
						<option value="01">{LANG:PLUGIN_PROFILE_JAN}</option>
						<option value="02">{LANG:PLUGIN_PROFILE_FEB}</option>
						<option value="03">{LANG:PLUGIN_PROFILE_MAR}</option>
						<option value="04">{LANG:PLUGIN_PROFILE_APR}</option>
						<option value="05">{LANG:PLUGIN_PROFILE_MAI}</option>
						<option value="06">{LANG:PLUGIN_PROFILE_JUN}</option>
						<option value="07">{LANG:PLUGIN_PROFILE_JUL}</option>
						<option value="08">{LANG:PLUGIN_PROFILE_AUG}</option>
						<option value="09">{LANG:PLUGIN_PROFILE_SEP}</option>
						<option value="10">{LANG:PLUGIN_PROFILE_OKT}</option>
						<option value="11">{LANG:PLUGIN_PROFILE_NOV}</option>
						<option value="12">{LANG:PLUGIN_PROFILE_DEZ}</option>
					</select>
					<br />
					<select name="gbdyear">
						{LOOP:GBDYEARS}
						<option value="{VAR:YEAR}">{VAR:YEAR}</option>
						{/LOOP:GBDYEARS}
					</select>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="street">{LANG:PLUGIN_PROFILE_STREET}</label>
					<input required="required" type="text" id="street" placeholder="{LANG:PLUGIN_PROFILE_PLSTREET}" name="street" />
					<input required="required" type="text" id="strnr" placeholder="{LANG:PLUGIN_PROFILE_PLSTRNR}" name="strnr" />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="plz">
						{LANG:PLUGIN_PROFILE_PLZ},
						{LANG:PLUGIN_PROFILE_ORT}
					</label>
					<input required="required" type="text" id="plz" placeholder="{LANG:PLUGIN_PROFILE_PLZ}" name="plz" />
					<input required="required" type="text" id="ort" placeholder="{LANG:PLUGIN_PROFILE_ORT}" name="ort" /> 
				</div>
				<div class="formSelectWrapper">
					<label class="bold" for="kanton">{LANG:PLUGIN_PROFILE_KANTON}</label>
					<select name="kanton">
						<optgroup label="{LANG:PLUGIN_PROFILE_REGION}">
							<option {VAR:SELECTEDBS} value="{LANG:PLUGIN_PROFILE_BS}">
							{LANG:PLUGIN_PROFILE_BS}</option>
							<option {VAR:SELECTEDBL} value="{LANG:PLUGIN_PROFILE_BL}">
							{LANG:PLUGIN_PROFILE_BL}</option>
							<option {VAR:SELECTEDAG} value="{LANG:PLUGIN_PROFILE_AG}">
							{LANG:PLUGIN_PROFILE_AG}</option>
							<option {VAR:SELECTEDSO} value="{LANG:PLUGIN_PROFILE_SO}">
							{LANG:PLUGIN_PROFILE_SO}</option>
							<option {VAR:SELECTEDJU} value="{LANG:PLUGIN_PROFILE_JU}">
							{LANG:PLUGIN_PROFILE_JU}</option>
						</optgroup>
						<optgroup label="{LANG:PLUGIN_PROFILE_NOTCH}">
							<option {VAR:SELECTEDDE} value="{LANG:PLUGIN_PROFILE_GERMANY}">
							{LANG:PLUGIN_PROFILE_GERMANY}</option>
							<option {VAR:SELECTEDFRA} value="{LANG:PLUGIN_PROFILE_FRANCE}">
							{LANG:PLUGIN_PROFILE_FRANCE}</option>
						</optgroup>
						<optgroup label="{LANG:PLUGIN_PROFILE_OTHER}">
							<option {VAR:SELECTEDAR} value="{LANG:PLUGIN_PROFILE_AR}">
							{LANG:PLUGIN_PROFILE_AR}</option>
							<option {VAR:SELECTEDAI} value="{LANG:PLUGIN_PROFILE_AI}">
							{LANG:PLUGIN_PROFILE_AI}</option>
							<option {VAR:SELECTEDBE} value="{LANG:PLUGIN_PROFILE_BE}">
							{LANG:PLUGIN_PROFILE_BE}</option>
							<option {VAR:SELECTEDFR} value="{LANG:PLUGIN_PROFILE_FR}">
							{LANG:PLUGIN_PROFILE_FR}</option>
							<option {VAR:SELECTEDGE} value="{LANG:PLUGIN_PROFILE_GE}">
							{LANG:PLUGIN_PROFILE_GE}</option>
							<option {VAR:SELECTEDGL} value="{LANG:PLUGIN_PROFILE_GL}">
							{LANG:PLUGIN_PROFILE_GL}</option>
							<option {VAR:SELECTEDGR} value="{LANG:PLUGIN_PROFILE_GR}">
							{LANG:PLUGIN_PROFILE_GR}</option>
							<option {VAR:SELECTEDLU} value="{LANG:PLUGIN_PROFILE_LU}">
							{LANG:PLUGIN_PROFILE_LU}</option>
							<option {VAR:SELECTEDNE} value="{LANG:PLUGIN_PROFILE_NE}">
							{LANG:PLUGIN_PROFILE_NE}</option>
							<option {VAR:SELECTEDNW} value="{LANG:PLUGIN_PROFILE_NW}">
							{LANG:PLUGIN_PROFILE_NW}</option>
							<option {VAR:SELECTEDOW} value="{LANG:PLUGIN_PROFILE_OW}">
							{LANG:PLUGIN_PROFILE_OW}</option>
							<option {VAR:SELECTEDSH} value="{LANG:PLUGIN_PROFILE_SH}">
							{LANG:PLUGIN_PROFILE_SH}</option>
							<option {VAR:SELECTEDSZ} value="{LANG:PLUGIN_PROFILE_SZ}">
							{LANG:PLUGIN_PROFILE_SZ}</option>
							<option {VAR:SELECTEDSG} value="{LANG:PLUGIN_PROFILE_SG}">
							{LANG:PLUGIN_PROFILE_SG}</option>
							<option {VAR:SELECTEDTI} value="{LANG:PLUGIN_PROFILE_TI}">
							{LANG:PLUGIN_PROFILE_TI}</option>
							<option {VAR:SELECTEDTG} value="{LANG:PLUGIN_PROFILE_TG}">
							{LANG:PLUGIN_PROFILE_TG}</option>
							<option {VAR:SELECTEDUR} value="{LANG:PLUGIN_PROFILE_UR}">
							{LANG:PLUGIN_PROFILE_UR}</option>
							<option {VAR:SELECTEDVD} value="{LANG:PLUGIN_PROFILE_VD}">
							{LANG:PLUGIN_PROFILE_VD}</option>
							<option {VAR:SELECTEDVS} value="{LANG:PLUGIN_PROFILE_VS}">
							{LANG:PLUGIN_PROFILE_VS}</option>
							<option {VAR:SELECTEDZG} value="{LANG:PLUGIN_PROFILE_ZG}">
							{LANG:PLUGIN_PROFILE_ZG}</option>
							<option {VAR:SELECTEDZH} value="{LANG:PLUGIN_PROFILE_ZH}">
							{LANG:PLUGIN_PROFILE_ZH}</option>
						</optgroup>
					</select>
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="tel">{LANG:PLUGIN_PROFILE_TEL}</label>
					<input required="required" type="text" id="tel" name="tel" placeholder="079 ..." />
				</div>
				<div class="formFieldWrapper">
					<label class="bold" for="invite">{LANG:PLUGIN_REGISTER2_INVITE}</label>
					<input type="text" id="invite" name="invite" value="{VAR:INVITE}" />
				</div>
				<p>
					<input type="hidden" name="name" value="{VAR:USERNAME}" />
					<input type="hidden" name="email" value="{VAR:EMAIL}" />
					<input type="hidden" name="passwort" value="{VAR:PASSWORT}" />
					<input type="hidden" name="nlsm" value="{VAR:NLSM}" />
					<input type="hidden" name="nlob" value="{VAR:NLOB}" />
					<input name="plugin_register_submit" type="submit" value="{LANG:PLUGIN_REGISTER2_SUBMITTEXT}" id="submit_id" />
				</p>
			</fieldset>
		</div>
	</div>
</form>
{/IF:STEP2}
{IF:STEP3}
<p>
	{LANG:PLUGIN_REGISTER_REGISTEROK}
</p>
{/IF:STEP3}
{IF:STEP4}
<p>
	{LANG:PLUGIN_REGISTER_REGISTERFINISH} 
	<a href="./login.html">{LANG:PLUGIN_REGISTER_CLICKHERE}</a> 
	{LANG:PLUGIN_REGISTER_TOLOGIN}.
</p>
{/IF:STEP4}
