/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
Template Name: blinds
Author: Cosmin Cotor
Author ThemeForest URL: http://themeforest.net/user/cosmincotor
Author Website: http://pixek.com/
Version: 1.0.1
License: Commercial
*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Customized Framework CSS Rules Start                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
p > a {
	color: #649ae1;
}
a {
	color: #649ae1;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	color: #333;
}
input[type="text"], input[type="password"] {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	color: #999;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-radius: 3px;
}
textarea {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	color: #999;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-radius: 3px;
}
input:focus, textarea:focus {
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
}
input[type="submit"] {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.bold {font-weight:bold}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Customized Framework CSS Rules End                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.websiteWrapper {
}
.preloader {
	display: block;
	overflow: hidden;
	position: fixed;
	top: 0px;
	bottom: 0px;
	background: #f9f9f9 url(../images/common/preloader.gif) center center no-repeat;
	background-size: 48px 48px;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
.pageWrapper {
	padding-top: 100px;
	margin-bottom: 36px;
}
.pageContentWrapper {
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	background-color: #fff;
	border-radius: 3px;
}
.pageWrapper > *:last-child, .pageContentWrapper > *:last-child {
	margin-bottom: 0px;
}
.pageTitle {
	border-bottom: 3px solid #f0f0f0;
	padding-bottom: 22px;
	margin-top: 2px;
	margin-bottom: 23px;
}
.blockTitle {
	margin-bottom: 22px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Structure CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Customized Elements CSS Rules Start                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.buttonWrapper {
	border-radius: 3px;
}
.buttonDefault {
	background-color: #649ae1;
}
.alertBox {
	border-radius: 3px;
}
.highlightDefault {
	background-color: #649ae1;
}
.sectionBreak {
	border-color: rgba(0,0,0,0.12);
	margin-left: 24px;
	margin-right: 24px;
}
.quoteWrapper > .quoteAvatar, .quoteWrapper > blockquote {
	border-color: #f0f0f0;
}
.quoteWrapper > .quoteAvatar {
	border-radius: 3px;
}
.accordionButton {
	background-color: #f0f0f0;
	color: #666;
	border-radius: 3px;
}
.accordionContent {
	border-color: #f0f0f0;
	border-radius: 3px;
}
.largeImage {
	border-color: #f0f0f0;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Customized Elements CSS Rules Start                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Header CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.headerOuterWrapper {
	z-index: 9999;
	height: 72px;
	overflow: visible;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
}
.headerWrapper {
	padding-left: 24px;
	padding-right: 18px;
	z-index: 990;
	height: 140px;
	background-color: #258412;
}
.mainLogo {
	height: 100px;
	z-index: 990;
	margin-top: 22px;
	float: left;
}
.mainLogo > img {
	height: 100px;
	width: auto;
}
.headerLogo {
	height: 60px;
	margin-top: 3px;
	display: block;
	float: left;
}
.headerLogo > img {
	height: 60px;
	width: auto;
}
.mainMenuButton {
	float: right;
	height: 36px;
	width: 36px;
	background: url(../images/common/mainMenuButtonBg.png) center center no-repeat;
	margin-top: 18px;
}
.mainMenuOuterWrapper {
	width: 100%;
	background-color: #f9f9f9;
	z-index: 90;
}
.mainMenuWrapper {
	clear: both;
	display: block;
	padding-left: 0px;
	margin: 0px;
	width: 100%;
}
.mainMenuWrapper > li {
	line-height: 72px;
	margin-bottom: 0px;
	padding-left: 80px;
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #666;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
	background-position: 24px center;
	background-repeat: no-repeat;
}
.mainMenuWrapper > li:last-child {
	border-bottom: none;
}
.mainMenuWrapper > li > a {
	margin-left: 0px;
	color: #fff;
	font-size: 25px;
}
.mainMenuWrapper > li > a:hover {
	text-decoration: none;
}
.mainMenuWrapper > li:hover > a {
}
.mainMenuWrapper > li.currentPage > a {
}
.menuBanknote{
	background-image: url(../images/icons/menu/32x32/banknote.png);
}
.menuBubble{
	background-image: url(../images/icons/menu/32x32/bubble.png);
}
.menuBulb{
	background-image: url(../images/icons/menu/32x32/bulb.png);
}
.menuCalendar{
	background-image: url(../images/icons/menu/32x32/calendar.png);
}
.menuCamera{
	background-image: url(../images/icons/menu/32x32/camera.png);
}
.menuClip{
	background-image: url(../images/icons/menu/32x32/clip.png);
}
.menuClock{
	background-image: url(../images/icons/menu/32x32/clock.png);
}
.menuCloud{
	background-image: url(../images/icons/menu/32x32/cloud.png);
}
.menuCup{
	background-image: url(../images/icons/menu/32x32/cup.png);
}
.menuData{
	background-image: url(../images/icons/menu/32x32/data.png);
}
.menuDiamond{
	background-image: url(../images/icons/menu/32x32/diamond.png);
}
.menuDisplay{
	background-image: url(../images/icons/menu/32x32/display.png);
}
.menuEye{
	background-image: url(../images/icons/menu/32x32/eye.png);
}
.menuFire{
	background-image: url(../images/icons/menu/32x32/fire.png);
}
.menuFood{
	background-image: url(../images/icons/menu/32x32/food.png);
}
.menuHeart{
	background-image: url(../images/icons/menu/32x32/heart.png);
}
.menuKey{
	background-image: url(../images/icons/menu/32x32/key.png);
}
.menuLab{
	background-image: url(../images/icons/menu/32x32/lab.png);
}
.menuLike{
	background-image: url(../images/icons/menu/32x32/like.png);
}
.menuLocation{
	background-image: url(../images/icons/menu/32x32/location.png);
}
.menuLock{
	background-image: url(../images/icons/menu/32x32/lock.png);
}
.menuMail{
	background-image: url(../images/icons/menu/32x32/mail.png);
}
.menuMegaphone{
	background-image: url(../images/icons/menu/32x32/megaphone.png);
}
.menuMusic{
	background-image: url(../images/icons/menu/32x32/music.png);
}
.menuNews{
	background-image: url(../images/icons/menu/32x32/news.png);
}
.menuNote{
	background-image: url(../images/icons/menu/32x32/note.png);
}
.menuPaperPlane{
	background-image: url(../images/icons/menu/32x32/paper-plane.png);
}
.menuParameters{
	background-image: url(../images/icons/menu/32x32/parameters.png);
}
.menuPen{
	background-image: url(../images/icons/menu/32x32/pen.png);
}
.menuPhone{
	background-image: url(../images/icons/menu/32x32/phone.png);
}
.menuPhoto{
	background-image: url(../images/icons/menu/32x32/photo.png);
}
.menuSearch{
	background-image: url(../images/icons/menu/32x32/search.png);
}
.menuSettings{
	background-image: url(../images/icons/menu/32x32/settings.png);
}
.menuShop{
	background-image: url(../images/icons/menu/32x32/shop.png);
}
.menuSound{
	background-image: url(../images/icons/menu/32x32/sound.png);
}
.menuStack{
	background-image: url(../images/icons/menu/32x32/stack.png);
}
.menuStar{
	background-image: url(../images/icons/menu/32x32/star.png);
}
.menuStudy{
	background-image: url(../images/icons/menu/32x32/study.png);
}
.menuTag{
	background-image: url(../images/icons/menu/32x32/tag.png);
}
.menuTrash{
	background-image: url(../images/icons/menu/32x32/trash.png);
}
.menuTruck{
	background-image: url(../images/icons/menu/32x32/truck.png);
}
.menuTShirt{
	background-image: url(../images/icons/menu/32x32/t-shirt.png);
}
.menuTv{
	background-image: url(../images/icons/menu/32x32/tv.png);
}
.menuUser{
	background-image: url(../images/icons/menu/32x32/user.png);
}
.menuVideo{
	background-image: url(../images/icons/menu/32x32/video.png);
}
.menuVinyl{
	background-image: url(../images/icons/menu/32x32/vinyl.png);
}
.menuWallet{
	background-image: url(../images/icons/menu/32x32/wallet.png);
}
.menuWorld{
	background-image: url(../images/icons/menu/32x32/world.png);
}
.mainMenuHidden{
	background-color: #f0f0f0;
	position: absolute;
	top: 72px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
.mainMenuHidden > .mainMenuWrapper{
	height: 100%;
}
.mainMenuHidden > .mainMenuWrapper > li{
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: -72px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Header CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Slider CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sliderOuterWrapper {
	margin-bottom: 0px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
	z-index: 990;
}
.sliderWrapper {
	margin-bottom: 0px;
	overflow: visible;
}
.nivoSlider {
	position: relative;
	overflow: visible;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img {
	display: block;
	width: 100%;
	height: auto;
}
.nivoSlider {
	position: relative;
	background: #f0f0f0 url(../images/common/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: auto;
}
.nivoSlider a {
	border: 0;
}
.nivo-controlNav {
	display: none;
}
.nivo-directionNav {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	z-index: 99;
	height: 48px;
	width: 100%;
	background-color: transparent;
	pointer-events: none;
}
.nivo-directionNav a {
	width: 48px;
	height: 48px;
	background: #333 url(../images/common/sliderArrowsBg.png) 0 0 no-repeat;
	text-indent: -9999px;
	position: absolute;
	top: 0px;
	cursor: pointer;
	pointer-events: auto;
}
.mainSlider:hover .nivo-directionNav a {
	display: block;
}
a.nivo-nextNav {
	background-position: -48px 0px;
	right: 0px;
	border-radius: 3px 0px 0px 3px;
}
a.nivo-nextNav:hover {
}
a.nivo-prevNav {
	left: 0px;
	border-radius: 0px 3px 3px 0px;
}
a.nivo-prevNav:hover {
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Slider CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// ColorBox CSS Rules Start                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#cboxOverlay {
	background: #fff;
}
#colorbox {
}
#cboxContent {
	border-radius: 3px;
}
.cboxIframe {
	background: #333;
}
#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}
#cboxLoadedContent {
	border: 6px solid #333;
	background: #333;
	border-radius: 3px;
}
#cboxTitle {
	position: absolute;
	top: -20px;
	left: 0;
	color: #ccc;
}
#cboxCurrent {
	position: absolute;
	top: -20px;
	right: 0px;
	color: #ccc;
}
#cboxSlideshow {
	position: absolute;
	top: -20px;
	right: 90px;
	color: #fff;
}
#cboxPrevious {
	position: absolute;
	top: 50%;
	left: 6px;
	margin-top: -32px;
	background: url(../images/colorbox/controlsBg.png) no-repeat top left;
	width: 28px;
	height: 65px;
	text-indent: -9999px;
}
#cboxPrevious:hover {
	background-position: bottom left;
}
#cboxNext {
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -32px;
	background: url(../images/colorbox/controlsBg.png) no-repeat top right;
	width: 28px;
	height: 65px;
	text-indent: -9999px;
}
#cboxNext:hover {
	background-position: bottom right;
}
#cboxLoadingOverlay {
	background: #333;
}
#cboxLoadingGraphic {
	background: url(../images/colorbox/loading.gif) no-repeat center center;
}
#cboxClose {
	position: absolute;
	top: 6px;
	right: 6px;
	display: block;
	background: url(../images/colorbox/controlsBg.png) no-repeat top center;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
}
#cboxClose:hover {
	background-position: bottom center;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// ColorBox CSS Rules End                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Home Page CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.homePageWrapper {
	padding-bottom: 0px;
	margin-bottom:0px;
	padding-top: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Home Page CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio One CSS Rules Start                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioOneFilterablePageWrapper {
	margin-bottom: 0px;
}
.portfolioMenuWrapper {
	list-style: none;
	padding-left: 0px;
	padding-right: 12px;
	padding-top: 23px;
	margin-bottom: 36px;
	padding-bottom: 18px;
	margin-left: 24px;
	margin-right: 24px;
	background-color: #fff;
	border-radius: 3px;
	padding-left: 12px;
}
.portfolioMenuWrapper li {
	float: left;
	padding-left: 0px;
	padding-right: 15px;
	background: url(../images/common/portfolioFilterableMenuDecoBg.png) right center no-repeat;
	margin-right: 9px;
	margin-bottom: 4px;
}
.portfolioMenuWrapper > li:last-child {
	background: none;
	margin-right: 0px;
}
.portfolioMenuWrapper li a {
	color: #999;
}
.portfolioMenuWrapper li a:hover {
	text-decoration: none;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #649ae1;
}
.portfolioOneFilterableWrapper {
	padding-left: 24px;
	padding-right: 24px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemWrapper {
	margin-bottom: 36px;
	border-radius: 3px;
	background-color: #fff;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-radius: 3px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemInfoWrapper {
	background-color: #fff;
	padding-top: 21px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioOneFilterableWrapper .portfolioFilterableItemTitle {
	margin-bottom: 16px;
	height: 18px;
	padding-bottom: 0px;
}
.portfolioFilterableItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
}
.portfolioFilterableExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
}
.portfolioFilterableDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.portfolioFilterableExpandButton:hover, .portfolioFilterableDetailsButton:hover {
	text-decoration: none;
}
.filteredPortfolioItem {
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio One CSS Rules End                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio Two CSS Rules Start                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioTwoFilterablePageWrapper {
	margin-bottom: 0px;
}
.portfolioTwoFilterableWrapper {
	margin-left: 24px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemWrapper {
	float: left;
	margin-right: 36px;
	margin-bottom: 36px;
	border-radius: 3px;
	background-color: #fff;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-radius: 3px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemImageWrapper img {
	border-radius: 3px;
	width: 100%;
	height: auto;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemInfoWrapper {
	background-color: #fff;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 36px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioTwoFilterableWrapper .portfolioFilterableItemTitle {
	font-size: 12px;
	margin-bottom: 0px;
	height: 36px;
	line-height: 36px;
	padding-bottom: 0px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Filterable Portfolio Two CSS Rules End                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// One Column Portfolio CSS Rules Start                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioOnePageWrapper {
	margin-bottom: 0px;
}
.portfolioOneWrapper {
	padding-left: 24px;
	padding-right: 24px;
}
.portfolioOneItemWrapper {
	margin-bottom: 36px;
	background-color: #fff;
	border-radius: 3px;
}
.portfolioOneItemImageWrapper {
	border-radius: 3px;
}
.portfolioOneItemImageWrapper:hover {
}
.portfolioOneItemImageWrapper img {
	border-radius: 3px;
	width: 100%;
	height: auto;
}
.portfolioOneItemInfoWrapper {
	background-color: #fff;
	padding-top: 21px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.portfolioOneItemInfoWrapper > *:last-child {
	margin-bottom: 0px;
}
.portfolioOneItemTitle {
	margin-bottom: 16px;
	height: 18px;
	padding-bottom: 0px;
}
.portfolioOneHoverDeco {
}
.portfolioOneItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
}
.portfolioOneExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #e9e9e9 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
}
.portfolioOneDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #e9e9e9 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.portfolioOneExpandButton:hover, .portfolioOneDetailsButton:hover {
	text-decoration: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// One Column Portfolio CSS Rules End                                                                 */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Two Columns Portfolio CSS Rules Start                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolioTwoPageWrapper {
	margin-bottom: 0px;
}
.portfolioTwoWrapper {
	margin-left: 24px;
}
.portfolioTwoItemWrapper {
	float: left;
	margin-right: 36px;
	margin-bottom: 36px;
	border-radius: 3px;
	background-color: #fff;
}
.portfolioTwoItemImageWrapper {
	border-radius: 3px;
}
.portfolioTwoItemImageWrapper:hover {
	border-radius: 3px;
}
.portfolioTwoItemImageWrapper img {
	width: 100%;
	height: auto;
}
.portfolioTwoItemInfoWrapper {
	background-color: #fff;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 36px;
}
.portfolioTwoItemTitle {
	font-size: 12px;
	margin-bottom: 0px;
	height: 36px;
	line-height: 36px;
	padding-bottom: 0px;
}
.portfolioTwoHoverDeco {
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Two Columns Portfolio CSS Rules End                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Single Project Page CSS Rules Start                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.singleProjectPageWrapper > .pageContentWrapper {
	border-radius: 3px 3px 0px 0px;
}
.singleProjectImageWrapper {
	margin-right: 24px;
	margin-left: 24px;
	border: 3px solid #fff;
	margin-bottom: 36px;
	border-radius: 3px;
	background-color: #fff;
}
.singleProjectImage {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.singleProjectItemButtonsWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
	margin-left: 24px;
	margin-right: 24px;
	border-radius: 0px 0px 3px 3px;
}
.singleProjectExpandButton {
	height: 36px;
	line-height: 36px;
	float: left;
	padding-left: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioExpandButtonBg.png) left center no-repeat;
	padding-right: 12px;
}
.singleProjectDetailsButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/portfolioDetailsButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.singleProjectExpandButton:hover, .singleProjectDetailsButton:hover {
	text-decoration: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Single Project Page CSS Rules End                                                                  */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Page CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.blogPageWrapper {
	margin-bottom: 0px;
}
.blogPostsWrapper {
	margin-left: 24px;
	margin-right: 24px;
	overflow: visible;
}
.smallPostWrapper {
	margin-bottom: 36px;
	background-color: #fff;
	border-radius: 3px;
}
.postThumbnailWrapper {
	border-radius: 3px;
}
.postThumbnailWrapper img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}
.postThumbnailWrapper:hover {
}
.postExcerptWrapper {
	background-color: #fff;
	padding-top: 23px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 22px;
}
.postExcerptWrapper > *:last-child {
	margin-bottom: 0px;
}
.smallPostTitle {
	margin-bottom: 19px;
	height: 18px;
	padding-bottom: 0px;
}
.smallPostInfoWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #f6f6f6;
	padding-left: 12px;
	color: #666;
}
.postInfo {
	margin-right: 18px;
}
.postInfoNoMargin {
	margin-right: 0px;
}
.smallPostMoreButton {
	height: 36px;
	line-height: 36px;
	float: right;
	padding-right: 40px;
	color: #666;
	background: #f0f0f0 url(../images/skins/default/smallPostReadMoreButtonBg.png) right center no-repeat;
	padding-left: 12px;
}
.smallPostMoreButton:hover {
	text-decoration: none;
}
.smallPostQuote {
	padding-left: 28px;
	background: url(../images/common/quoteBg.png) 0 0 no-repeat;
	font-style: italic;
}
.smallPostQuoteAuthor {
	font-style: normal;
	color: #999;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Page CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Post CSS Rules Start                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.singlePostPageWrapper {
}
.singlePostContentWrapper {
	background-color: #fff;
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 24px;
	margin-right: 24px;
	padding-bottom: 27px;
	border-radius: 3px 3px 0px 0px;
}
.singlePostContentWrapper > *:last-child {
	margin-bottom: 0px;
}
.singlePostInfoWrapper {
	height: 36px;
	line-height: 36px;
	background-color: #fff;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	margin-bottom: 36px;
	border-radius: 0px 0px 3px 3px;
}
.commentsSectionWrapper {
	background-color: #fff;
	margin-bottom: 27px;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 23px;
	border-radius: 3px;
}
.commentsTitle {
	padding-top: 0px;
	margin-bottom: 22px;
}
.commentsSectionWrapper > .commentsWrapper {
	margin-bottom: 23px;
}
.commentsSectionWrapper > .commentsWrapper > .commentWrapper {
	padding-bottom: 21px;
	border-bottom: 1px solid #f0f0f0;
}
.commentsWrapper > .commentWrapper {
	margin-bottom: 27px;
}
.commentsWrapper > .commentWrapper:last-child {
	margin-bottom: 0px;
}
.commentAvatar {
	float: left;
	border: 3px solid #f0f0f0;
	border-radius: 3px;
}
.commentAvatar > img {
	border-radius: 3px;
	width: 100%;
	height: 100%;
}
.commentWrapper > .commentAvatar {
	width: 36px;
	height: 36px;
}
a.commentAvatar:hover {
}
.commentInfoWrapper {
	float: left;
	margin-left: 27px;
	margin-bottom: 0px;
	margin-top: 11px;
	padding-bottom: 0px;
}
.comment {
	margin-left: 69px;
	clear: both;
	border-top: 1px solid #f0f0f0;
	padding-top: 23px;
	top: -1px;
}
.comment > *:last-child {
	margin-bottom: 0px;
}
.commentsFormWrapper {
	margin-bottom: 27px;
}
.commentsForm {
}
.commentsFormTitle {
	margin-bottom: 18px;
}
.commentsForm .formFieldWrapper {
	margin-bottom: 23px;
}
.commentsForm .formTextareaWrapper {
	margin-bottom: 27px;
}
.commentsForm label {
	margin-bottom: 13px;
	width: 100%;
}
.commentsForm .formFieldWrapper input[type="text"], .commentsForm .formTextareaWrapper textarea {
	margin-bottom: 0px;
	background-color: #f3f3f3;
	border: 1px solid #f0f0f0;
}
.commentsForm .formFieldWrapper input[type="text"]:focus, .commentsForm .formTextareaWrapper textarea:focus {
	background-color: #f6f6f6;
}
.commentsForm .formFieldWrapper input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	height: 36px;
}
.commentCommentTextarea {
	width: 100%;
	box-sizing: border-box;
	height: 168px;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	height: 36px;
	line-height: 36px;
	background-color: #649ae1;
	padding-left: 12px;
	padding-right: 12px;
	float: right;
	color: #fff;
	border: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Blog Post CSS Rules End                                                                            */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// 404 Page CSS Rules Start                                                                           */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.errorSearchForm {
	margin-bottom: 27px;
}
#errorSearchFormField {
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	border-right: 0px;
	margin-bottom: 0px;
	background-color: #f3f3f3;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	color: #999;
}
input.errorSearchFormSubmitButton {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 36px;
	line-height: 36px;
	background-image: none;
	background-color: #649ae1;
	padding-left: 12px;
	border: none;
	color: #fff;
}
input#errorSearchFormField:focus {
	background-color: #f6f6f6;
}
input.errorSearchFormSubmitButton:hover {
	background-color: #649ae1;
	color: #fff;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// 404 Page CSS Rules End                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Contact Page CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contactPageWrapper {
}
.contactFormWrapper {
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #fff;
	padding-top: 23px;
	border-radius: 3px;
}
.contactForm {
	margin-bottom: 27px;
}
.contactTitle {
	margin-bottom: 18px;
	padding-top: 0px;
}
.contactForm .formFieldWrapper {
	margin-bottom: 23px;
}
.contactForm .formTextareaWrapper {
	margin-bottom: 36px;
}
.contactForm label {
	margin-bottom: 13px;
	width: 100%;
	box-sizing: border-box;
	height: 18px;
	line-height: 18px;
}
.contactForm .formFieldWrapper input[type="text"], .contactForm .formTextareaWrapper textarea {
	margin-bottom: 0px;
	box-sizing: border-box;
	background-color: #f3f3f3;
	border: 1px solid #f0f0f0;
	color: #999;
	border-radius: 3px;
}
.contactForm .formFieldWrapper input[type="text"]:focus, .contactForm .formTextareaWrapper textarea:focus {
	background-color: #f6f6f6;
}
.contactForm .formFieldWrapper input[type="text"] {
	width: 100%;
	height: 36px;
}
.contactTextarea {
	width: 100%;
	max-width: 100%;
	height: 168px;
	box-sizing: border-box;
}
input.contactSubmitButton, input.contactSubmitButton:hover {
	height: 36px;
	line-height: 36px;
	background-color: #649ae1;
	padding-left: 12px;
	padding-right: 12px;
	float: right;
	color: #fff;
	border: none;
}
.formValidationError {
	display: none;
	height: 36px;
	line-height: 36px;
	margin-left: 0px;
	color: #cc0000;
	float: left;
}
input.fieldHasError, textarea.fieldHasError {
}
.formSuccessMessageWrapper {
	display: none;
	margin-bottom: 4px;
}
.formSuccessMessageWrapper > h4 {
	background: url(../images/icons/smallIcons/16/2/iconCheckmarkBg16.png) 0 center no-repeat;
	padding-left: 28px;
}
.socialIconsWrapper {
	background-color: #fff;
	margin-left: 24px;
	margin-right: 24px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 27px;
	padding-bottom: 27px;
	height: 16px;
	text-align: center;
	vertical-align: baseline;
	margin-bottom: 36px;
	letter-spacing: -3px;
	border-radius: 3px;
}
.socialIconsWrapper > .socialIcon {
	display: inline-block;
	vertical-align: baseline;
	width: 16px;
	height: 16px;
	padding-left: 12px;
	padding-right: 12px;
	background-position: center center;
	background-repeat: no-repeat;
}
.contactMapWrapper {
	background-color: #fff;
	padding: 3px;
	padding-top: 23px;
	margin-bottom: 36px;
	margin-left: 24px;
	margin-right: 24px;
	border-radius: 3px;
}
.contactMap {
	display: block;
	overflow: hidden;
	height: 168px;
	width: 100%;
	margin: 0px;
	border: none;
	padding: 0px;
	box-sizing: border-box;
}
.mapTitle {
	margin-bottom: 22px;
	margin-left: 9px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Contact Page CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Page Numbers CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pageNumbersWrapper {
	margin-top: 0px;
	clear: both;
	margin-bottom: 36px;
	margin-left: 24px;
	margin-right: 24px;
	padding-top: 24px;
	padding-bottom: 24px;
	border-radius: 3px;
	background-color: #fff;
	padding-left: 12px;
}
.pageNumber {
	height: 24px;
	line-height: 24px;
	width: 24px;
	float: left;
	margin-right: 12px;
	background-color: #f0f0f0;
	color: #999;
	text-align: center;
	border-radius: 3px;
}
.pageNumber:hover {
	text-decoration: none;
	background-color: #f0f0f0;
}
.currentPageNumber {
	background-color: #649ae1;
	color: #fff;
	font-weight: bold;
}
.currentPageNumber:hover {
	background-color: #649ae1;
	color: #fff;
}
.postLinksWrapper {
	height: 36px;
	line-height: 36px;
	clear: both;
	margin-right: 24px;
	margin-left: 24px;
	margin-bottom: 36px;
	background-color: #fff;
	border-radius: 3px;
}
.postLink {
	padding-left: 12px;
	padding-right: 12px;
}
.postLink:hover {
	text-decoration: none;
}
.previousPost {
	float: left;
	display: inline-block;
	height: 36px;
	line-height: 36px;
}
.nextPost {
	float: right;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Page Numbers CSS Rules End                                                                         */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Footer CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footerWrapper {
	padding-left: 24px;
	padding-right: 24px;
	background-color: #333;
	height: 72px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.12);
}
.footerWrapper a {
	color: #649ae1;
}
.copyrightWrapper {
	height: 72px;
	line-height: 72px;
	clear: both;
}
.copyright {
	color: #fff;
	display: inline;
	float: left;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Footer CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Reset CSS Rules Start                                                                              */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.noPadding {
	padding: 0px;
}
.noMargin {
	margin: 0px;
}
.noBackground {
	background: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Reset CSS Rules End                                                                                */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


